.vnt-slide-home{
	position: relative;
	overflow: hidden;
}
#vnt-slide-home .item{
	position: relative;
}
#vnt-slide-home .caption{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all 0.5s linear 0.5s;
	-o-transition: all 0.5s linear 0.5s;
	transition: all 0.5s linear 0.5s;
	opacity: 0;
	visibility: hidden;
	text-align: center;
}
#vnt-slide-home .caption .t1{
	font-size: 55px;
	line-height: 65px;
	font-weight: bold;
	color:#ffffff;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	padding-bottom: 20px;
	margin-bottom: 25px;
	position: relative;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}
#vnt-slide-home .caption .t1:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 50px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	border-bottom: solid 3px #ffffff;
}
#vnt-slide-home .caption .link a {
    display: inline-block;
    background: rgba(0,0,0,0.6);
    border: solid 1px #ffffff;
    color: #ffffff;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    padding: 10px 33px;
}
#vnt-slide-home .caption .link a:hover{
	background: #ffffff;
	color:#333333;
}
#vnt-slide-home .item.slick-current .caption{
	opacity: 1;
	visibility: initial;
}
#vnt-slide-home .slick-arrow{
	width:20px;
	height:30px;
	background: none;
	border:none;
	position: absolute;
	top: 50%;
	font-size: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#ffffff;
}
#vnt-slide-home .slick-prev{
	left:30px;
}
#vnt-slide-home .slick-next{
	right:30px;
}
#vnt-slide-home .slick-arrow:before{
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 50px;
	line-height: 58px;
}
#vnt-slide-home .slick-prev:before{
	content: "\f104";
}
#vnt-slide-home .slick-next:before{
	content: "\f105";
}
#vnt-slide-home .slick-arrow:hover{
	color:#bd9352;
}
#vnt-slide-home .slick-dots{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
}
#vnt-slide-home .slick-dots li{
	display: inline-block;
	margin: 0 5px;
}
#vnt-slide-home .slick-dots li button{
	width:10px;
	height:10px;
	background: transparent;
	border-radius: 100%;
	font-size: 0;
	padding:0;
	border:solid 2px #ffffff;
}
#vnt-slide-home .slick-dots li.slick-active button{
	background: #0eaaec;
	border-color: #0eaaec;
}
#scroll_down{
    position: absolute;
    width: 100px;
    text-align: center;
    bottom: 0;
    left: 50%;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    transform:translate(-50%,0);
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 10px rgba(0,0,0,1);
    cursor: pointer;
}
#scroll_down span{
    position: relative;
    z-index: 2;
}
#scroll_down:before{
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    opacity: 0;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -o-transform:scale(0.5);
    -ms-transform:scale(0.5);
    transform:scale(0.5);
}
#scroll_down:hover:before{
    opacity: 1;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
}
#scroll_down:after{
    position: absolute;
    font-family: fontawesome;
    content: '\f0d7';
    color: #ffffff;
    bottom: 10px;
    left: 50%;
    margin-left: -5px;
    animation: bounce1 2s infinite;
    -webkit-animation: bounce1 2s infinite;
    -moz-animation: bounce1 2s infinite;
    -o-animation: bounce1 2s infinite;
}
@-webkit-keyframes bounce1 {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {transform: translateY(-8px);}
    60% {transform: translateY(-5px);}
}

@-moz-keyframes bounce1 {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {transform: translateY(-8px);}
    60% {transform: translateY(-5px);}
}

@-o-keyframes bounce1 {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {transform: translateY(-8px);}
    60% {transform: translateY(-5px);}
}
@keyframes bounce1 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-8px);}
    60% {transform: translateY(-5px);}
}
/*=========================================================*/
.boxHome .title{
	text-align: center;
	margin-bottom: 40px;
}
.boxHome .title h2{
	font-size: 36px;
	line-height: 44px;
	color:#666666;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}
.boxHome .title h2 span{
	color:#E5CB6C;
}
.boxHome .title .des{
	font-size: 15px;
	line-height: 23px;
	color:#666666;
	max-width: 1000px;
	margin:0 auto;
}
/*=========================================================*/
.productHome{
	padding-top: 65px;
	background-image: url(../images/per_footer.png);
	background-position: top;
	background-repeat: repeat-x;
}
#slideProduct .item{
	border-right: solid 1px #ffffff;
	position: relative;
}
#slideProduct .img{
	padding-top: 166.666666%;
	position: relative;
	overflow: hidden;
}
#slideProduct .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#slideProduct .tend{
	position: absolute;
	bottom:-webkit-calc(50% + 15px);
	bottom:-moz-calc(50% + 15px);
	bottom:-o-calc(50% + 15px);
	bottom:calc(50% + 15px);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	max-width: 90%;
	text-align: center;
	z-index: 3;
	pointer-events: none;
}
#slideProduct .tend h3{
	font-size: 26px;
	line-height: 34px;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}
#slideProduct .item:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(189, 147, 82, 0.9);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	pointer-events: none;
}
#slideProduct .item:hover:before{
	opacity: 1;
	visibility: initial;
}
#slideProduct .item:after{
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 2;
	border-bottom: solid 1px #ffffff;
	width: 0;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#slideProduct .item:hover:after{
	width:60px;
}
#slideProduct .slick-arrow{
	width: 40px;
	height: 40px;
	background: #ffffff;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	border:none;
	font-size: 0;
	z-index: 1;
	bottom: 40px;
	color:#666666;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#slideProduct .slick-arrow:before{
	font-family: fontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 22px;
	line-height: 30px;
}
#slideProduct .slick-prev{
	margin-left: -20.5px;
}
#slideProduct .slick-next{
	margin-left: 20.5px;
}
#slideProduct .slick-prev:before{
	content: "\f104";
}
#slideProduct .slick-next:before{
	content: "\f105";
}
#slideProduct .slick-arrow:hover{
	background: #bd9352;
	color:#ffffff;
}
/*=========================================================*/
.newsHome {
    padding: 65px 0 45px;
    background-image: url(../images/per_footer.png),url(../images/bg1.png);
    background-position: top, bottom left;
    background-repeat: repeat-x, no-repeat;
    background-color: #f7f7f7;
}
#slideNews .slick-list{
	margin: 0 -15px;
	padding: 10px 0;
}
#slideNews .item{
	padding: 0 15px;
}
#slideNews{
	padding-bottom: 70px;
}
#slideNews .slick-arrow{
	width: 25px;
	height: 35px;
	background: transparent;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	border:none;
	font-size: 0;
	z-index: 1;
	bottom: 0px;
	color:#E5CB6C;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#slideNews .slick-arrow:before{
	font-family: fontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 40px;
	line-height: 40px;
}
#slideNews .slick-prev{
	margin-left: -20.5px;
}
#slideNews .slick-next{
	margin-left: 20.5px;
}
#slideNews .slick-prev:before{
	content: "\f053";
}
#slideNews .slick-next:before{
	content: "\f054";
}
#slideNews .slick-arrow:hover{
	color:#333333;
}
.news{
	position: relative;
}
.news .img{
	position: absolute;
	top: 20px;
	left: 0;
	width: 270px;
}
.news .img a{
	display: block;
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
}
.news .img a img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.news .img:hover a img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.news .wrap{
	padding-left: 230px;
}
.news .caption{
	background: #ffffff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
	padding: 30px;
	padding-left: 70px;
}
.news .date{
	font-size: 13px;
	line-height: 21px;
	color:#bd9352;
	font-style: italic;
	margin-bottom: 12px;
}
.news .tend{
	margin-bottom: 15px;
}
.news .tend a{
	display: block;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	max-height:72px;
	overflow: hidden;
}
.news .des{
	color:#666666;
	max-height: 88px;
	overflow: hidden;
}
.linkAll a{
	display: inline-block;
	width:100%;
	max-width: 370px;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	padding: 14px 15px;
	border:solid 3px #e9e9e9;
	text-transform: uppercase;
	color:#999999;
}
.linkAll a:hover{
	background: #E5CB6C;
	border-color: #E5CB6C;
	color:#ffffff;
}
.linkAll a span{
	padding-right: 40px;
	position: relative;
}
.linkAll a span:before{
	content: "\f067";
	font-family: fontAwesome;
	position: absolute;
	right:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*============================================================*/
.partnerHome{
	padding: 70px 0 80px;
	background: url(../images/bg2.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.partnerHome:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1;
}
.partnerHome .wrapper{
	position: relative;
	z-index: 1;
}
.partnerHome .boxHome .title h2,
.partnerHome .boxHome .title .des{
	color:#ffffff;
}
#slidePartner .slick-list{
	margin: 0 -15px;
}
#slidePartner .item{
	padding: 0 15px;
}
#slidePartner a{
	display: block;
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
	background: #ffffff;
}
#slidePartner a img{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width:85%;
	max-height:85%;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    backface-visibility: hidden;
}
#slidePartner a:hover img{
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}
#slidePartner .slick-arrow{
	width:20px;
	height:30px;
	background: none;
	border:none;
	position: absolute;
	top: 50%;
	font-size: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#ffffff;
}
#slidePartner .slick-prev{
	left:-50px;
}
#slidePartner .slick-next{
	right:-50px;
}
#slidePartner .slick-arrow:before{
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 50px;
	line-height: 58px;
}
#slidePartner .slick-prev:before{
	content: "\f104";
}
#slidePartner .slick-next:before{
	content: "\f105";
}
#slidePartner .slick-arrow:hover{
	color:#bd9352;
}
/*=========================================================*/
.projectHome{
	padding-top: 65px;
	background-image: url(../images/per_footer.png);
	background-position: top;
	background-repeat: repeat-x;
}
.gridMa{
	margin:0 -1px;
}
.gridMa:after{
	content: "";
	display: block;
	clear: both;
}
.gridMa .colC{
	width: 25%;
}
.gridMa .col{
	width: 25%;
	padding: 0 1px;
	margin-bottom: 2px;
}
.gridMa .col.v2{
	width: 50%;
	padding: 0 1px;
	margin-bottom: 2px;
}
.project{
	overflow: hidden;
	position: relative;
}
.project .img{
	padding-top: 66.3%;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.project.v1 .img{
	padding-top: 66.5%;
}
.project.v2 .img{
	padding-top: 133.333333%;
}
.project.v3 .img{
	padding-top: 33.333333%;
}
.project .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project .tend {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	background: rgba(0,0,0,0.75);
	padding: 13px 20px;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}
.project:hover .tend{
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}
.project .tend h3{
	display: block;
	font-size: 16px;
	line-height: 24px;
	color:#ffffff;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.Desproject{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
	background: #bd9352;
}
.Desproject .caption{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.Desproject .txt{
	color:#ffffff;
	text-align: center;
	max-width: 265px;
	margin-bottom: 20px;
}
.Desproject .link a {
    display: block;
    color: #ffffff;
    font-weight: bold;
    border: solid 1px #ffffff;
    padding: 6px 23px;
}
.Desproject .link a:hover{
	background: #ffffff;
	color:#bd9352;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 1024px){
.news .wrap{
	padding-left: 200px;
}
.news .img{
	width: 240px;
}
}

@media all and (max-width: 991px){
.boxHome .title h2{
	font-size: 22px;
	line-height: 30px;
}
.news .wrap {
    padding-left: 145px;
}
.news .img{
	width: 160px;
}
.news .caption{
	padding: 20px;
	padding-left: 35px;
	padding-bottom: 55px;
}
.news .date,
.news .des{
	display: none;
}
.news .tend a{
	font-size: 13px;
	line-height: 21px;
	max-height: 84px;
}
.partnerHome,
.newsHome,
.projectHome,
.productHome{
	padding: 40px 0 50px;
}
#slidePartner .slick-list{
	margin: 0 -10px;
}
#slidePartner .item{
	padding: 0 10px;
}
.project .tend h3{
	font-size: 14px;
	line-height: 22px;
}
}

@media all and (max-width: 768px){
#slideProduct .tend h3{
	font-size: 20px;
	line-height: 30px;
}
.gridMa .col.v2,
.gridMa .col{
	width: 50%;
}
.Desproject{
	display: none;
}
}

@media all and (max-width: 400px){
.gridMa .col.v2,
.gridMa .col{
	width: 100%;
}
}