<!-- BEGIN: manage -->
<form action="{data.link_action}" method="post" name="f_config" id="f_config" >
{data.err}
<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">
	<tr class="row_title" >
		<td colspan="2" ><strong class="font_title">Search Engine Optimization (SEO):</strong></td>
	</tr>
   <tr>
      <td class="row1" valign="top" >Friendly Title :</td>
      <td class="row0"><input name="friendly_title" id="friendly_title" type="text" size="70" maxlength="250" value="{data.friendly_title}" class="textfield"></td>
    </tr>
    <tr>
      <td class="row1">Meta Keyword :</td>
      <td class="row0"><input name="metakey" id="metakey" type="text" size="70" maxlength="250" value="{data.metakey}" class="textfield"></td>
    </tr>
    <tr>
      <td class="row1">Meta Description : </td>
      <td class="row0"><textarea name="metadesc" id="metadesc" rows="3" cols="50" style="width:90%" class="textarea">{data.metadesc}</textarea></td>
    </tr>
</table> 
 <br>



<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">
	<tr class="row_title" >
		<td colspan="2" ><strong class="font_title">{LANG.manage_setting}</strong></td>
    <tr >
      <td  align="right" class="row1"> <strong>{LANG.w_avatar} : </strong></td>
      <td  align="left" class="row0"><input name="w_avatar" type="text" size="20" maxlength="250" value="{data.w_avatar}" class="textfiled"></td>
    </tr>
    
    <tr >
     <td   class="row1"  align="right"> <strong>Điểm mặc định khi đăng ký thành viên: </strong></td>
       <td  class="row0" > <input name="money_default" type="text"  size="30" maxlength="250" value="{data.money_default}"><strong>Điểm</strong></td>
    </tr>
       
    
    <tr >
      <td width="30%" align="right" class="row1"> <strong>{LANG.active_method} : </strong></td>
      <td  align="left" class="row0">{data.active_method}</td>
    </tr>
    <tr >
      <td  align="right" class="row1"> <strong>{LANG.group_default} : </strong></td>
      <td  align="left" class="row0">{data.group_default}</td>
    </tr>
    <tr >
      <td  align="right" class="row1"> <strong>{LANG.insert_maillist} : </strong></td>
      <td  align="left" class="row0">{data.insert_maillist}</td>
    </tr>


    <tr >
        <td width="20%" align="right" class="row1"> <strong>{LANG.term_of_register} : </strong></td>
        <td  align="left" class="row0">{data.term_of_register}</td>
    </tr>


    <tr >
        <td width="20%" align="right" class="row1"> <strong>Thông báo đăng ký thành công: </strong></td>
        <td  align="left" class="row0">{data.mess_register_success}</td>
    </tr>

 
</table>
 
<p align="center">
			<input type="hidden" name="num" value="{data.num}">
      <input type="hidden" name="do_submit" value="1">
      <input type="submit" name="btnEdit" value="Update >>" class="button">
</p>
</form>
<br />
<!-- END: manage -->