/*ICON*/
.icon-home {
	background:url(../images/icon/icon-home.png) left no-repeat;
	padding-left:40px;
	display:block;
	line-height:36px;
}
.icon-config {
	background:url(../images/icon/icon-config.png) left no-repeat;
	padding-left:40px;
	display:block;
	line-height:36px;
}
.icon-admin {
	background:url(../images/icon/icon-admin.png) left no-repeat;
	padding-left:40px;
	display:block;
	line-height:36px;
}
		/*------------- BOX CONER -------------*/
	/** rounded corners **/
	div#toolbar-box {
		background: #f7f7f7;  
	}
	
	div#element-box {
		background: #fff;  
	}
	
	div#element-box div.section-box div.m {
		background: #fbfbfb;
	
	}
	
	div.t, div.b {
		height: 6px;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}
	
	div.m {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		padding: 0 8px;
	}
	
	div#element-box div.section-box {
  background: #fbfbfb;  
}


div#element-box div.section-box div.t {
  background: url(../images/box/j_border.png) 0 0 repeat-x;
}


div#element-box div.section-box div.t div.t {
   background: url(../images/box/j_crn_tr_med.png) 100% 0 no-repeat;
}


div#element-box div.section-box div.t div.t div.t {
   background: url(../images/box/j_crn_tl_med.png) 0 0 no-repeat;
}


div#element-box div.section-box div.b {
  background: url(../images/box/j_border.png) 0 100% repeat-x;
}


div#element-box div.section-box div.b div.b {
   background: url(../images/box/j_crn_br_med.png) 100% 0 no-repeat;
}


div#element-box div.section-box div.b div.b div.b {
   background: url(../images/box/j_crn_bl_med.png) 0 0 no-repeat;
}

div#element-box div.t {
  background: url(../images/box/j_border.png) 0 0 repeat-x;
}

div#element-box div.t div.t {
   background: url(../images/box/j_crn_tr_light.png) 100% 0 no-repeat;
}

div#element-box div.t div.t div.t {
   background: url(../images/box/j_crn_tl_light.png) 0 0 no-repeat;
}

div#element-box div.b {
  background: url(../images/box/j_border.png) 0 100% repeat-x;
}

div#element-box div.b div.b {
   background: url(../images/box/j_crn_br_light.png) 100% 0 no-repeat;
}

div#element-box div.b div.b div.b {
   background: url(../images/box/j_crn_bl_light.png) 0 0 no-repeat;
}

	/***************** FONT ***********************/
	.font_title{
		color:#B84120;
		font-weight:bold;
	
	}
	.font_title a:link ,
	.font_title a:visited ,
	.font_title a:active  {
		color:#FE9500;
		font-weight:bold;
	}
	.font_title a:hover{
		color:#FE9500;
		font-weight:bold;
		text-decoration:none;
	}
	
	
	.font_nav{
		color:#B84120;
		font-weight:bold;
	}
	.font_nav a:link ,
	.font_nav a:visited ,
	.font_nav a:active  {
		color:#FE9500;
		font-weight:bold;
	}
	.font_nav a:hover{
		color:#FE9500;
		font-weight:bold;
		text-decoration:none;
	}
	
	.font_lang,
	.font_lang a:link,
	.font_lang a:visited,
	.font_lang a:active{
		text-decoration: none;
		color: #000000;
		font-weight:bold;
		font-size:11px; 
	}
	
	.font_lang a:hover{
		text-decoration: none;
		color: #E12E39; 
		font-weight:bold;
		font-size:11px; 
	}
	
	.font_lang_act,
	.font_lang_act a:link,
	.font_lang_act a:visited,
	.font_lang_act a:active{
		text-decoration: none;
		font-weight:bold;
		font-size:11px; 
		color: #E12E39 ;
	}
	
	/* ---- TABLE ------*/
	/** Table styles **/
	
	table.adminlist {
		width: 100%;
		border-spacing: 1px;
		background-color: #e7e7e7;
		color: #666;
	}
	
	table.adminlist td,
	table.adminlist th { padding: 2px; }
	
	table.adminlist thead th {
 		color: #666;
		border-bottom: 1px solid #999;
		border-left: 1px solid #fff;
		padding-left:10px;
	}
	
	table.adminlist thead a:hover { text-decoration: none; }
	
	table.adminlist thead th img { vertical-align: middle; }
	
	table.adminlist tbody th { font-weight: bold; }
	
	table.adminlist tbody tr.row_title 	{ background: #f0f0f0; }
	table.adminlist tbody tr.row_title td { background: #f0f0f0; }
	
	table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
	table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }
	
	
	table.adminlist tbody tr.row0:hover td,
	table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }
	
	table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; position:relative; }
	table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }
	
	table.adminlist tbody tr.row_select 	{ background: #F4EAD2; border-top: 1px solid #fff; }
	table.adminlist tbody tr.row_select td { background: #F4EAD2; border-top: 1px solid #FFF; }
	
	table.adminlist tfoot tr { text-align: center;  color: #333; }
	table.adminlist tfoot td,
	table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }
	
	table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
	table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }
	 
	table.adminlist td .icon_hidden { margin-left:5px;}
 	
	.jeip-saving {
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: left;
		background-color: #903;
		color: #fff;
		padding: 0 2px 0 20px;
	}
	
	.jeip-mouseover, .jeip-editfield {
		background-color: #ffff99;
		width:90%;
		padding:3px 5px;
	}
	
	table.admintable {
		width: 100%;
		border-spacing: 1px;
		background-color: #e7e7e7;
		color: #666;
	}
	
	table.admintable td,
	table.admintable th { padding: 3px; }
	
	table.admintable thead th {
		text-align: center;
		background: #f0f0f0;
		color: #666;
	}
	
	table.admintable tbody th { font-weight: bold; }
	
	table.admintable tbody tr.row_title 	{ background: #f0f0f0; }
	table.admintable tbody tr.row_title td { background: #f0f0f0; }
	
	table.admintable tbody tr			{  text-align: left; }
	table.admintable tbody tr.row0 	{ background: #fff; border-top: 1px solid #fff; }
	table.admintable tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }
	
	table.admintable tbody tr td.row0 	{ background: #fff; border-top: 1px solid #fff; }
	table.admintable tbody tr td.row1 	{ background: #f9f9f9; border-top: 1px solid #fff;font-weight:bold; }
	
	table.admintable tbody tr td 	   { height: 25px;  border: 1px solid #fff; }
	table.admintable tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF;  }
	
	.admintable input {
		border:1px solid #DCDCDC;
		padding:2px;
	}
	
	.admintable input.error {
		border:1px dotted #ff0000;
	} 
	 
	.admintable label.error { margin-left: 10px; padding: 5px; background: #B70002; color: #FFF; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
	 
	/*------- END TABLE -----*/
	
	.spanUpdate { background:#FFCCCC; color:#FF0000;padding:2px; }
	.icon_main  a {
		background:#f9f9f7;
		display: block;
		height: 97px !important;
		height: 100px; 
		width: 108px !important;
		width: 110px; 
		vertical-align: middle; 
		text-decoration : none;
		border: 1px solid #DDD;
		padding: 2px 5px 1px 5px;
		color:#b84120;
		font-weight:bold;
		font-size:10px;
	
	}
	.icon_main img {
		margin-top:13px;
	}
	
	.icon_main a:hover   { 
		color : #333; 
		background-color: #f1e8e6;  
		border: 1px solid #c24733;
		padding: 3px 4px 0px 6px;
	}
	.icon_main span {
		display:block;
		padding-top:3px;
	}
	
	.picture .del { background:url(../images/delete.gif) no-repeat; width:16px; height:16px; display:inline-block; line-height:16px; padding-left:18px; }
	.div_upload { margin-top:5px;}
	
	/***************************** Phan trang  *****************************/
	.pagecur {
		background: #FFFFFF;
		border: 1px solid #C7C7B1;
		padding: 1px 5px 1px 5px;
		font-weight: bold;
		color: #FD5B2A;
	}
	.pagelink {
		background: #EFEFE9;
		border: 1px solid #C7C7B1;
		padding: 1px 5px 1px 5px;
	}
	
	.pagelink a:link,
	.pagelink a:visited,
	.pagelink a:active{
		color: #B84120 !important;
		text-decoration: none;
	}
	.pagelink a:hover{
		color: #FD5B2A !important;
		text-decoration: none;
	}
	
	
	
	.red{color:#FF0000;}
	.blue{color:#0000FF;}
	.chose { color:#FF6600}
	.font_small {	font-size:10px;}
	
	/********************** Banner Quang cao ****************************/
	.title {
		background:#0099FF;
		height:20px;
		text-align:center;
	}
	
	.tblBorder {
		border:1px solid #0066FF;
		padding-top:5px;
		height:300px;
		overflow:auto;
		border-right-width:thick;
	}
	
	.tblBorder_1 {
		border:1px solid #0066FF;
		padding-top:5px;
		height:100px;
		overflow:auto;
		border-right-width:thick;
	}
	

.ISSelect {
	padding:5px;
	border: 1px solid #7F9DB9;
	float: left;
	height: 150px;
	overflow: auto;
	width: 300px;	
}
.ISSelect ul {list-style:none;}
.ISSelect li {padding:2px;}
.ISSelect li.select {
	background:#316AC5;
  border-bottom: 1px solid #316AC5;
  border-top: 1px solid #316AC5;
  color: #FFFFFF;	
}

/* CSS MXH */
.desc_title {
    color: #535353;
    cursor: pointer;
    font-weight: bold;
}
.desc_content { }
.divGoogle {padding:5px;}
.title_mxh{
	color:#1122CC;
	font-weight:bold;
	text-decoration:underline;
} 

.link_mxh{
	color:#0b9022;
	padding:5px 0px;
}
.description_mxh { color:#444444; }  
.divFacebook { background:#f7f7f7; border:1px solid #e4e4e4; overflow:hidden; margin:5px;}
.divFacebook .face-img { float:left; margin-right:5px; width:120px; height:120px;}
.divFacebook .face-info {padding:5px;}
.divFacebook .title_mxh { color:#3b5998;}
.divFacebook .link_mxh { color:#808080;}
.divFaceBook .description_mxh { color:#808080;}



/* System Messages */
dl#system-message { margin-bottom: 10px; padding: 5px; border: 1px dashed #ccc; background:#FFCC99 }

#system-message dt { font-weight: bold; background: url(../images/icon_info.png) no-repeat; text-indent: 20px; color:#FF0000}
#system-message dd { margin: 0; font-size: 12px;  padding-left: 20px; }

/* System Standard Messages */

#system-message dd.message {  }
#system-message dd.message ul { line-height: 16px;color: #333;list-style: none;  padding: 0;}

/* System Error Messages */
#system-message dd.error {  }
#system-message dd.error ul { line-height: 16px;color: #f00;list-style: none; background: url(../images/icon_error.gif) no-repeat; padding: 0;}
#system-message  li{
	color:#FF0000;	
}


tr .form-invalid {
	background-color:#FFEBE8 !important;
}	

tr .form-invalid td {background-color:#FFEBE8 !important;}
