/**** 13/01/2016 ****/
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto/RobotoBold.eot');
    src: url('fonts/Roboto/RobotoBold.eot') format('embedded-opentype'),
    url('fonts/Roboto/RobotoBold.woff2') format('woff2'),
    url('fonts/Roboto/RobotoBold.woff') format('woff'),
    url('fonts/Roboto/RobotoBold.ttf') format('truetype'),
    url('fonts/Roboto/RobotoBold.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/Roboto/RobotoRegular.eot');
    src: url('fonts/Roboto/RobotoRegular.eot') format('embedded-opentype'),
    url('fonts/Roboto/RobotoRegular.woff2') format('woff2'),
    url('fonts/Roboto/RobotoRegular.woff') format('woff'),
    url('fonts/Roboto/RobotoRegular.ttf') format('truetype'),
    url('fonts/Roboto/RobotoRegular.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.c_skin {
    padding: 0 20px;
}
.c_skin div.c_title {
    background: url("../images/arr_c_skin.png") no-repeat left center;
    line-height: 22px;
    padding: 8px 0 8px 20px;
    border-bottom: 2px solid rgba(15,42,52,0.5);
    color: #777777;
    font-size: 14px;
    font-family: 'RobotoBold';
    text-transform: uppercase;
}
.skin_row {
    padding: 30px 0;
    border-bottom: 1px solid #cfd4d7;
}
.skin_row:last-child {
    border-bottom: none;
}
.skin_row label {
    line-height: 40px;
}
.skin_row input {
    float: left;
    height: 14px;
    width: 14px;
    margin-top: 13px;
}
.skin_row img {
    float: left;
    margin: 0 20px 0 15px;
}
.c_skin_footer {
    background: #f2f2f2;
    padding: 25px;
    margin: -1px;
    text-align: right;
}
.postbox h3{
    background: #8bb949;
    text-shadow: none;
    font-size: 14px;
    line-height: 22px;
    font-family: 'RobotoBold';
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    padding:7px 9px 7px 35px;
    position: relative;
}
.postbox h3:after{
    position: absolute;
    font-family:"fontawesome";
    content:"\f0c9";
    top:7px;
    left: 10px;
}
.postbox .handlediv{
    float: right;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
}
.postbox .handlediv:after{
    position: absolute;
    content:'';
    top: 17px;
    left: 12px;
    border: 6px solid transparent;
    border-top-color: #D4D4D4;
    opacity: 0;
    -webkit-transition:opacity 0.5s ease;
    -moz-transition:opacity 0.5s ease;
    -o-transition:opacity 0.5s ease;
    transition:opacity 0.5s ease;
}
.postbox:hover .handlediv{
    background: none;
}
.postbox:hover .handlediv:after{
    opacity: 1;
}

.button.newButton {
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'RobotoBold';
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    border-radius:0px;
    border: 0px solid #c0c0c0;
    padding: 5px 15px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    background: #8bb949;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button.newButton:hover{
    color: #ffffff;
    background: #33373b;
}
.button.newButton:focus,
.button.newButton:active{
    outline: none;
}


#admin-menu .newMenu .menu-title{
    min-height: 40px;
    background-color: #8BB949;
    background-image: none;
    color: #FFF;
    width: 100%;
    border: none;
    border-bottom: 1px solid #8BB949;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    font-weight: normal;
    padding: 0;
    -webkit-transition:background-color 0.8s ease;
    -moz-transition:background-color 0.8s ease;
    -o-transition:background-color 0.8s ease;
    transition:background-color 0.8s ease;
    position: relative;
}
#admin-menu .newMenu .menu-title:before{
    position: absolute;
    font-family:"FontAwesome";
    content:"\f067";
    top:10px;
    left: 20px;
    font-size: 14px;
    z-index: 1;
}
#admin-menu .newMenu .menu-title.active:before{
    content:"\f068";
}
#admin-menu .newMenu .menu-title h2{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    padding:9px 10px 9px 40px;
    z-index: 1;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}