.border_cart {
	background:#DBDADA;
}
.row_title_cart {
	background:#F0F0F0;
	color:#B84120;
	padding:3px;
	height:25px;
}
.row_total_cart {
	background:#F9F9F9;
	padding:3px;
}
.row_item_cart {
	background:#ffffff;
	padding:3px;
}

.ms-container ul.ms-list {
	width:250px !important;	
}
.ms-container {
	background-position:260px 90px !important;	
} 