/* = Show All Pages
-------------------------------------------------------------- */

#all_pages .container {
	position: absolute; top: 50%;
	width: 100%;
	height: 225px;
	background: black;
	padding: 25px 0;
	margin-top: -120px;
			box-shadow: 0 0 40px #64c8d3;
			box-shadow: 0 0 40px rgba(100, 200, 211, .8);
	   -moz-box-shadow: 0 0 40px rgba(100, 200, 211, .8);
	-webkit-box-shadow: 0 0 40px rgba(100, 200, 211, .8);
}

	#menu_holder {
		position: fixed;
		overflow: hidden;
		height: 225px;
		width: 100%;
	}

		#slider {
			position: absolute;
			list-style: none;
			margin: 0;
			padding: 0;
		}

			#slider li {
				float: left;
				position: relative;
				height: 225px;
				padding: 0 10px;
				text-align: center;
				cursor: pointer;
			}

			#slider li:first-child {
				padding-left: 100px;
			}

			#slider li:last-child { 
				padding-right: 100px;
			}
			
			#slider li:hover {
				
			}
			
			#slider li img {
				float: left;
				height: 225px;
			}



/* = Contact Form
-------------------------------------------------------------- */

#contact form {
	position: absolute; left: 50%; top: 50%;
	background: #161616;
	width: 300px; height: 210px;
	margin: -115px 0 0 -165px;
	padding: 10px 15px 15px 15px;
		    box-shadow: 0 0 60px #64c8d3;
		    box-shadow: 0 0 60px rgba(100, 200, 211, .7);
	   -moz-box-shadow: 0 0 60px rgba(100, 200, 211, .7);
	-webkit-box-shadow: 0 0 60px rgba(100, 200, 211, .7);
}

#contact form,
#contact input,
#contact textarea {
	        border-radius: 8px;
	   -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

	#contact form h3 {
		margin: 0 0 6px 0;
		font-size: 0.875em;
		font-weight: bold;
		text-transform: uppercase;
		color: white;
		-webkit-font-smoothing: antialiased;
	}

	#contact form p {
		padding: 0 0 3px 0;
		font-size: .75em;
	}
	
	#contact form input,
	#contact form textarea {
		width: 270px;
		background: black;
		border: 0;
		padding: 8px 15px;
		font-size: 11px;
		color: #737373;
	}

	#contact form textarea {
		height: 60px;
		margin: 2px 0 0 0;
		resize: none;
		overflow: auto; }

	#contact button,
	#contact .close {
			    border-radius: 4px;
		   -moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	#contact button {
		background: #64c8d3;
		margin: 0 0 0 100px;
		padding: 4px 8px;
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		color: white;
			    border-radius: 4px;
		   -moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}

	#contact .close {
		position: absolute; right: 15px; top: 10px; z-index: 5;
		background: #64c8d3;
		padding: 2px 5px;
		line-height: 12px;
		font-size: 11px;
		color: black;
	}

	#contact .error { color: #F00; }

	#contact .thanks { display: none; }

