
    .catalogues .wrap_cata{
        margin-bottom: 30px;
    }
    .catalogues .wrap_cata .img{
        position: relative;
    }
    .catalogues .wrap_cata .img a{
        display: block;
        position: relative;
        padding-top: 133.333%;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .catalogues .wrap_cata .img a img{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .catalogues .wrap_cata .img:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/icon-zoom.png') no-repeat 50% 50% transparent;
        background-size: 0 0;
        pointer-events: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .catalogues .wrap_cata:hover .img:after{
        background: url('../images/icon-zoom.png') no-repeat 50% 50% rgba(0,0,0,0.4);
        background-size: 50px 50px;
    }
    .catalogues .wrap_cata .title h3 a{
        font-size: 16px;
        line-height: 25px;
        display: block;
        color: #333333;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    .catalogues .wrap_cata:hover .title h3 a{
        color: #497939;
    }


    .nav_arrow{
        background: url('../images/arrow-navpage.png');
    }
    .nav_arrow.next{
        right: -30px;
    }
    footer#footer{
        background: #fff;
        padding: 20px 0;
    }
    #logo{
        width: 232px;
        position: static;
        float: left;
    }
    #logo img{
        max-width: 100%;
    }


    nav#center ul:after{
        content: '';
        display: block;
        clear: both;
    }
    nav#center ul{
        display: inline-block;
        height: 36px;
    }
    nav#center ul li{
        float: left;
        margin: 0 2px;
        width: 50px;
        height: 36px;
    }
    nav#center ul li a.download{
        background-position: initial !important;
        position: relative;
    }
    nav#center ul li a{
        background: 0;
        display: block;
        background-position: unset !important;
        width: 50px;
        height: 36px;
        background: #e5e5e5;
    }
    nav#center ul li a:after{
        content: '';
        font-family: fontawesome;
        font-size: 23px;
        color: #333;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    nav#center ul li a.download:after{
        content: '\f019';
    }
    nav#center ul li a.zoom_in:after{
        content: '\f00e';
    }
    nav#center ul li a.zoom_out:after{
        content: '\f010';
    }
    nav#center ul li a.show_all:after{
        content: '\f009';
    }
    nav#center ul li a.home:after{
        content: '\f015';
    }
    nav#center ul li a.zoom_original{
        font-size: 20px;
        color: #333;
        text-align: center;
        line-height: 36px;
        font-weight: 700;
    }
    nav#center{
       width: -webkit-calc(100% - 300px);
       width: -o-calc(100% - 300px);
       width: calc(100% - 300px);
       text-align: center;
    }
    nav#right{
        width: 300px;
    }
    nav#right ul li{
        width: initial;
        display: inline-block;
    }
    nav#right ul li span{
        font-size: 16px;
        line-height: 40px;
        color: #333;
        font-weight: 700;
        text-transform: uppercase;
    }
    nav#right ul li.goto{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    nav#right ul li input{
        width: 70px;
        height: 34px;
        border: 1px solid #497939;
        text-align: center;
        background: #fff;
        padding: 0;
        font-size: 20px;
        color: #333;
    }
    nav#right ul li input::-webkit-input-placeholder { color:#000; } /*Google Chrome */
    nav#right ul li input::-moz-placeholder { color:#000; } /* Firefox 19+ */
    nav#right ul li input:-ms-input-placeholder { color:#000; } /* IE */
    nav#right ul li input:-moz-placeholder { color:#000; }
    nav#right ul li button{
        width: 80px;
        height: 36px;
        border: 0;
        text-align: center;
        color: #fff;
        padding: 0;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 36px;
        background: #497939;
        position: static;
        margin-left: 5px;
    }
    .all_nav{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: -webkit-calc(100% - 232px);
        width: -o-calc(100% - 232px);
        width: calc(100% - 232px);
    }

    .tooltip{
        background: #4c7e3b;
    }


    @media screen and (max-width: 1024px){
        .catalogues .row{
            margin: 0 -10px;
        }
        .catalogues .row .col-lg-3{
            padding: 0 10px;
        }
        footer#footer{
            height: 80px;
        }
        #logo{
            width: 70px;
            margin-top: 8px;
        }
        .all_nav {
            display: -webkit-block;
            display: -moz-block;
            display: -ms-block;
            display: -o-block;
            display: block;
            width: -webkit-calc(100% - 75px);
            width: -o-calc(100% - 75px);
            width: calc(100% - 75px);
            float: right;
        }
        nav#center{
            width: -webkit-calc(100%);
            width: -o-calc(100%);
            width: calc(100%);
            text-align: right;
            margin-top: 0;
        }
        nav#center ul li,nav#center ul li a{
            width: 40px !important;
        }
        nav#center ul li a:after{
            font-size: 16px;
        }
        nav#right{
            width: 100%;
            float: none;
            text-align: right;
            margin: 0;
            margin-top: 6px;
        }
        nav#right ul{
            display: inline-block;
            text-align: right;
        }
        .all_nav:after{
            content: '';
            display: block;
            clear: both;
        }
        nav#right ul li span{
            font-size: 11px;
            line-height: 26px;
        }
        nav#right ul li input{
            width: 48px;
            height: 24px;
            font-size: 13px;
        }
        nav#right ul li button{
            width: 54px;
            height: 24px;
            font-size: 12px;
            line-height: 24px;
        }
    }


    @media screen and (max-width: 379px){
        #logo{
            margin-bottom: 10px;
            width: 80px;
            display: block;
        }
        .all_nav{
            float: none;
            width: -webkit-calc(100%);
            width: -o-calc(100%);
            width: calc(100%);
        }
        nav#center{
            text-align: left;
        }
        footer#footer {
            height: 120px;
        }

        nav#right{
            text-align: left;
        }
    }