.catalogue{
	margin-bottom: 30px;
}
.catalogue .img{
	padding-top: 133.333333%;
	position: relative;
	overflow: hidden;
	background: #000000;
	margin-bottom: 15px;
}
.catalogue .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.catalogue:hover .img img{
	opacity: 0.3;
}
.catalogue .tools{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,10%);
	-ms-transform: translate(-50%,10%);
	-o-transform: translate(-50%,10%);
	transform: translate(-50%,10%);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	opacity: 0;
	visibility: hidden;
}
.catalogue:hover .tools{
	opacity: 1;
	visibility: initial;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.catalogue .tools a{
	position: relative;
	width: 60px;
	height: 60px;
	display: block;
	border-radius: 100%;
	font-size: 25px;
	line-height: 33px;
	color:#ffffff;
	margin: 0 10px;
}
.catalogue .tools a i{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.catalogue .tools .download{
	background: #e7302b;
}
.catalogue .tools .view{
	background: #0baf4d;
}
.catalogue .tools a:hover{
	background: #333333;
}
.catalogue .e{
	font-size: 15px;
	line-height: 23px;
	font-weight: bold;
	text-align: center;
}
.catalogue .tend a{
	font-size: 15px;
	line-height: 23px;
	font-weight: bold;
	text-align: center;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
/*=========================================================*/
#vnt-catalogue{
	height: 100vh;
}
#vnt-catalogue .cataWrap{
	height:-webkit-calc(100% - 120px);
	height:-moz-calc(100% - 120px);
	height:-o-calc(100% - 120px);
	height:calc(100% - 120px);
	background: #f2f2f2;
	position: relative;
}
#vnt-catalogue .cataWrap img{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width: 95%;
	max-height: 90%;
}
.cataTools .wrapper{
	height: 120px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logon{
	max-width: 170px;
}
.listTools ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.listTools ul li{
	margin: 0 2px;
}
.listTools ul li a{
	display: block;
	width: 50px;
	height: 36px;
	background: #e5e5e5;
	text-align: center;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
}
.listTools ul li a i{
	line-height: 36px;
}
.findPage{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.findPage .txt{
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 10px;
}
.findPage input{
	width: 70px;
	height: 35px;
	border:solid 1px #0baf4d;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin-right: 5px;
}
.findPage button{
	width: 70px;
	height: 35px;
	background: #0baf4d;
	border:none;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color:#ffffff;
	font-weight: bold;
}
/*=========================================*/
.myDesignPopup .fancybox-close{
    width: 40px;
    height: 40px;
    background: url(../images/collect/i-close.svg) no-repeat center center;
    background-size: cover;
    top: 10px;
    right: 10px;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){
.vnt-cata .row{
    margin-left: -10px;
    margin-right: -10px;
}
.vnt-cata .row *[class^="col-"]{
    padding-left: 10px;
    padding-right: 10px;
}
.findPage .txt{
	display: none;
}
.findPage input, 
.findPage button{
	width: 40px;
}
.listTools ul li a{
	width: 40px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
}
.listTools ul li a i{
	line-height: 30px;
}
.logon{
	max-width: 120px;
}
}

@media all and (max-width: 640px){
.catalogue .tools a{
	width: 50px;
	height: 50px;
}
}

@media all and (max-width: 600px){
.logon{
	display: none;
}
.listTools{
	margin-bottom: 15px;
}
.cataTools .wrapper{
	flex-direction: column;
	justify-content: center;
}
}

@media all and (max-width: 370px){
.vnt-cata .row .col-xs-6{
    width: 100%;
}
}