/* CSS Document */
html {
	SCROLLBAR-BASE-COLOR: #CCCCCCC;
	SCROLLBAR-ARROW-COLOR: #000000;
}

body {	
	background: url(../images/bg_paper.jpg) top  center #000 no-repeat;	 	
	FONT-FAMILY:arial ;
	font-size: 12px;
	line-height:20px; 
	color:#4c5559;
	margin-left: 0px;
	margin-right: 0px;
}
td,th {
 	font-size: 12px;
 	line-height:20px;
	color:#4c5559;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,pre,form,input,textarea {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:bold;
}

.clear {clear: both; font-size: 0px; line-height: 0px; height:0;}
p {margin:0px;padding:5px 0px;}
ol,ul {	list-style: none;}

a { text-decoration:none; color:#ee2c37}
a:hover {  color:#1f1f1f; text-decoration: none; }

img { border : 0px; }
input {   color: #2a2a2a;}
.input-warn {border:1px solid #FF0000;line-height:20px;	height:18px;}
.input-ok { border:1px solid #00CC66; line-height:20px;	height:18px;}
.button {
	background:url(../images/button_bg.gif) center no-repeat;
	cursor:pointer;
	border:none;
	color:#000;
	padding: 5px 2px;
	width:103px ;
	
}

.footer{
    margin-top: 680px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.footer_2{
	position: relative;
  text-align: center;
}

/*======================== css su dung cho header ================================*/
.logo_footer{
}
.copyright {
	background:url(../images/line_copyright.gif) 0px 15px no-repeat;
	padding-left:10px;
	padding-top:10px;
	color:#4c5559;
}
.copyright a{
	color:#4c5559;
}
.copyright strong{
	color:#ee2c37;
}
.copyright strong a{
	color:#ee2c37;
}