/* Skin TAB */
#tab-container-1-nav {
    list-style: none;
    margin: 0;
    padding: 0px;
}

#tab-container-1-nav :after {
    /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

#tab-container-1-nav li {
    float: left;
    padding-right:5px;
}


#tab-container-1-nav a {
    background:#E6E6E6;
    display: block;
    color: #333333;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-right:7px;
    border-top:1px solid #DBDBDB;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
}
#tab-container-1-nav a span {
    display: block;
    line-height: 25px;
    padding-left:10px;
    padding-right:5px;
}

#tab-container-1-nav a:hover {
    color: #B84120;
}
#tab-container-1-nav a:hover span {

}

#tab-container-1-nav .activeli {
    top:1px;
    position:relative;
}
#tab-container-1-nav .activeli a {
    background:#FFF;
    color: #B84120;
}
#tab-container-1-nav .activeli a span {
    background:#FFF;
}

#tab-container-1 .tab {
    border-top:1px solid #dbdbdb;
    padding: 5px 5px;
    background:#FFF ;
    overflow:hidden;
}




table.adminlist tbody tr.row_Quick {
    background-color:#dbf3d1;
}
table.adminlist tbody tr.row_Quick td {
    background-color:#dbf3d1;
}
table.adminlist tbody tr.row_Quick:hover td  { background-color: #dbf3d1 ; }

table.adminlist td.QuickView {
    background-color:#dbf3d1;
    padding:10px;
    font-family:Tahoma;
    font-size:11px;
}
table.adminlist td.QuickView tr , table.adminlist td.QuickView td {background-color:#dbf3d1;   	}

table.adminlist td.QuickView  td.QuickViewPanel {
    border-right: solid 3px #B8E6A6;
}
table.adminlist td.QuickView h5 { font-size:11px; margin-bottom:5px;}
.tblRemote { background:#CCC}
.tblRemote th {
    background-color: #E4E4E4 !important;
    background-image: url("../images/table_bg.gif");
    background-repeat: repeat-x;
    border-bottom: 1px solid #DDDDDD;
    color: #000000;
    font-weight: bold;
    padding: 4px;
    vertical-align: middle;
}
.tblRemote td {
    background-color: #fff !important;
    padding: 3px 3px 3px 5px;
}