/* CSS Search */
 
p.mess_result {
	font-size:12px;
	margin-bottom:10px;
	text-align:center;
}
p.mess_result span {
	color:#FF0000;
	font-size:14px;
	font-weight:bold;
}
.font_keyword{
	background-color: yellow; 
	color: red; 
	font-weight: bold;
}
.font_keyword a {
	background-color: yellow; 
	color: red; 
	font-weight: bold;
}
.box-item {
	padding: 5px 0px 0px;
}
.box-item .img {
  float: left;
  margin-right: 10px;
}
.box-item p {
	margin: 0px;
	padding: 5px 0px;
}

/* CSS Result */
.box-item {padding:5px 0px; background: url(../images/hr.gif) bottom repeat-x ;}
.box-item.last {background:none;} 
.box-item h3 {

	font-weight: bold;
	padding: 0px 0px 0px 0px;
	vertical-align: top;
	text-align: left
}

.box-item h3 a {
	text-align: left;	 
}
  
.box-item .img_left {
	border: 1px solid #d4d4d4;
	padding: 2px;
	text-align: center;
	float:left;
	margin-right:5px;	
}
.box-item .img_right {
	border: 1px solid #d4d4d4;
	padding: 2px;
	text-align: center;
	float:right;
	margin-left:5px;	
}

.box-item .short {
	text-align: justify;
}

.box-item p.more {
	margin: 0px;
	padding: 2px 0px;
	text-align: right;
}

.box-item .date_post {
	font-size:10px;
	color: #b7b7b7;
	font-weight: normal;

}
.hr {
	background: url(../images/hr.gif) repeat-x center;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
.no_result {
	padding:50px ;
	text-align:center;
	color:#FF0000;
}
 