.vnt-about .about:nth-child(odd) .grid .col:nth-child(1){
	order:1;
}
.vnt-about .about:nth-child(odd) .grid .col:nth-child(2){
	order:2;
}
.vnt-about .about:nth-child(even) .grid .col:nth-child(1){
	order:2;
}
.vnt-about .about:nth-child(even) .grid .col:nth-child(2){
	order:1;
}
.vnt-about.vm{
	margin-bottom: 45px;
}
.vnt-about.vm .about{
	margin-bottom: 0;
}
.vnt-about.vm .img{
	padding-top: 62.666666%;
}
.about{
	background: #fafafa;
	margin-bottom: 40px;
}
.about .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.about .grid .col{
	width: 50%;
}
.about .img{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
}
.about .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.about .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.about .caption{
	padding: 30px;
}
.about .tend{
	margin-bottom: 20px;
}
.about .tend a,
.about .tend h3{
	display: block;
	font-size: 25px;
	line-height: 33px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.about .des{
	max-height: 88px;
	overflow: hidden;
	margin-bottom: 20px;
}
.about .link a {
    display: inline-block;
    text-transform: uppercase;
    border: solid 1px #0baf4d;
    padding: 11px 18px;
}
.about .link a span{
	padding-right: 25px;
	position: relative;
}
.about .link a span:before{
	content: "\f105";
	font-family: fontAwesome;
	position: absolute;
	right:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color:#ed1c24;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.about .link a:hover{
	background: #0baf4d;
	color:#ffffff;
}
.about .link a:hover span:before{
	color:#ffffff;
}
/*==========================================================*/
.aboutVideo{
	height: 480px;
	background-image: url(../images/about/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}
.aboutVideo:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
}
.aboutVideo .t1{
	font-size: 48px;
	line-height: 56px;
	font-weight: bold;
	text-transform: uppercase;
	color:#ffffff;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.15);
	pointer-events: none;
}
.aboutVideo .t2{
	font-size: 36px;
	line-height: 44px;
	color:#ffffff;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	font-family: 'EB Garamond', serif;
	font-style: italic;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.15);
	pointer-events: none;
	margin-bottom: 20px;
}
.aboutVideo .img{
	text-align: center;
	pointer-events: none;
	position: relative;
}
.aboutVideo .link{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
/*======================================================*/
.part1{
	margin-bottom: 30px;
}
.part1 .txt{
	padding: 70px 120px 55px;
	background: #fafafa;
	text-align: center;
}
.part1 .img img{
	width: 100%;
}
/*========================================================*/
.boxSlide {
	margin-bottom: 90px;
}
.boxSlide .title{
	font-size: 35px;
	line-height: 45px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 40px;
}
#slideAbout .slick-list{
	margin: 0 -15px;
}
#slideAbout .item{
	padding: 0 15px;
}
#slideAbout .img{
	width: 160px;
	height: 160px;
	background: #0baf4d;
	border-radius: 100%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 15px;
}
#slideAbout .img img{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#slideAbout .tend{
	text-align: center;
	font-weight: bold;
	color:#666666;
	text-transform: uppercase;
}
#slideAbout .des{
	color:#666666;
}
/*=============================================================*/
.part2 .t1{
	font-size: 30px;
	line-height: 40px;
	color:#0baf4d;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	margin-bottom: 10px;
}
.part2 .des1{
	font-family: 'EB Garamond', serif;
	font-style: italic;
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	max-width: 850px;
	margin: 0 auto;
	margin-bottom: 25px;
}
/*==============================================================*/
.part3{
	background-color: #0baf4d;
	background-image: url(../images/about/perz.png);
	background-repeat: no-repeat;
	background-position: top -55px left 100px;
	padding: 100px 30px 80px;
	padding-left: 360px;
	padding-right: 100px;
	overflow: hidden;
}
.part3 .t1{
	font-size: 30px;
	line-height: 40px;
	color:#ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.part3 .des{
	font-size: 24px;
	line-height: 32px;
	color:#ffffff;
	font-style: italic;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){
.about .des{
	max-height: 66px;
}
.part1 .txt{
	padding: 30px 25px;
}
.part3 {
    padding: 40px;
    padding-top: 100px;
    background-size: 124px;
    background-position: top -34px center;
}
.part3 .t1{
	font-size: 22px;
	line-height: 30px;
}
.part3 .des{
	font-size: 17px;
	line-height: 25px;
}
}

@media all and (max-width: 768px){
.about .grid{
	display: block;
}
.about .grid .col{
	width: 100%;
}
.about .tend a{
	font-size: 22px;
	line-height: 30px;
}
.about .caption{
	padding: 20px;
}
.aboutVideo .t1{
	font-size: 20px;
	line-height: 30px;
}
.aboutVideo .t2{
	font-size: 16px;
	line-height: 24px;
}
}