.type_expire {

}
.type_expire .expire-item {
	margin: 10px 0px;
}
.type_expire .expire-item .div-label {
	float: left;
	width: 120px;
	line-height: 30px;
}
.type_expire .expire-item .div-input {
	float: right;
	width: calc(100% - 130px);
}







/*----------- Browse -------------*/
.div-upload { position: relative ; padding: 2px;}
.input-file {position:relative; max-width: 600px ; overflow: hidden}
.input-file .div-btn {
	float:right; white-space:nowrap; position:relative; z-index:1; left:0; top:0; overflow:hidden;
	width:100px;
	background:#047e43;
	color: #FFFFFF;
	height:34px;
	text-align:center;

}
.input-file .div-btn a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	line-height:34px;
	font-size:14px;
}
.input-file .div-input {
	float: left;
	width: calc(100% - 100px);
	display:block;   position:relative; overflow:hidden; border:solid 1px #d6d6d6; height:34px; line-height:34px; font-size:14px;
	position: relative;
}

.input-file .div-input .text-file {
	margin-left:35px;
	display:block; width:100%; position:absolute; padding:0; border:none; font-size:14px; color:#333333; top:0; left:0;  height:100%;  font-weight: normal; background-color: #FFFFFF;
}

.input-file .del-file {
	position: absolute;
	display: block;
	width: 30px;
	height: 34px;
	text-align: center;
	left: 0;
	z-index: 10;
}
.input-file .del-file i {
	cursor: pointer;
	display: block;
	line-height:34px;
	font-size:20px;
	background: #ccc;
	color: #ff0000;
}




.OrderInfo {

}

.OrderInfo  .block-info {
	padding: 15px;
	margin-bottom: 20px;
	background: #ffffff;
	border: 2px solid #ccc;
}

.OrderInfo  .block-info.order-box {

}
.OrderInfo .order-title {
	color: #B84120;
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.OrderInfo .order-title span {
	display: inline-block;
	padding: 0px 10px;
	background: #ffffff;
	position: relative;
	z-index: 1;
}

table.adminlist tbody tr td.curview {
	background:#fbcdee !important;
}
table.adminlist tbody tr td.viewed {
	background:#c1fec1 !important;
}
.border_cart {
	background: #DBDADA;
}

.row_title_cart {
	background: #F0F0F0;
	color: #B84120;
	padding: 3px;
	height: 25px;
}

.row_total_cart {
	background: #F9F9F9;
	padding: 3px;
	height: 22px;
}

.row_item_cart {
	background: #ffffff;
	padding: 3px;
}

.order_code {
	color:#F00;
	font-size:20px;
	line-height:30px;
	font-weight:bold;
}
.order_code .select {
	height:30px;
	line-height:30px;
	font-size:15px;
	font-weight:bold;
	color:#F00 ;
}


/* Skin TAB */
#tab-container-1-nav {
	list-style: none;
	margin: 0;
	padding: 0px;
}

#tab-container-1-nav :after {
	/* clearing without presentational markup, IE gets extra treatment */
	display: block;
	clear: both;
	content: " ";
}

#tab-container-1-nav li {
	float: left;
	padding-right:5px;
}


#tab-container-1-nav a {
	background:#E6E6E6;
	display: block;
	color: #333333;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding-right:7px;
	border-top:1px solid #DBDBDB;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
}
#tab-container-1-nav a span {
	display: block;
	line-height: 25px;
	padding-left:10px;
	padding-right:5px;
}

#tab-container-1-nav a:hover {
	color: #B84120;
}
#tab-container-1-nav a:hover span {

}

#tab-container-1-nav .activeli {
	top:1px;
	position:relative;
}
#tab-container-1-nav .activeli a {
	background:#FFF;
	color: #B84120;
}
#tab-container-1-nav .activeli a span {
	background:#FFF;
}

#tab-container-1 .tab {
	border-top:1px solid #dbdbdb;
	padding: 5px 5px;
	background:#FFF ;
	overflow:hidden;
}


.tblRemote { }
.tblRemote th {
	background-color: #f5f5f5 !important;
}
.tblRemote td {

}

.boxDropDown {
	position:relative;
}
.boxDropDown a { text-decoration:none;}

.list-dropdown {
	background-color: #FFFFFF;
	border: 1px solid #B7C5CE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
	margin: 0;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 15px;
	width: 150px;
	z-index: 9999;
}

.list-dropdown-item ul {list-style:none;}
.list-dropdown-item li {
	text-align:left;
	padding:2px 0px;
}
.list-dropdown-item li a {
	color:#666666;
	line-height:18px;
}
.list-dropdown-item li a:hover {
	text-decoration:underline;
}


.MessageBox {
	background-repeat: no-repeat;
	background-position: 7px 5px;
	font-family: Tahoma;
	font-size: 11px;
	background-color: #FFCC99;
	margin: 5px 0;
	padding: 8px 8px 8px 30px;
}

.MessageBoxError {
	background-image: url('../images/error.gif');
	background-color: #FFCC99;
}

.MessageBoxSuccess {
	background-image: url('../images/success.gif');
}

.MessageBoxInfo {
	background-image: url('../images/info.gif');
	background-color: #FFCC99;
}

.MessageBoxWarning {
	background-image: url('../images/warning.gif');
	background-color: #FFCC99;
}




.swfupload-control p{ margin:10px 5px; font-size:0.9em; }
.log{ margin:0; padding:0; width:550px; list-style:none;}
.log li{  margin:2px; border:1px solid #ccc; padding:10px; font-size:12px; 	font-family:Arial, Helvetica, sans-serif; color:#333; background:#fff; position:relative;}
.log li .progressbar{ border:1px solid #333; height:10px; background:#fff; }
.log li .progress{ background:#71AD00; width:0%; height:10px; }
.log li p{ margin:0; line-height:18px; }
.log li.success{ border:1px solid #339933; background:#ccf9b9; }
.log li span.cancel{ position:absolute; top:5px; right:5px; width:20px; height:20px; 	background:url('../images/cancel.png') no-repeat; cursor:pointer; }
.log li span.del { display:inline-block;  height:20px; 	background:url('../images/cancel.png') no-repeat; cursor:pointer; padding-left:20px; }
.log li .status { padding-top:5px;}


table.adminlist .tbl_small { background:#ccc !important;}
table.adminlist .tbl_small td { padding:1px; font-size:11px; height:18px; background:#fff !important;}


.tbl-small { border-collapse:separate; border-spacing: 1px;  border: 1px ; background-color: #cccccc }

.tbl-small td {
	background-color: #FFFFFF !important;
	padding: 2px 5px !important;
	line-height: 20px !important;
	height: auto !important;
}
table.adminlist tbody .tbl-small td:last-child a img {
	width: auto !important;
	min-width: auto !important;
}