body {
 	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	font-family:Arial;
	font-size:12px;
	line-height:18px;
} 
 
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,pre,form,input,textarea {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:bold;
}

.clear {clear: both; font-size: 0px; line-height: 0px; height:0;}
p {margin:0px;padding:5px 0px;}
ol,ul {	list-style: none;}

a { text-decoration:none; color:#43a409}
a:hover {  color:#43a409; text-decoration: underline; }

img { border : 0px; }
input {   color: #2a2a2a;}
.input-warn {border:1px solid #FF0000;line-height:20px;	height:18px;}
.input-ok { border:1px solid #00CC66; line-height:20px;	height:18px;}
 

.btnwrapper {
	overflow:hidden;
	margin-right:10px;
	float:left;
} 
a.btn{
	background: url('../images/button_bg.gif') no-repeat top left;
	display: block;
	float: left; 
	line-height: 31px;  
	height: 25px;  
	padding-left: 10px;  
	text-decoration: none;
	color:#ffffff;
	font-weight:bold;
}

a:link.btn, a:visited.btn, a:active.btn{
	color: #ffffff; /*button text color*/
}

a.btn span{
	background: url('../images/button_bg.gif') no-repeat top right;
	display: block;
	line-height: 25px;
	padding-left:5px;
	padding-right:15px;
}

a.btn:hover{ /* Hover state CSS */
	background-position: bottom left;
}

a.btn:hover span{ /* Hover state CSS */
	background-position: bottom right;
	color: #ffffff;
} 


  
/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
button.btn { 
padding:0px 10px;
height:28px;
border:1px solid #D30002;
background:#D30002;
background-image:-moz-linear-gradient(top,#D30002,#FF0000);
background-image:-webkit-gradient(linear,left top,left bottom,from(#D30002),to(#FF0000));
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#D30002,endColorStr=#FF0000);
-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#D30002, endColorStr=#FF0000)";
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
white-space:nowrap;
vertical-align:middle;
cursor:pointer;
overflow:visible;
} 	
button.btn span {
	display:inline-block;
	vertical-align:middle;
	color:#fff;
	font-size:13px;
	font-weight:bold;
}
button.btn:hover, button.btn:focus{
	border-color:#3e9206;background:#FF0000;
	background-image:-moz-linear-gradient(top,#FF0000,#D30002);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#FF0000),to(#D30002));
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FF0000,endColorStr=#D30002);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FF0000, endColorStr=#D30002)";
	outline:0;-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999
}
 
 
a {  text-decoration: none ; color:#21759B }
a:active,a:link {	color: #21759B;} 
a:focus{ color:#d54e21}
a:hover {  color:#FF9000; text-decoration: underline }
img { border : 0px; }
.clearfix:after
	{
	content: '[DO NOT LEAVE IT IS NOT REAL]'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
.clearfix{
	display: inline;
	position: relative;
	}
/*\*/
.clearfix	{
	display: block;
}
.clear { clear:both}
.hidden,
.js .closed .inside,
.js .hide-if-js,
.no-js .hide-if-no-js {
	display: none;
}

/*FORM BUTTON*/
input[type="text"], textarea {
	-moz-box-sizing:border-box;
	border:1px solid #DCDCDC;
	padding:2px;
}

.textfield{
	-moz-box-sizing:border-box;
	border:1px solid #DCDCDC;
	padding:2px;
}

textarea, input{
	-x-system-font:none;
	font-family:"Verdana";
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;

	margin:1px;

}

textarea{

	border: 1px solid #DCDCDC;
	scrollbar-base-color:#DCDCDC;
	scrollbar-arrow-color:#000000; 
	overflow:auto;
}
select {
	border:1px solid #DCDCDC;
	-x-system-font:none;
	font-family:"Verdana";
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:19px;
	margin:1px;
	padding:1px;
}
.button {
	font-family: "Verdana";
	text-decoration: none;
	font-size: 11px;
	font-weight:bold;
	line-height: 16px;
	padding: 2px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
}

a.button {
	padding: 4px 8px;
}

.button, .button-secondary {
	background:#F2F2F2 url(../images/white-grad.png) repeat-x scroll left top;
}
.button {
	border-color:#DCDCDC;
	color:#464646;
	text-shadow:0 1px 0 #FFFFFF;
}

.button[disabled], .button:disabled {
	background-color: #999;
}

.button:hover{
	border-color: #535353;
}

.button:hover {
	color: #d54e21;
}
 

.clearfix:after
	{
	content: '[DO NOT LEAVE IT IS NOT REAL]'; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}
.clearfix{
	display: inline;
	position: relative;
	}
/*\*/
.clearfix	{
	display: block;
}

.fl {float:left;}
.fr {float:right;}
.hidden {display:none;}
/* -------------------------------------------------------------------
 format text
------------------------------------------------------------------- */

.font_err {	color:#f97c00;}
.font_err a:active , .font_err a:link , .font_err a:visited {  text-decoration: none ; color:#f97c00}
.font_err a:hover {  color:#f97c00; text-decoration: underline; }


/********************* CSS for box_redirect ****************************/
#box_redirect{ border:1px solid #505050; width:70% ;margin:0px auto;  background:#FFF; }
#box_redirect p { line-height:18px;}
#box_redirect .top { background:#F78600;border-bottom:1px solid #5C5C5C; color:#FFFFFF;font-size:11px;font-weight:bold;text-transform:uppercase; height:22px;padding:2px; text-align:left; }
#box_redirect .fontMess {color:#65D700;font-size:12px; font-weight:bold;text-align:center;padding:20px 10px;}
#box_redirect .mess { background:#383838; color:#FFFFFF;text-align:center}
#box_redirect .bottom { background:#FFF3DD; color:#000;text-align:center;padding:5px; font-size:12px;}

/********************* CSS for boxMess ****************************/
#boxMess{  border:1px solid #F08200;padding:2px 5px; background:#FCF5CD }
#boxMess  h4.mess { background:url(../images/icon/icon_mess.gif) no-repeat left; padding:2px 30px; color:#FF0000; font-weight:bold; font-size:12px;}
#boxMess  h4.err { background:url(../images/icon/icon_warning.gif) no-repeat left; padding:6px 30px; color:#FF0000; font-weight:bold;}
#boxMess .font_err { color:#950000;}


/* System Messages */
dl#system-message { margin-bottom: 10px; padding: 5px; border: 1px dashed #ccc; background:#FFCC99 }

#system-message dt { font-weight: bold; background: url(../images/icon_info.png) no-repeat; text-indent: 20px; color:#FF0000}
#system-message dd { margin: 0; font-size: 12px;  padding-left: 20px; }

/* System Standard Messages */

#system-message dd.message {  }
#system-message dd.message ul { line-height: 16px;color: #333;list-style: none;  padding: 0;}

/* System Error Messages */
#system-message dd.error {  }
#system-message dd.error ul { line-height: 16px;color: #f00;list-style: none; background: url(../images/icon_error.gif) no-repeat; padding: 0;}
#system-message  li{
	color:#FF0000;	
}

 .bg_tbl{
		border:2px solid #C9C9B5;
		background:#EFEFE9;
	}
	.bg_tab{
		background:#EFEFE9;
	}

	/* ---- TABLE ------*/
	/** Table styles **/
	
	table.adminlist {
		width: 100%;
		border-spacing: 1px;
		background-color: #e7e7e7;
		color: #666;
	}
	
	table.adminlist td,
	table.adminlist th { padding: 2px; }
	
	table.adminlist thead th {
 		color: #666;
		border-bottom: 1px solid #999;
		border-left: 1px solid #fff;
		padding-left:10px;
	}
	
	table.adminlist thead a:hover { text-decoration: none; }
	
	table.adminlist thead th img { vertical-align: middle; }
	
	table.adminlist tbody th { font-weight: bold; }
	
	table.adminlist tbody tr.row_title 	{ background: #f0f0f0; }
	table.adminlist tbody tr.row_title td { background: #f0f0f0; }
	
	table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
	table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }
	
	
	table.adminlist tbody tr.row0:hover td,
	table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }
	
	table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; position:relative; }
	table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }
	
	table.adminlist tbody tr.row_select 	{ background: #F4EAD2; border-top: 1px solid #fff; }
	table.adminlist tbody tr.row_select td { background: #F4EAD2; border-top: 1px solid #FFF; }
	
	table.adminlist tfoot tr { text-align: center;  color: #333; }
	table.adminlist tfoot td,
	table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }
	
	table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
	table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }
	 
	table.adminlist td .icon_hidden { margin-left:5px;}
	
	/***************************** Phan trang  *****************************/
	.pagecur {
		background: #FFFFFF;
		border: 1px solid #C7C7B1;
		padding: 1px 5px 1px 5px;
		font-weight: bold;
		color: #FD5B2A;
	}
	.pagelink {
		background: #EFEFE9;
		border: 1px solid #C7C7B1;
		padding: 1px 5px 1px 5px;
	}
	
	.pagelink a:link,
	.pagelink a:visited,
	.pagelink a:active{
		color: #B84120 !important;
		text-decoration: none;
	}
	.pagelink a:hover{
		color: #FD5B2A !important;
		text-decoration: none;
	}
	