{data.first_video}

<div class="col-12">
    <h3 class="video-items-title fs-16">{LANG.dealer.slogan}</h3>
</div>


//////

<p class="description-item-video fs-10">{data.short}</p>


<a href="{data.link}">