<!-- BEGIN: item_dealer -->
<div class="col-lg-4 col-12">
  <div class="item-video  item-video-custom">
    <div class="view_video_icon open_modal_video" alt="{data.link360}">

      <img class="img-item-video " src="{DIR_IMAGE}/play.png" alt="Sơn Hà">
    </div>
    <img class="img-item-video " src="{data.src}" alt="Sơn Hà">
    <div class="col-12">
      <h4 class="font-weight-bold fs-11"> {data.title}</h4>
    </div>
  </div>
</div>


<!-- END: item_dealer -->