.border_cart {
	background:#DBDADA;
}
.row_title_cart {
	background:#F0F0F0;
	color:#B84120;
	padding:3px;
	height:25px;
}
.row_total_cart {
	background:#F9F9F9;
	padding:3px;
}
.row_item_cart {
	background:#ffffff;
	padding:3px;
}


/* Skin TAB */
#tab-container-1-nav {
	list-style: none;
	margin: 0;
	padding: 0px;
}

#tab-container-1-nav :after {
	/* clearing without presentational markup, IE gets extra treatment */
	display: block;
	clear: both;
	content: " ";
}

#tab-container-1-nav li {
	float: left;
	padding-right:5px;
}


#tab-container-1-nav a {
	background:#E6E6E6;
	display: block;
	color: #333333;
	font-weight: bold;
	text-align: center;
	text-decoration: none;	
	padding-right:7px; 
	border-top:1px solid #DBDBDB;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
}
#tab-container-1-nav a span { 
	display: block;
	line-height: 25px;
	padding-left:10px;
	padding-right:5px;
}

#tab-container-1-nav a:hover {
	color: #B84120;
}
#tab-container-1-nav a:hover span {

}

#tab-container-1-nav .activeli {
	top:1px;
	position:relative;
}
#tab-container-1-nav .activeli a {	
	background:#FFF;
	color: #B84120;
}
#tab-container-1-nav .activeli a span {
	background:#FFF;
}

#tab-container-1 .tab {
	border-top:1px solid #dbdbdb;
	padding: 5px 5px;
	background:#FFF ;
	overflow:hidden;
}


