.title-icon-ecool {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
.items-ecool {
  margin-top: 30px;
  margin-bottom: 70px;
}
.title-about-ecool {
  margin-top: 30px;
  margin-bottom: 20px;
}
.line-down {
  margin-bottom: 20px;
}
.img-item {
  opacity: 0.4;
}
.image-items-post {
  margin-top: 40px;
  padding-bottom: 200px;
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}
.items-product {
  margin-top: 40px;
  margin-bottom: 40px;
}
.items-slide .arrow {
  right: 15px;
  left: unset;
}
.about-description {
  line-height: 22px;
  text-align: justify;
}
.item-img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 0 auto;
  position: relative;
}
.item-img .img-item-ecool {
  max-width: 65%;
  max-height: 65%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-light {
  font-size: 17px;
  line-height: 22px;
}
.title-medium {
  font-size: 20px;
  line-height: 30px;
}
.page-us-ecool .arrow {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: auto;
  right: 40px;
}
.slide__banner {
  margin: 14px;
  text-align: center;
}
.des__banner {
  text-align: center;
}
@media (min-width: 992px) {
  .title-about-ecool {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .line-down {
    margin-bottom: 60px;
  }
  .title-icon-ecool {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .items-ecool {
    margin-top: 80px;
    margin-bottom: 160px;
  }
  .title-light {
    font-size: 26px;
    line-height: 32px;
  }
  .title-medium {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 50px;
  }
  .items-product {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .image-items-post {
    padding-bottom: 500px;
  }
  .page-us-ecool .arrow {
    bottom: 50px;
    left: 220px;
  }
  .slide__banner {
    margin: 0;
    text-align: inherit;
  }
  .des__banner {
    text-align: inherit;
  }
}
