.news-detail .social-news-detail .social__icon {
  width: 23px;
  margin-right: 10px;
}
.news-detail .news-content img {
  margin-top: 20px;
}
.news-detail .news-date {
  margin-top: 30px;
}
.news-detail .news-related {
  padding-top: 40px;
  padding-bottom: 45px;
}
.news-detail .related-item {
  padding-left: 15px;
  padding-right: 15px;
}
.news-detail .related-items a:hover {
  text-decoration: none;
}
.news-detail .related-items .slick-prev {
  background-image: url("/images/arrow-left-slide.png");
  background-size: 100% 100%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  top: 40%;
  left: -50px;
}
.news-detail .related-items .slick-prev:before {
  content: none;
}
.news-detail .related-items .slick-next {
  background-image: url("/images/arrow-right-slide.png");
  background-size: 100% 100%;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  top: 40%;
  right: -50px;
}
.news-detail .related-items .slick-next:before {
  content: none;
}
.news-detail + footer .subscribe {
  background-color: #fff;
}
@media (min-width: 992px) {
  .news-detail .news-related {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .news-detail .related-item {
    padding-left: 30px;
    padding-right: 30px;
  }
}
