.img-news {
  width: 100%;
  height: 483px;
}
.menu-sub-news {
  text-align: center;
  background-color: #fff;
  position: relative;
  width: 100%;
  max-width: 831px;
  left: calc(50% + 15px);
  transform: translateX(-50%);
}
.menu-sub-news-title {
  white-space: nowrap;
  margin-bottom: 0;
  padding: 15px;
}
.menu-sub-news-title.active {
  border-bottom: 2px solid #30bcee;
}
.news-header {
  margin-top: 46px;
  margin-bottom: 46px;
}
.img-header {
  width: 100%;
  height: 100px;
}
.title-news {
  font-weight: bold;
  font-size: 11px;
}
.item-news-header {
  margin-bottom: 15px;
}
.news-event {
  background-color: #f7f8fa;
}
.title-news-event {
  font-weight: bold;
  margin-top: 33px;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 19px;
}
.name-news-event {
  margin: 18px 0 9px 0;
  height: 34px;
  overflow: hidden;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
.short-description-news {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 18px;
}
.items-news-event {
  background-color: #fff;
  margin-bottom: 30px;
}
.see-all {
  color: #08649c;
}
.see-all img {
  width: 6px;
  margin-left: 10px;
}
.news__slides .news__content {
  width: 65%;
  height: 40%;
  left: 30px;
  bottom: 20px;
}
.ecool-news + footer .subscribe {
  background-color: #fff;
}
.news__link .arrow-icon {
  width: 12px;
  display: inline;
  margin-left: 10px;
}
.slide-header-news {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
@media (min-width: 992px) {
  .menu-sub-news {
    text-align: center;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 831px;
    left: calc(50% + 15px);
    transform: translateX(-50%);
  }
  .news-event .row-news-event {
    margin-left: -27px;
    margin-right: -27px;
  }
  .news-event .row-news-event .col-12 {
    padding-left: 27px;
    padding-right: 27px;
  }
}
