@media (min-width: 992px) {
  .inverter {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #f7f8fa;
    padding: 50px;
  }
  .background-color {
    background-color: #f7f8fa;
    margin-bottom: 50px;
    border-bottom: 20px solid #f7f8fa;
  }
  .begin-products-list {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .products-list-info {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .info-product {
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;
  }
  .multiple-product {
    border: 2px solid #808080;
    border-radius: 20px;
    padding: 10px;
  }
  .see-more-product {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .news {
    padding-top: 30px;
  }
  .news h2 {
    line-height: 28px;
    margin-bottom: 20px;
  }
  .news .news__banner {
    position: relative;
    margin-bottom: 30px;
  }
  .news .news__banner .label {
    width: 122px;
    position: absolute;
    background-size: 100% 100%;
    padding-bottom: 25px;
    padding-left: 10px;
    left: 15px;
    top: 0;
    margin-bottom: 20px;
  }
  .news .news__text {
    margin-bottom: 30px;
  }
  .news .arrow {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  .news .arrow img {
    width: 7px;
  }
  .news .arrow .arrow__left {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .news .arrow .arrow__right {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .news .news__viewall {
    margin-top: 50px;
  }
  .news .news__viewall a {
    color: #08649c;
  }
  .news .news__viewall a:hover {
    text-decoration: none;
  }
  .news .news__viewall a img {
    width: 16px;
    margin-left: 20px;
  }
  .product-highlight {
    border-top: 2px solid #808080;
  }
  .products {
    border-bottom: 1px solid #808080;
  }
  .products-seen {
    border-top: 1px solid #808080;
    margin-top: 40px;
  }
  .title-products-seen {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
