.kt-checkbox {
  position: relative;
  padding-left: 30px;
}
.kt-checkbox span {
  background: 0 0;
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #c8cfdd;
}
.kt-checkbox span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -2px;
  margin-top: -6px;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0 !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid #000;
}
.kt-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.kt-checkbox input:checked~span {
  border: 1px solid #c8cfdd;
}
.product-detail {
  font-size: 14px;
  padding-top: 30px;
}
.product-detail .product-main .product-thumbnails a img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.product-detail .product-main .product-gallery img {
  width: 100%;
  border: 1px solid #f0f0f0;
}
.product-detail .product-main .product-gallery .slick-slide {
  padding: 3px;
}
.product-detail .product-main .slick-slide img {
  border: 1px solid #f0f0f0;
}
.product-detail .variations .variations__item span.label {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 16px;
  border-bottom: 1px solid #f0f0f0;
}
.product-detail .variations .variations__item .value {
  margin-top: 10px;
}
.product-detail .variations .variations__item .value label {
  font-size: 10px;
  line-height: 20px;
}
.product-detail .product-info .product-btn {
  display: block;
  padding: 8px 10px;
  text-align: center;
  border-radius: 26px;
  background: #f7f8fa;
  font-size: 20px;
  font-weight: 700;
}
.product-detail .product-info .product-btn.price {
  background-color: #08649c;
  color: #fff;
  margin-top: 40px;
}
.product-detail .product-info .product-btn.price span {
  font-weight: 700;
}
.product-detail .product-info .sku {
  font-size: 14px;
  font-weight: 700;
}
.product-detail .product-info .product-title {
  font-size: 20px;
  font-weight: 700;
}
.product-detail .product-info .product-short-description {
  font-size: 9px;
}
.product-detail .product-info .product-short-description ul {
  padding-left: 15px;
}
.product-detail .slide-featured-product .slide-item img {
  width: 100%;
}
.product-detail .product-footer {
  margin-top: 30px;
}
.product-detail .product-footer .nav {
  margin: 0 -15px;
  position: relative;
}
.product-detail .product-footer .nav:after {
  content: '';
  display: block;
  height: 1px;
  background: #ddd;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
}
.product-detail .product-footer .nav-link {
  font-size: 15px;
  padding: 12px 12px;
  position: relative;
}
.product-detail .product-footer .nav-tabs .nav-link.active {
  color: #495057;
  border: none;
  background: none;
}
.product-detail .product-footer .nav-link.active {
  color: #495057;
  font-weight: 600;
}
.product-detail .product-footer .nav-link.active::after {
  height: 3px;
  display: block;
  width: 30px;
  background: #30bcee;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.product-detail .product-attribute-specs-table {
  background: #f7f8fa;
  padding: 10px;
  margin-top: 50px;
}
.product-detail .product-attribute-specs-table h3 {
  font-size: 23px;
  margin-bottom: 2rem;
}
.product-detail .product-attribute-specs-table .bd-right:nth-child(1) {
  border-right: 0.5px solid #000;
}
.product-detail .product-attribute-specs-table h4.highlight {
  font-size: 25px;
}
.product-detail .product-attribute-specs-table span {
  font-size: 11px;
}
.product-detail .product-attribute-specs-table .item-spect {
  padding: 10px 20px;
  text-align: center;
}
.product-detail .product-attribute-specs-table a.btn-showmore {
  margin: 0 auto;
}
.product-detail .product-featured .col-sm {
  padding: 20px 50px;
  text-align: center;
}
.product-detail .product-featured .col-sm h3 {
  font-size: 14px;
}
.product-detail .product-support .item_support {
  background: #f7f8fa;
  padding: 20px;
  text-align: center;
}
.product-detail .product-support .item_support__content {
  font-size: 16px;
  text-align: justify;
  margin: 0 auto;
  padding-bottom: 15px;
  width: 215px;
}
.product-detail .product-support .item_support_1 {
  margin-bottom: 10px;
}
.product-detail .product-support a.link-sp {
  font-size: 9px;
  text-align: center;
  padding-top: 15px;
}
.product-detail .tab-content {
  font-size: 12px;
}
.product-detail .tab-content h2.product-title {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.product-detail .tab-content h3.product-title {
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
  margin-bottom: 25px;
}
.product-detail .tab-content .sku {
  margin-bottom: 30px;
}
.product-detail .tab-content .product-description {
  padding: 10px 10px 40px 10px;
  text-align: justify;
}
.product-detail .tab-content .slide {
  margin-top: 10px;
}
.product-detail .item_feautred .item__title {
  font-size: 20px;
  margin-top: 15px;
  height: 45px;
  margin-bottom: 20px;
}
.product-detail .item_feautred .item__description {
  font-size: 12px;
  padding: 0 12px;
  text-align: justify;
}
.product-detail .product-video {
  margin-bottom: 40px;
}
.product-detail .product-video .item_video__title {
  margin-top: 25px;
  text-align: center;
}
.product-detail .product-video .item_support {
  padding: 80px 135px;
}
.product-detail .view-more-sp {
  margin-top: 40px;
  padding-bottom: 20px;
}
.product-map {
  margin-top: 30px;
}
.product-map a {
  color: #08649c;
}
.slide-featured-product,
.slide-featured-product-thumbnails {
  display: none !important;
}
@media (min-width: 992px) {
  .product-detail {
    padding-top: 30px;
  }
  .product-detail .product-footer {
    margin-top: 60px;
  }
  .product-detail .product-footer .nav-item {
    width: auto;
  }
  .product-detail .product-footer .nav-tabs .nav-link.active::after {
    margin: 20px auto 0px auto;
  }
  .product-detail .product-main {
    /* padding: 0 80px; */
  }
  .product-detail .tab-content .product-description {
    padding: 40px 10px;
    text-align: center;
  }
  .product-detail .product-support .item_support {
    background: #f7f8fa;
    padding: 80px;
    text-align: center;
  }
  .product-detail .product-support .item_support__content {
    font-size: 20px;
    text-align: justify;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  .product-detail .product-support .item_support_1 .item_support__content {
    width: 215px;
  }
  .product-detail .product-support .item_support_2 .item_support__content {
    width: 270px;
  }
  .product-detail .product-attribute-specs-table {
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .product-detail .product-attribute-specs-table .specs__content {
    margin-bottom: 30px;
  }
  .product-detail .product-attribute-specs-table h3 {
    font-size: 23px;
    margin-bottom: 2rem;
  }
  .product-detail .product-attribute-specs-table .bd-right {
    border-right: 0.5px solid #000;
  }
  .product-detail .product-attribute-specs-table h4.highlight {
    font-size: 32px;
  }
  .product-detail .product-attribute-specs-table span {
    font-size: 11px;
  }
  .product-detail .product-attribute-specs-table .item-spect {
    padding: 20px 50px;
  }
  .product-detail .product-attribute-specs-table a.btn-showmore {
    margin: 0 auto;
  }
  .product-detail .feautred {
    margin-bottom: 40px;
  }
  .product-detail .product-video {
    padding-top: 70px;
  }
  .product-detail .product-featured .col-sm {
    padding-right: 85px;
  }
  .product-detail .product-featured .col-sm h3 {
    font-size: 16px;
  }
  .product-detail .product-featured .tab-content .slide {
    margin-top: 40px;
  }
  .product-detail .product-featured .tab-content h3.product-title {
    text-align: center;
    margin-top: 100px;
    font-size: 34px;
    margin-bottom: 25px;
  }
  .product-detail .product-featured .tab-content .product-description {
    padding: 0 150px 70px 150px;
    text-align: center;
  }
}

.product-detail .product-main .slick-slide .item .img img {
    /* width: 100px; */
    /* width: 100px; */
}


