.product-box .option-box {
  font-size: 12px;
  flex-direction: column;
}
.bd-highlight {
  font-weight: 500;
}
#btn-viewmorde {
  padding: 10px;
  border-radius: 20px;
  background-color: #f7f8fa;
}
.bd-highlight {
  font-weight: 600;
}
.select-box__input-text {
  font-weight: 500;
}
.select-box {
  z-index: 1;
}
.selector-ranger {
  width: 90px;
}
.selector-ranger.active .price-slider {
  display: block;
}
.selector-ranger .price-slider {
  width: 250px;
  display: none;
  z-index: 10;
  position: absolute;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.26);
  transition: all 0.15s ease-in;
  left: -30%;
  top: 40px;
}
.selector-ranger .price-slider:before {
  content: '';
  position: absolute;
  left: 50px;
  top: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  clear: both;
}
.selector-ranger .ui-slider-range {
  top: 0;
  height: 100%;
}
.selector-ranger .ui-slider-handle {
  border-radius: 50%;
  background-color: #08649c !important;
  border: none !important;
  top: -8px !important;
  width: 15px !important;
  height: 15px !important;
  outline: none;
}
.selector-ranger #slider-range {
  width: 90%;
  margin-bottom: 30px;
  border: none;
  background: #e2f7f2;
  height: 3px;
  margin-left: 8px;
  margin-right: 8px;
}
.selector-ranger .slider-price {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  width: 90px;
  margin: 0 5px;
  background-color: #e2f7f2;
  line-height: 28px;
  text-align: center;
}
@media (min-width: 320px) {
  .product-inverter .product-viewmore {
    margin-top: 30px;
  }
  .product-inverter .news {
    border-top: 1px solid #f0f0f0;
    margin-top: 50px;
    padding-top: 40px;
  }
  .product-inverter .products-seen .img-item-product {
    width: 50%;
  }
  .btn-search-system {
    position: absolute;
    left: 20px;
    background: transparent;
    width: 34px;
    top: 13px;
  }
  .input-search-system {
    padding-left: 80px;
    border-radius: 30px;
  }
  .input-search-system::placeholder {
    font-size: 14px;
  }
  .form-search-system {
    position: relative;
  }
  .btn-search-system {
    border: 0;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .border-form-system {
    border: 0;
    border-radius: 30px;
    background-color: #f7f8fa;
    height: 46px;
  }
  .product-inverter .begin-products-list {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .product-inverter .begin-products-list .products-list-content {
    text-align: center;
  }
  #btn-viewmorde {
    padding: 5px;
    border-radius: 20px;
    background-color: #f7f8fa;
  }
}
@media (min-width: 992px) {
  .product-box .option-box {
    flex-direction: inherit;
  }
  .product-inverter .inverter {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #f7f8fa;
    padding: 50px;
  }
  .product-inverter .background-color {
    background-color: #f7f8fa;
    margin-bottom: 50px;
    border-bottom: 20px solid #f7f8fa;
  }
  .product-inverter .begin-products-list {
    background-color: #fff;
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .product-inverter .begin-products-list .products-list-content {
    text-align: left;
  }
  .product-inverter .products-list-info {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .product-inverter .info-product {
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;
  }
  .product-inverter .multiple-product {
    border: 2px solid #808080;
    border-radius: 20px;
    padding: 10px;
  }
  .product-inverter .see-more-product {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .product-inverter .news {
    padding-top: 40px;
  }
  .product-inverter .news h2 {
    line-height: 28px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .product-inverter .news .arrow {
    display: inline-block;
    position: absolute;
    bottom: 34px;
    left: 50%;
  }
  .product-inverter .news .arrow img {
    width: 7px;
  }
  .product-inverter .news .arrow .arrow__left {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .product-inverter .news .arrow .arrow__right {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .product-inverter .news .news__viewall {
    margin-top: 50px;
  }
  .product-inverter .news .news__viewall a {
    color: #08649c;
  }
  .product-inverter .news .news__viewall a:hover {
    text-decoration: none;
  }
  .product-inverter .news .news__viewall a img {
    width: 16px;
    margin-left: 20px;
  }
  .product-inverter .product-highlight {
    border-top: 2px solid #808080;
  }
  .product-inverter .products-seen {
    border-top: 1px solid #808080;
    margin-top: 50px;
  }
  .product-inverter .products-seen .img-item-product {
    width: 50%;
  }
  .product-inverter .title-products-seen {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #btn-viewmorde {
    padding: 5px;
    border-radius: 20px;
    background-color: #f7f8fa;
  }
}
