.page-support .banner {
  background-repeat: no-repeat;
  padding: 10px;
  background-size: cover;
  color: #fff;
}
.page-support .banner .banner__content {
  width: 100%;
  max-width: 473px;
}
.page-support .banner .banner__content h3 {
  font-size: 38px;
}
.page-support .banner .banner__content .input-group {
  width: 270px;
}
.page-support .banner .banner__content span {
  font-size: 10px;
}
.page-support .banner .banner__content span.text-white-50.font-italic {
  text-decoration: underline;
}
.page-support .item-info-support {
  border-bottom: 1px solid #808080;
}
.page-support .arrowdown {
  width: 7px;
  margin-left: 7px;
}
.page-support .lime-border {
  position: relative;
}
.page-support .lime-border::placeholder {
  font-size: 14px;
  font-weight: 300;
  padding-left: 0;
}
.page-support .question-form {
  height: 40px;
  width: 100%;
  max-width: 318px;
  position: relative;
  margin-bottom: 4px;
}
.page-support .question-form .form-control {
  height: 40px;
}
.page-support .question-form button {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  padding: 0;
}
.page-support .question-form button img {
  width: 20px;
}
.page-support .support-portfolio {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}
.page-support .support-banner {
    padding: 60px 0 60px 85px;
    background-size: cover;
    background-position: right;
    max-width: 100%;
    margin: 0 auto;
    width: 80%;
}
@media(max-width: 767.98px){
  .page-support .support-banner {
    display: none;
  }
}
@media(min-width: 768px) and (max-width: 1070px){
  .support-content{
    max-width: 280px;
  }
}
@media (max-width: 992px) {
  .page-support .support-banner {
      padding: 60px 0 60px 85px;
      background-size: cover;
      background-position: right;
      max-width: 100%;
      margin: 0 auto;
      width: 90%;
  }
}
@media (min-width: 992px) {

  .page-support .banner {
    padding: 70px;
  }
  .page-support .support-portfolio {
    max-width: 300px;
    padding: 45px 0;
  }
  .page-support .banner__content .input-group {
    width: 320px;
  }
  .item-contact-support {
    border-right: 1px solid #414042;
  }
}
