.page-system-cool {
  font-size: 12px;
}
.page-system-cool h1 {
  font-size: 55px;
}
.page-system-cool table {
  font-size: 10px;
}
.page-system-cool table thead {
  font-size: 12px;
}
.page-system-cool table thead th {
  border: none;
  padding: 0px 0px 20px 0px;
}
.page-system-cool table td {
  padding: 20px 0;
}
.page-system-cool select.form-control {
  font-size: 12px;
  border: none;
  padding: 0px;
  height: auto;
}
.page-system-cool .shop-ecool {
  font-weight: 500;
}
.page-system-cool .see-more-system-ecool {
  margin-bottom: 50px;
  color: #30bcee;
}
.page-system-cool .shop-ecool {
  font-weight: 500;
}
.page-system-cool .map-contact {
  opacity: 0.5;
  width: 100%;
  height: 400px;
  background-color: #808080;
}
