.ecool-video .video-header {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.ecool-video .video-header-title {
  margin-top: 20px;
  font-weight: bold;
}
.ecool-video .arrow {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 15px;
  left: unset;
}
.ecool-video .video-items .item-video {
  margin-bottom: 30px;
}
.ecool-video .video-items .item-video h4 {
  margin-bottom: 20px;
  margin-top: 0;
  height: 34px;
  line-height: 17px;
  text-overflow: hidden;
}
.ecool-video .img-item-video {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .ecool-video .arrow {
    top: 335px;
    left: 68%;
  }
  .ecool-video .video-header {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .ecool-video .img-video {
    width: 545px;
    height: 308px;
  }
  .ecool-video .video-header-title {
    margin-top: 45px;
    font-weight: bold;
  }
  .ecool-video .arrow__left {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    opacity: 0.4;
  }
  .ecool-video .arrow__right {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    opacity: 0.4;
  }
  .ecool-video .video-items-title {
    font-weight: bold;
    margin-bottom: 50px;
  }
  .ecool-video .video-items {
    margin-bottom: 50px;
  }
  .ecool-video .img-item-video {
    margin-bottom: 20px;
  }
  .ecool-video .item-video {
    border: 1px solid #f7f8fa;
  }
}
