<!-- BEGIN: modules -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Trang chủ</title>
  <link href="{DIR_JS}/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="{DIR_STYLE}/font/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="{DIR_STYLE}/screen.css" rel="stylesheet" type="text/css" />
  <link href="{DIR_MOD}/css/collection.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{DIR_JS}/jquery.min.js"></script>
  <script type="text/javascript" src="{DIR_JS}/jquery-migrate.min.js"></script>
</head>
<body>
  <div class="designPopup" style="max-width: 870px;">
    {data.main}
  </div>
</body>
</html>
<!-- END: modules -->

<!-- BEGIN: html_booking -->
<form name="f_booking" id="f_booking" action="" method="POST">
  <div class="title">{LANG.collection.f_booking}</div>
  <div class="content">
    <div class="formPopup">
      {data.err}
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label for="name">{LANG.collection.full_name} *</label>
            <div class="formFa fa-user">
              <input type="text" class="required" id="name" name="name"/>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label for="email">{LANG.collection.email} *</label>
            <div class="formFa fa-envelope-o">
              <input type="text" class="required" id="email" name="email"/>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label for="phone">{LANG.collection.phone} *</label>
            <div class="formFa fa-phone">
              <input type="text" class="required" id="phone" name="phone"/>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label for="address">{LANG.collection.address}</label>
            <div class="formFa fa-home">
              <input type="text" id="address" name="address"/>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="p_id">{LANG.collection.product_name} </label>
            {data.list_collection}
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label for="comment">{LANG.collection.note}</label>
            <div class="formFa fa-edit">
              <textarea name="comment" id="comment"></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label for="security_code">{LANG.collection.security_code} *</label>
            <div class="input-group">
              <div class="formFa fa-shield">
                <input type="text" name="security_code" id="security_code" class="required">
              </div>
              <span class="input-group-img">
                <img class="security_ver" src="{data.ver_img}">
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="form-group">
            <label for="btnConfirm"></label>
            <button name="btnConfirm" id="btnConfirm" value="1"><span>{LANG.collection.btnSend}</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script language="javascript">
  function checkform(f) {
    if (f.name.value == '' ) {
      alert("{LANG.collection.err_name_empty}");
      f.name.focus();
      return false;
    }
    if (f.phone.value == '' ) {
      alert("{LANG.collection.err_phone_empty}");
      f.phone.focus();
      return false;
    }
    var re =/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5})$/gi;
    var email = f.email.value;
    if (email == '') {
      alert("{LANG.collection.err_email_empty}");
      f.email.focus();
      return false;
    }
    if (email != '' && email.match(re)==null)   {
      alert("{LANG.collection.err_email_invalid}");
      f.email.focus();
      return false;
    }
    if (f.security_code.value == '' ) {
      alert("{LANG.collection.err_security_code_empty}");
      f.security_code.focus();
      return false;
    }
    return true;
  }
  $(function(){
    $("#f_booking").submit(function(){
      return checkform( $(this)[0] );
    });
  });
</script>
<!-- END: html_booking -->

<!-- BEGIN: html_booking_success -->  
<div class="title">{LANG.collection.f_booking_success}</div>
<div class="content">
  <div class="formPopup" style="text-align: center;">
    {LANG.collection.note_success}
  </div>
</div>
<!-- END: html_booking_success -->