 
.project-jcarousel .jcarousel-clip
{
	width:700px;
	height:250px;
	float:left;
	padding:10px 0px;
	margin:0;
}
.project-jcarousel ul li
{
	float:left;
	width:210px;
	height:250px; 
	margin:0;  
	background:url(../images/line_pro.gif) right center no-repeat;
	padding-right:30px;
}
.project-jcarousel .project-jcarousel-last
{
	padding:0;
	margin:0;
}

.project-jcarousel .prev
{
	position:absolute;
	right:20px;
	top:-25px;
	width:20px;
	cursor:pointer;
}
.project-jcarousel .next
{
	position:absolute;
	right:0;
	top:-25px;
	width:20px; 
	cursor:pointer;
}
.project-jcarousel { padding-top:10px; position:relative; }
.project-jcarousel ul li h3 { padding:2px 0px; 	font-weight:bold;  text-align:center; }
.project-jcarousel ul li h3 a { }
.project-jcarousel ul li .divImg {
	margin:0px auto;     
	height:210px;
	width:210px;  
	margin-bottom:10px;
}
.project-jcarousel ul li .img {  	
	background:#1d1d1d;
	text-align:center; 
	overflow:hidden;
	border:1px solid #383838;
	padding:4px;
}
 

.project-jcarousel ul li .price {
	font-weight:bold;
	color:#68b92e ;
}


.project-jcarousel ul li.noItem  {
	width:650px;
	padding-top:45px;
	text-align:center;
	color:#FF0000;
}