/*--------------- My RENTAL ---------------------*/
.table_bg {
	background-color:#989a9c;
}
table.table_bg td{
	padding:2px;
}
.row_title{
	background:#e6e7e9;
	color:#000;
	font-weight:bold;
	height:20px;
}
.row1{
	background:#FFFFFF;

}
.row2{
	background:#FAFAFA;
}
.row_extra{
	background:#FAFAFA;
}
.row_select {
	background:#F4EAD2;
}

table.mytable {

	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.mytable thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
}

table.mytable tbody th { font-weight: bold; }

table.mytable tbody tr.row_title 	{ background: #f0f0f0; padding:3px; }
table.mytable tbody tr.row_title td { background: #f0f0f0; padding:3px; }

table.mytable tbody tr.row0 	{ background: #fff; border-top: 1px solid #fff; }
table.mytable tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }

table.mytable tbody tr td.row0 	{ background: #fff; border-top: 1px solid #fff; padding:3px;}
table.mytable tbody tr td.row1 	{ background: #f9f9f9; border-top: 1px solid #fff;font-weight:bold; padding:3px;}

table.mytable .select {
	width:300px;
} 
 