<!-- BEGIN: edit -->
 {data.err}
<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="myForm"  class="validate">
  <table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">
		 <tr  >
     <td class="row1" >Tin Comment: </td>
     <td class="row0"><strong>{data.title_item}</strong></td>
    </tr>
    <tr  >
     <td class="row1" width="20%">Họ tên: </td>
     <td class="row0"><input name="name" type="text" size="50" maxlength="250" value="{data.name}"></td>
    </tr>
		
    <tr  >
     <td class="row1"  >Email: </td>
     <td class="row0"><input name="email" type="text" size="50" maxlength="250" value="{data.email}"></td>
    </tr> 

    <tr  >
     <td class="row1"  >Nội dung : </td>
     <td class="row0"> <textarea name="content" id="content" rows="3" cols="50" style="width:90%" class="textarea">{data.content}</textarea></td>
    </tr>
    <tr  >
     <td class="row1"  >Ẩn email : </td>
     <td class="row0">{data.list_hidden_email}</td>
    </tr>
    
			
		<tr align="center">
    <td class="row1" >&nbsp; </td>
			<td class="row0" >
				<input type="hidden" name="do_submit"	 value="1" />
				<input type="submit" name="btnAdd" value="Submit" class="button">
				<input type="reset" name="Submit2" value="Reset" class="button">
			</td>
		</tr>
	</table>
</form>




<br>
<!-- END: edit -->

<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="fSearch">
<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="tableborder">
  <tr>
    <td width="15%" align="left">{LANG.totals}: &nbsp;</td>
    <td width="85%" align="left"><b class="font_err">{data.totals}</b></td>
  </tr>
  <tr>
    <td >{LANG.status}: &nbsp;</td>
    <td >{data.list_display}</td>
  </tr>
</table>
</form>
{data.err}
<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<br />
<!-- END: manage -->