/*
    anythingSlider v1.2
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/


.anythingSlider                         { width: 440px; height: 360px; position: relative; margin-left:5px;  }
.anythingSlider .wrapper                { width: 435px; overflow: auto; height: 350px; position: absolute; top: 0; left: 0; }

                                       /* Width below is max for Opera */
.anythingSlider .wrapper ul             { width: 32700px; list-style: none; position: absolute; top: 0; left: 0; margin: 0; }
.anythingSlider ul li                   { display: block; float: left; padding: 0; height: 320px; width: 430px; margin: 0; padding-right:5px; }
/*
.anythingSlider .arrow                  { display: block; height: 200px; width: 67px; background: url(images/arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: 65px; cursor: pointer; }
.anythingSlider .forward                { background-position: 0 0; right: -20px; }
.anythingSlider .back                   { background-position: -67px 0; left: -20px; }
.anythingSlider .forward:hover          { background-position: 0 -200px; }
.anythingSlider .back:hover             { background-position: -67px -200px; }
*/

#thumbNav                               { position: relative; top: 335px; text-align: left; }
#thumbNav a
{
    color: #5f5e5e;
    display: inline-block;
    text-decoration:none;
    padding: 0px 2px;
    height: 15px;
		width:18px;
    font-size:11px;
    font-weight:bold;
		margin-right:3px;
    background:url(images/page_bg.gif) center no-repeat;
    text-align: center;
 		line-height:15px;
}
#thumbNav a:hover
{
    background:url(images/page_on.gif) center no-repeat;
    color: #fff;
}
#thumbNav a.cur
{
   background:url(images/page_on.gif) center no-repeat;
   color: #fff;
}


 