.dashboard-widgets-wrap {
	padding-top:10px;
}

.dashboard-box{
	float:left;
	width:49%;
	padding-right:0.8%;
}
 



.postbox {
	background-color:#FFFFFF;
	border-color:#DFDFDF;
	-moz-border-radius:6px 6px 6px 6px;
	border-style:solid;
	border-width:1px;
	line-height:1;
	margin-bottom:10px;
	min-width:255px;
	position:relative;
	width:99.5%;
}
 
.postbox .handlediv {
	float: right;
	width: 23px;
	height: 26px;
}
.postbox:hover .handlediv {
	background: transparent url(../images/menu-bits.gif) no-repeat scroll left -111px;
}

.postbox .hndle {
	cursor:move;
}

.postbox h3 {	
	
	background:url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
text-shadow:0 1px 0 #FFFFFF;
	-moz-border-radius:6px 6px 0 0;
	-moz-user-select:none;
	cursor:move;
	color:#464646;
	font-size:12px;
	font-weight:bold;
	line-height:1;
	margin:0;
	padding:7px 9px;
}

div.postbox div.inside {
	margin:10px;
	position:relative;
}

.hidden, .js .closed .inside, .js .hide-if-js, .no-js .hide-if-no-js {
display:none;
}


.rss-widget ul {list-style:none;}
.rss-widget ul li {
	line-height:1.5em;
	margin-bottom:12px;
}

.rss-widget a.rsswidget {
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:13px;
	line-height:1.7em;
}
.rss-widget span.rss-date {
	margin-left:3px;
}