#media_list {
	height: 200px;
	scrollbar-base-color: #DCDCDC;
	scrollbar-arrow-color: #000000;
	overflow: auto;
}

.item {
	float: left;
	border: 1px solid #ccc;
	margin: 3px;
	position: relative;
}

.item a {
	display: table-cell !important;
	display: block;
	width: 80px;
	height: 90px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: black;
	line-height: 90px;
}

.item a:hover {
	text-decoration: none;
}

.item img {
	display: inline;
	margin-top: expression((   80 -   this.height)/ 2 );
}

html>body .item img {
	margin: auto;
}

.item span {
	line-height: 100%;
	clear: both;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2px 0;
	background-color: #eee;
	overflow: hidden;
	font-size:10px;
}

/************************* BORDER **********************/
.tableborder {
	border: 2px solid #C9C9B5;
	padding: 5px;
}
 
.media-content { background:#fff;}

::-moz-selection
{
	background:#b3d4fc;
	text-shadow:none
}
	::selection
{
	background:#b3d4fc;
	text-shadow:none
}


.filebrowse
{
	background:#F5F5F5;
	height:400px;
	overflow:auto;
	width:100%
}
.filetype
{
	float:left;
	position:relative
}

#imglist{
	margin:5px
}

.imgcontent
{
	background:#fff;
	border:2px solid #EAEAEA;
	color:#666;
	cursor:pointer;
	float:left;
	height:124px;
	line-height:16px;
	margin-bottom:2px;
	margin-right:2px;
	padding:5px;
	text-align:center;
	width:100px; 
}

.imgcontent:hover
{
	background:#F2F9FC;
	border:2px solid #DDEFF8;
	color:#333
}

	img.previewimg
{
	background:#FFF;
	border:2px solid #F0F0F0;
	max-height:80px;
	max-width:80px;
	padding:2px
}

.imgfolder
{
	background:#FFF;
	cursor:pointer;
	height:360px;
	margin:1px;
	overflow:auto;
	width:200px
}
.imgInfo
{
	font:400 10px/12px tahoma,arial,sans-serif;
	height:30px
}
.imgsel
{
	background:#fd8;
	border:2px solid #fb0;
	color:#333
}

.media-footer { padding:5px;}
.notupload
{
	color:#F00;
	float:right;
	font-size:10px;
	font-weight:bold;
	padding:5px
}
.refresh ,.editor_refresh, .search ,.editor_search
{
	float:left;
	margin:3px 10px 0;
	position:relative
}
.refresh ,.editor_refresh, .search ,.editor_search img
{
	border:none
}
.filetype {
    float: left;
    position: relative;
}
.sortFile {
    float: left;
    margin-left: 5px;
    position: relative;
}


input[type="file"] {
    cursor: pointer;
    font-size: 30px;
    height: 33px;
    left: -320px;
    opacity: 0;
    position: relative;
    z-index: 1000;
}
.upload
{
	background:url(../images/upload.gif) no-repeat 0 0;
	cursor:pointer;
	float:left;
	height:26px;
	overflow:hidden;
	position:relative;
	width:77px
}
.upload:hover
{
	background:url(../images/upload.gif) no-repeat 0 -26px
}
.uploadForm
{
	float:right;
	position:relative; 
}









.filedetails { padding:10px;}

.filedetails h3 {
    color: #777777;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 8px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.attachment-info {
    border-bottom: 1px solid #E5E5E5;
    box-shadow: 0 1px 0 #FFFFFF;
    color: #999999;
    line-height: 18px;
    margin-bottom: 16px;
    min-height: 60px;
    overflow: hidden;
    padding-bottom: 11px;
}


.attachment-info .thumbnail:after {
    bottom: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    content: "";
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.attachment-info .thumbnail {
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    max-height: 120px;
    max-width: 120px;
    position: relative;
}


.attachment-info .details {
    float: left; 
    max-width: 100%;
}

.attachment-info .thumbnail img {
    display: block;
    margin: 0 auto;
    max-height: 120px;
    max-width: 120px;
}

.attachment-info .filename {
    color: #464646;
    font-weight: bold;
    word-wrap: break-word;
}

.filedetails .file-setting  { border-bottom: 1px solid #E5E5E5;    box-shadow: 0 1px 0 #FFFFFF; margin-bottom: 5px; overflow:hidden;}
.filedetails .setting {
    display: block;
    float: left;
    margin: 1px 0;
    width: 100%;
}

.filedetails .setting label  {
    color: #999999;
    float: left;
    font-weight: normal;
    line-height: 16px;
    min-height: 22px;
    padding-top: 8px;
    text-align: right;
    text-shadow: 0 1px 0 #FFFFFF;
}
.filedetails .setting .div-text {
	float: right;
   width: 65%;
} 
 
.filedetails .div-button  { text-align:center; padding:10px 0px;}
.filedetails .div-button a.button { text-decoration:none;}