<!-- BEGIN: edit -->
<br>
{data.err}
<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="myform" id="myform"  class="validate">
<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">

		  <tr class="form-required" >
            <td width="20%"  class="row1">{LANG.position} : </td>
            <td  align="left" class="font_err"><strong>{data.vitri}</strong></td>
          </tr>

          <tr>
            <td class="row1">{LANG.title}  : </td>
            <td width="82%" align="left"><input name="title" type="text" id="title" size="50" maxlength="250" value="{data.title}" /></td>
          </tr>
		  
		<tr  >
		<td colspan="2" class="row0" align="center">
    {data.html_img}
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <td width="20%" class="row1">{LANG.logo} :&nbsp;</td>
            <td align="left" class="row0">
            <input name="chk_upload" type="radio" value="0" checked> 
            Insert URL's image &nbsp; <input name="picture" type="text" size="50" maxlength="250" > <br>
            <input name="chk_upload" type="radio" value="1"> Upload Picture &nbsp;&nbsp;&nbsp;
            <input name="image" type="file" id="image" size="30" maxlength="250">
      			</td>
          </tr>
		  
		</table>

		</td></tr>
		<tr>
		  	<td class="row1">{LANG.width}:&nbsp;</td>
			<td align="left"><input name="width" type="text" id="width" size="3" maxlength="3" value="{data.width}">&nbsp;pixcel</td>
		  </tr>	 	
		 <tr>
		  	<td class="row1" >{LANG.height}:&nbsp;</td>
			<td align="left"><input name="height" type="text" id="height" size="3" maxlength="3" value="{data.height}">&nbsp;pixcel</td>
		  </tr>	
			  
          <tr >
            <td class="row1" >Link : </td>
			<td align="left"><input name="l_link" type="text"  size="50" maxlength="250" value="{data.l_link}" /></td>
          </tr>
	 
			<tr>
            <td width="20%"  class="row1">Target : </td>
            <td  align="left" class="font_err"><strong>{data.list_target}</strong></td>
          </tr>
		   <tr >
            <td class="row1">{LANG.display}: </td>
			<td align="left">{data.list_display}</td>
		  </tr>
          <tr >
          <td class="row1" >&nbsp;</td>
            <td class="row0">
            <input type="hidden" name="do_submit" value="1">
            <input type="submit" name="Submit" value="Submit" class="button">
            <input type="reset" name="Submit2" value="Reset" class="button">           
			 </td></tr>
        </table>
    </form>
<br><br>
<!-- END: edit -->

<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="myform">
<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">
  <tr>
    <td width="15%" class="row1">{LANG.totals}: &nbsp;</td>
    <td width="85%" class="row0"><b class="font_err">{data.totals}</b></td>
  </tr>

   <tr >
	 	<td  class="row1"><strong>{LANG.position}:</strong> </td>
    <td class="row0">{data.list_pos}</td>
  </tr> 
  </table>
</form>
{data.err}
<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<br />
<!-- END: manage -->