<!-- BEGIN: box_poll -->
<script type="text/javascript">
	 
	function do_CheckVote(field,is_muti)
	{
		form = field.form;
		if(is_muti==1) 
		{
			var len = form.vote.length;
			var arr_id = new Array;
			if (len>1)
			{
				for (i=0;i<len;i++)	{
					if (form.vote[i].checked==true){
 						 arr_id.push(form.vote[i].value);
					}
				}
				list_id = arr_id.join(',');				
 				form.option_id.value = list_id;		
			}else{
				form.option_id.value = form.vote.value;
			}
			
		}else{					
			if (field.checked)		{			
				form.option_id.value = field.value;
			}
			else	{
				form.option_id.value = 0;
			}
		}
	
	}
	
	function do_Poller(sform, saction)
	{
		option_id = sform.option_id.value ;
		poll_id = sform.poll_id.value ;
		lang = sform.poll_lang.value ;
		if (saction==1)
		{
			if (option_id==0){
				alert("Hay chon 1 trong các muc truoc khi bieu quyet}");
				return;
			}
		}
		url=ROOT+'blocks/poll/popup_poll.php?act='+saction+'&lang='+lang+'&poll_id='+poll_id+'&option_id='+option_id ;
		openPopUp(url, 'Poll', '500', '200', 'no')
	}
	
	
</script>
 
<table border="0" cellspacing="0" cellpadding="0" width="{data.width}px" align="{data.align}" class="tbl_poll" >
  <tr>
    <td class="fPoll">Thăm dò ý kiến</td>
   </tr>
   <tr>
    <td >  
    {data.pic}
	 <form action="" name="f_poll_news" method="post">
    <div class="poll_content">
		<h3 class="pollerTitle">{data.pollerTitle}</h3>
 		{data.row_poll}
    </div>
 		<p class="btn">
			<input value="{data.id}" name="poll_id" type="hidden">
			<input value="0" name="option_id" type="hidden">
			<input value="{data.lang}" name="poll_lang" type="hidden">
      <input name="btnPoll" class="button" type="button" value="Biểu quyết" onClick="do_Poller(this.form, 1);" />&nbsp; 
      <input name="btnResult" class="button" type="button" value="Xem kết quả" onClick="do_Poller(this.form, 0);" />
		</p>
	</form>    
    </td>
   </tr>
</table>  
<!-- END: box_poll -->