#boxContact {
	 
}

#boxContact .infoContact {
	margin-bottom:5px;
}

#boxContact .maps {
	border:1px solid #d4d4d4;
	padding:1px;
	text-align:center;  
}

ul.list_maps{
	float:left;
	width:100%;
}
.list_maps :after {
	/* clearing without presentational markup, IE gets extra treatment */
	display: block;
	clear: both;
	content: " ";
}

.list_maps li {
	float: left;
	padding-right:5px;
}


.list_maps a {
	background:url(../images/tabR.gif) right top no-repeat;
	display: block;
	color: #5cad1b;
	font-weight: bold;
	text-align: center;
	text-decoration: none;	
	padding-right:15px; 
}
.list_maps a span {
	background:url(../images/tabL.gif) left top no-repeat;
	display: block;
	line-height: 30px;
	padding-top:12px;
	padding-left:25px;
	padding-right:10px;
}

.list_maps a:hover {
	color: #e60108;
}
.list_maps a:hover span {}

.list_maps .active {
	top:1px;
	position:relative;
}
.list_maps .active a {
	
	background:url(../images/tabR_on.gif) top right no-repeat;
	color: #ffffff;
}
.list_maps .active a span {
	background:url(../images/tabL_on.gif) top left no-repeat;
	line-height: 42px;
	padding-top:0px;
}
 

/* Map styling*/
#ce_map_container{border:2px solid #CCC;background-color:#CCC}
#ce_map_canvas{width:100%;height:300px}
#ce-directionsPanel{background-color:#FFF}
/* Direction */
#ce-map-cpanel-switch{padding:8px;font-size:120%;height:40px;margin-top:2px;
background:#444 url("../images/map-icon.png") no-repeat 20px center}
#ce-map-cpanel-switch a.ce-route,
#ce-map-cpanel-switch a.ce-route:visited{color:#FFF;display:block;float:left;margin:10px 0 0 65px}
.ce-map-cpanel fieldset{border-color:#CCC;border-style:solid none none;border-width:1px 0 0;clear:both; margin:3px}
.ce-map-cpanel fieldset legend{font-size:150%}
.ce-map-cpanel div{clear:left;display:block;margin:5px 0 0;padding:1px 3px;width:100%}
.ce-map-cpanel label{ }
.ce-map-cpanel div.submit div,.ce-map-cpanel div.submit div button{display:inline}
/* Coordinates*/
#ce-map-coordinates{background-color:#F2EFE9;height:15px;margin-top:2px;padding:5px 0}
#ce-map-coordinates div{float:left;width:49%;text-align:center}
.ce-map-coord-label{font-weight:bolder}
.ce-map-coord-value{}
/* MAP: End*/
 