<!-- BEGIN: modules -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="250" id="vnt-sidebar" valign="top">{data.box_sidebar} </td>
    <td id="vnt-main" style="padding-left:20px;" valign="top">
    
    <div id="BoxShopping">
  {data.nav_shopping}
  {data.mess}
  {data.main}
  </div>
    
    </td>
  </tr>
</table> 
<!-- END: modules -->  


<!-- BEGIN: checkout_finished -->
<br />
{data.mess_finished}
<table   border="0" cellspacing="2" cellpadding="2" align="center">
						 <tr>
						  <td colspan="2" >&nbsp;</td>
						</tr>
						<tr>
						  <td width="100" align="left"><strong>Order ID:</strong></td>
						  <td  class="font_err" align="left"><strong>{data.order_code}</strong></td>
						</tr>
					   
						<tr>
						  <td align="left"><strong>{LANG.epaper.total_price} :</strong></td>
						  <td class="font_err" align="left">{data.total_price}</td>
						</tr>
					</table>
<br />
<p style="text-align:center">{data.back_epaper}</p>
<br />
<!-- END: checkout_finished -->



