
<!-- BEGIN: edit -->
{data.err}
<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="myForm"  class="validate">
<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">

	<tr >
			<td class="row1" width="25%" >{LANG.group} : </td>
			<td  align="left" class="row0">{data.list_cat}</td>
		</tr>
  <tr class="form-required" >
			<td  colspan="2" class="row1" ><p>{LANG.note_add_email} : </p> <textarea name="text_email" cols="10" rows="7" style="width:95%" class="textarea"></textarea></td>
		</tr>
		<tr align="center">
    <td class="row1" >&nbsp; </td>
			<td class="row0" >
				<input type="hidden" name="do_submit"	 value="1" />
				<input type="submit" name="btnSubmit" value="Submit" class="button">
				<input type="reset" name="btnReset" value="Reset" class="button">
			</td>
		</tr>
	</table>
</form>
<br>
<!-- END: edit -->


<!-- BEGIN: send_mail -->
<script language="javascript" >
$(document).ready(function() {
	$('#myForm').validate({
		rules: {								 
				subject: {
					required: true 
				} 
	    },
	    messages: {	    					 
				subject: {
						required: "{LANG.err_text_required}" 
				} 
		}
	});
	 
});


</script>
{data.err}
<form action="{data.link_action}" method="post" enctype="multipart/form-data" name="myForm" id="myForm"  class="validate">
<table width="100%"  border="0"  cellspacing="1" cellpadding="1" class="admintable">
	<tr>
      <td colspan="2"  align="center" class="row0" ><strong>{data.send_for}</strong></td>
    </tr>
	<tr class="form-required" >
			<td class="row1" width="25%" >Subject : </td>
			<td  align="left" class="row0"><input type="text" id="subject" name="subject" size="60" value="{data.subject}" ></td>
		</tr>
	<tr>
  <tr >
 	 <td class="row1" colspan="2"><p>Content : </p> {data.html_content} </td>
	</tr>
	<tr>

		<tr align="center">
    <td class="row1" >&nbsp; </td>
			<td class="row0" >
				<input type="hidden" name="do_submit"	 value="1" />
				<input type="submit" name="btnSubmit" value="Submit" class="button">
				<input type="reset" name="btnReset" value="Reset" class="button">
			</td>
		</tr>
	</table>
</form>
<br>
<!-- END: send_mail -->
  
<!-- BEGIN: manage -->
<form action="{data.link_fsearch}" method="post" name="myform">
<table  width="80%" border="0" cellspacing="2" cellpadding="2" align="center">
  <tr>
    <td width="25%"  align="right"><strong>{LANG.group} :</strong></td>
		<td >{data.list_cat}</td>
 </tr>
  <tr>
    <td align="right"><strong>Search Email :</strong> </td>
    <td ><input name="keyword"  value="{data.keyword}"type="text"> <input name="btnSearch" type="submit" value=" Search " class="button"></td></tr>
    <tr>
    <td align="center"  height="30" colspan="2"><font size="+1" >{data.send_all}</font></td>
  </tr>
	<tr>
    <td align="center" colspan="2" height="30"><font  style='font-size:16px;' ><img src="{DIR_IMAGE}/but_print.gif" />&nbsp;{data.download}</font></td>
  </table>
</form>
{data.err}
<br />
{data.table_list}
<br />
<table width="100%"  border="0" align="center" cellspacing="1" cellpadding="1" class="bg_tab">
  <tr>
    <td  height="25">{data.nav}</td>
  </tr>
</table>
<br />
<!-- END: manage -->