 
.product-jcarousel .jcarousel-clip
{
	width:590px;
	height:250px;
	float:left;
	padding:0 5px;
	margin:0;
}
.product-jcarousel ul li
{
	float:left;
	width:190px;
	height:250px;
	padding-right:7px;
	margin:0;
	text-align:center;
}
.product-jcarousel .product-jcarousel-last
{
	padding:0;
	margin:0;
}

.product-jcarousel .prev
{
	width:20px;
	padding-top:70px;
	padding-left:0px;
	float:left;
	text-align:right;
	cursor:pointer;
}
.product-jcarousel .next
{
	width:20px;
	padding-top:70px;
	float:left;
	text-align:left;
	cursor:pointer;
}

.product-jcarousel ul li h3 a {
	color:#FF0000;	
}
.product-jcarousel ul li .img  {
	border:1px solid #e0e0e0;
	padding:1px;
	text-align:center;	 
}

.product-jcarousel ul li .price {
	color:#ff0000 ;
}


.product-jcarousel ul li.noItem  {
	width:280px;
	padding-top:45px;
	text-align:center;
	color:#FF0000;
}