.product{
    margin-bottom: 30px;
}
.product .img{
    position: relative;
}
.product .img a{
    display: block;
    padding-top: 66.666666%;
    position: relative;
    overflow: hidden;
}
.product .img > a > img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-height: 95%;
    max-width: 95%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.product .img:hover > a > img{
    -webkit-transform: translate(-50%,-50%) scale(1.05);
    -ms-transform: translate(-50%,-50%) scale(1.05);
    -o-transform: translate(-50%,-50%) scale(1.05);
    transform: translate(-50%,-50%) scale(1.05);
}
.product .caption{
    padding: 25px 40px;
    background: #fafafa;
    position: relative;
}
.product .tend{
    margin-bottom: 5px;
}
.product .tend a{
    display: block;
    color: #726b64;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.product .tend a:hover{
    color:#0baf4d;
}
.product .code{
    color:#666666;
    margin-bottom: 5px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
}
.product .price{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
}
.product .price .red{
    color:#ed1c24;
    font-weight: bold;
    min-height: 26px;
}
.product .price .nor{
    color:#999999;
    text-decoration: line-through;
    margin-right: 10px;
    min-height: 26px;
}
.product .ribbon{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    right: 10px;
    bottom: -10px;
}
.product .ribbon .rib{
    margin-right: 10px;
}
.product .ribbon .rib:last-child{
    margin-right: 0;
}
.product .ribbon .rib.new{
    width: 45px;
    height: 45px;
    background: #ffffff;
    border:solid 1px #0baf4d;
    border-radius: 100%;
    color:#0baf4d;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    text-transform: uppercase;
}
.product .ribbon .rib.sale,
.product .ribbon .rib.hot{
    width: 45px;
    height: 45px;
    background: #ed1c24;
    border:solid 1px #ed1c24;
    border-radius: 100%;
    color:#ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    text-transform: uppercase;
}
.product .ribbon .rib.pro{
    width: 45px;
    height: 45px;
    background: #ffffff;
    border:solid 1px #0baf4d;
    border-radius: 100%;
    color:#ed1c24;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    text-transform: uppercase;
}
.product .hethang{
    position: absolute;
    right:10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#ed1c24;
    padding-left: 20px;
}
.product .hethang:before{
    content: "\f00d";
    font-family: fontAwesome;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#0baf4d;
}
.productType {
    border-top: solid 2px #f4f4f4;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 65px;
}
.productType .txt{
    font-size: 13px;
    line-height: 21px;
    color:#666666;
    margin-right: 20px;
    font-weight: 600;
}
.productType ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.productType ul li{
    margin-right: 15px;
}
.productType ul .myCheckbox{
    margin-bottom: 0;
    padding-left: 20px;
}
/*==================================================*/
.productTools{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 0px;
    border-top: solid 2px #f4f4f4;
    border-bottom: solid 2px #f4f4f4;
}
.productTools .productFilter .filter.right .popup{
    left:initial;
    right: 0;
}
.productFilter .grid{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.productFilter .grid .col{
    margin-right: 10px;
}
.filter{position: relative;}
.filter .txt{
    margin-right: 10px;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.filter .icon {
    padding: 11px 10px;
    background: #f4f4f4;
    width: 160px;
    position: relative;
    cursor: pointer;
    color: #666666;
    font-weight: 300;
}
.filter .icon:before{
    content: "\f0d7";
    font-family: fontawesome;
    position: absolute;
    right:10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.filter .popup{
    background: #f4f4f4;
    padding: 10px;
    position: absolute;
    top: 105%;
    left: 0;
    min-width: 250px;
    display: none;
    z-index: 1;
}
.filter.active .popup{
    display: block;
}
.myCheckbox.bg{
    padding: 10px 0px;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center right;
}
.myCheckbox input{
    display: none;
}
.myCheckbox{
    padding-left: 25px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.myCheckbox:hover{
    color: #0baf4d;
}
.myCheckbox a:before{
    content: "\f096";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
    line-height: 23px;
    color:#999999;
}
.myCheckbox.active a:before{
    content: "\f14a";
    color: #0baf4d;
}
.myCheckbox span{
    color:#999999;
}
/*============================================================*/
/*==================THUMBNAIL====================*/
div#thumbnail-for .img {
    border: solid 1px #e2e2e3;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}
div#thumbnail-for img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 95%;
    max-height: 95%;
}
div#thumbnail-for .slick-arrow{
    width:15px;
    height:20px;
    background: none;
    border:none;
    font-size: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
div#thumbnail-for .slick-prev{
    left:25px;
}
div#thumbnail-for .slick-next{
    right:25px;
}
div#thumbnail-for .slick-arrow:before{
    font-family: FontAwesome;
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
div#thumbnail-for .slick-prev:before{
    content: "\f104";
}
div#thumbnail-for .slick-next:before{
    content: "\f105";
}
div#thumbnail-for .slick-arrow:hover{
    color:#4a90e2;
}
div#thumbnail-nav {
    background: #fafafa;
    padding: 10px 40px;
}
div#thumbnail-nav .slick-arrow{
    width:15px;
    height:20px;
    background: none;
    border:none;
    font-size: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
div#thumbnail-nav .slick-prev{
    left: 10px;
}
div#thumbnail-nav .slick-next{
    right: 10px;
}
div#thumbnail-nav .slick-arrow:before{
    font-family: FontAwesome;
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
div#thumbnail-nav .slick-prev:before{
    content: "\f104";
}
div#thumbnail-nav .slick-next:before{
    content: "\f105";
}
div#thumbnail-nav .slick-arrow:hover{
    color:#ea4725;
}
div#thumbnail-nav .slick-list{
    margin:0 -5px;
}
div#thumbnail-nav .item{
    padding:0 5px;
}
div#thumbnail-nav .item .img{
    cursor: pointer;
    border:solid 1px #e2e3e4;
}
div#thumbnail-nav .item .img img{
    width:100%;
}
div#thumbnail-nav .item.slick-current .img{
    position: relative;
}
div#thumbnail-nav .item.slick-current .img:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: solid 3px #0baf4d;
}
.vnt-thumbnail-for {
    position: relative;
}
.vnt-thumbnail-for .ribbon{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 25px;
    pointer-events: none;
}
.vnt-thumbnail-for .ribbon .rib{
    margin-right: 10px;
}
.vnt-thumbnail-for .ribbon .rib:last-child{
    margin-right: 0;
}
.vnt-thumbnail-for .ribbon .rib.new{
    width: 45px;
    height: 45px;
    background: #ffffff;
    border:solid 1px #0baf4d;
    border-radius: 100%;
    color:#0baf4d;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    text-transform: uppercase;
}
.vnt-thumbnail-for .ribbon .rib.sale,
.vnt-thumbnail-for .ribbon .rib.hot{
    width: 45px;
    height: 45px;
    background: #ed1c24;
    border:solid 1px #ed1c24;
    border-radius: 100%;
    color:#ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    text-transform: uppercase;
}
.vnt-thumbnail-for .ribbon .rib.pro{
    width: 45px;
    height: 45px;
    background: #ffffff;
    border:solid 1px #0baf4d;
    border-radius: 100%;
    color:#ed1c24;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    text-transform: uppercase;
}
.vnt-thumbnail-for .zoom{
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 1;
    pointer-events: none;
    font-size: 30px;
    line-height: 40px;
    color:rgba(0,0,0,0.3);
}
/*====================================================*/
.productTitle{
    margin-bottom: 10px;
}
.productTitle h1{
    font-size: 20px;
    line-height: 30px;
    color:#0baf4d;
    text-transform: uppercase;
    font-weight: bold;
}
.productAttr ul li{
    padding: 9px 0;
    border-top: solid 1px rgba(0,0,0,0.15);
    color:#666666;
}
.productAttr ul li:last-child{
    border-bottom: solid 1px rgba(0,0,0,0.15);
}
.productAttr ul li .at{
    width: 95px;
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
}
.productAttr ul li .at:before{
    content: ":";
    float: right;
}
.productAttr ul li .as{
    overflow: hidden;
}
.productAttr ul li .stt{
    color:#0baf4d;
    text-transform: none;
    padding-left: 20px;
    position: relative;
}
.productAttr ul li .stt:before{
    content: "\f00c";
    font-family: FontAwesome;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#ed1c24;
}
.productAttr ul li .stt.hethang:before{
    content: "\f00d";
}
.productAttr ul li .stt.dangve:before{
    content: "\f017";
}
.productAttr{
    margin-bottom: 35px;
}
.productDes {
    color:#666666;
    margin-bottom: 15px;
}
.productVideo a{
    display: inline-block;
    color:#ffffff;
    text-transform: uppercase;
    background: #FF0000;
    padding: 15px 20px;
}
.productVideo a span{
    padding-left: 30px;
    position: relative;
}
.productVideo a span:before{
    content: "\f16a";
    font-family: fontAwesome;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    line-height: 26px;
}
.productVideo a:hover{
    background: #333333;
}
/*=================================================*/
.productSupport .price {
    margin-bottom: 15px;
}
.productSupport .price .p1 span{
    font-size: 18px;
    line-height: 26px;
    color:#666666;
    text-decoration: line-through;
}
.productSupport .price .p2 span{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color:#ed1c24;
}
.productSupport .price .p3{
    color:#999999;
}
.productSupport .price .p3 strong{
    font-weight: bold;
    color:#ed1c24;
}
.productSupport .cart .txt {
    font-size: 12px;
    line-height: 20px;
    color:#999999;
    margin-bottom: 5px;
}
.productSupport .cart .group-form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.productSupport .cart button[type="button"]{
    width: 40px;
    height:35px;
    border:none;
    background: #e5e5e5;
    font-size: 12px;
    line-height: 20px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.productSupport .cart button[type="button"]:hover{
    background: #0baf4d;
    color:#ffffff;
}
.productSupport .cart input{
    width: 90%;
    height:35px;
    border:none;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    background: none;
    text-align: center;
}
.productSupport .cart button[type="submit"], 
.productSupport .cart button#btnAddcart ,
.productSupport .cart button#btnSub {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 55px;
    font-weight: 500;
    color: #ffffff;
    background: #0baf4d;
    text-transform: uppercase;
    position: relative;
    border:none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 15px;
    line-height: 23px;
}
.productSupport .cart button[type="submit"]:hover,
.productSupport .cart button#btnAddcart:hover, .productSupport .cart button#btnSub:hover{
    background: #333333;
}
.productSupport .sLinker .ti{
    font-style: italic;
    margin-bottom: 10px;
}
.productSupport .sLink {
    padding-left: 30px;
    position: relative;
    font-size: 11px;
    line-height: 20px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.productSupport .sLink:before{
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 26px;
    position: absolute; 
    left: 0;
    top: 0;
    color:#666666;
}
.productSupport .sLink.hl{
    color:#ea4725;
    font-size: 18px;
    line-height: 26px;
}
.productSupport .sHotline{
    font-style: italic;
    margin-bottom: 15px;
}
.productSupport .sHotline span{
    font-weight: bold;
    color: #0baf4d;
}
.productWrap{
    margin-bottom: 35px;
}
/*=====================================================*/
.productContent .tab-list{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.productContent .tab-list li{
    margin-right: 15px;
}
.productContent .tab-list li a {
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 20px;
    border: solid 2px #e6e6e6;
    display: block;
}
.productContent .tab-list li.active a{
    border-color:#0baf4d;
}
.productContent .mc-tab {
    padding: 14px 20px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    border: solid 2px #e6e6e6;
    margin-bottom: 25px;
}
.productContent .mc-tab:before{
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
    line-height: 26px;
    color:#666666;
}
.productContent .font{
    font-size: 25px;
    line-height: 33px;
    font-family: 'EB Garamond', serif;
}
.productContent .tab-content{
    margin-bottom: 30px;
}
/*=========================================================*/
.productTemplate .template{
    height: 450px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.productTemplate .template:after{
    content: "";
    display: block;
    clear: both;
}
.productTemplate .template.v1{
    align-items: flex-start;
}
.productTemplate .template.v2{
    align-items: flex-end;
}
.productTemplate .template .caption{
    width: 300px;
    text-align: center;
}
.productTemplate .template .t1{
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}
.productTemplate .template .des{
    font-size: 15px;
    line-height: 23px;
    color:#555555;
}
.productTemplate .template .img{
    position: absolute;
    max-width: 450px;
}
.productTemplate .template.v1 .img{
    right: 30px;
}
.productTemplate .template.v2 .img{
    left: 30px;
}
.productTemplate .template .img img{
    mix-blend-mode: multiply;
}
/*========================================================*/
.productOther .title{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 2px rgba(0,0,0,0.3);
}
.productOther .title h2{
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
}
#slideOther .slick-list{
    margin: 0 -15px;
}
#slideOther .item{
    padding: 0 15px;
}
#slideOther .slick-arrow {
    position: absolute;
    right: 0;
    top: -64px;
    background: #f4f4f4;
    font-size: 0;
    border: none;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 2;
    color: #999999;
}
#slideOther .slick-prev{
    margin-right: 41px;
}
#slideOther .slick-arrow:before{
    font-family: FontAwesome;
    font-size: 15px;
    line-height: 23px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#slideOther .slick-prev:before{
    content:"\f053";
}
#slideOther .slick-next:before{
    content:"\f054";
}
#slideOther .slick-arrow:hover{
    background: #0baf4d;
}
#slideOther .slick-arrow:hover:before{
    color:#ffffff;
}
/*===========================================================*/
.productTable{
    margin-bottom: 60px;
}
.productTable .title {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background: #fafafa;
    padding: 23px 20px;
    margin-bottom: 2px;
}
.productTable table{
    color:#666666;
    width: 100%;
}
.productTable table tr th{
    background: #fafafa;
    padding: 16px 0;
    font-weight: bold;
    color:#333333;
    text-transform: uppercase;
}
.productTable table tr td{
    padding: 20px 10px;
}
.productTable table tr td:nth-child(6){
    max-width: 210px;
}
.productTable table tr td:nth-child(7){
    color:#ed1c24;
}
.productTable table tr td:first-child{
    padding-left: 0;
}
.productTable table tr td:last-child{
    padding-right: 0;
}
.productTable table .img{
    width: 70px;
    height: 70px;
    border:solid 1px #e2e2e2;
    position: relative;
}
.productTable table .img img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.productTable .quantity{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.productTable .quantity input{
    width: 50px;
    height: 40px;
    border:solid 1px #999999;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.productTable .quantity button{
    width: 40px;
    height: 40px;
    background: #0baf4d;
    border:none;
    color:#ffffff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.productTable .quantity button.out_stock{
    background: #333333;
}
.productTable .quantity button:hover{
    background: #333333;
}
.productTable .more a{
    display: block;
    background: #fafafa;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 9px 10px;
    width:100%;
    max-width: 350px;
    margin: 0 auto;
}
.productTable .more a:hover{
    background: #0baf4d;
    color:#ffffff;
}
/*=======================================================*/
.myDesignPopup .fancybox-close{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:solid 2px #0baf4d;
    right: 0;
    top: -85px;
    background: rgba(0,0,0,0.3);
    color:#ffffff;
}
.myDesignPopup .fancybox-close:before{
    content: "x";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
}
.myDesignPopup .fancybox-close:after{
    content: "Đóng";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -25px;
    color:#ffffff;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}
.myDesignPopup .fancybox-nav span{
    background-image: none;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 1110px){
    .product .price{
        font-size: 15px;
        line-height: 23px;
    }
    .productType ul .myCheckbox{
        font-size: 12px;
        line-height: 20px;
    }
}

@media all and (max-width: 1060px){
    .product .price{
        font-size: 14px;
        line-height: 22px;
    }
    .product .caption{
        padding: 15px;
    }
    .productType ul .myCheckbox{
        font-size: 10px;
        line-height: 20px;
    }
}

@media all and (max-width: 991px){
    .product .tend a{
        font-size: 18px;
        line-height: 26px;
    }
    .vnt-product .row{
        margin-left: -5px;
        margin-right: -5px;
    }
    .vnt-product .row *[class^="col-"]{
        padding-left: 5px;
        padding-right: 5px;
    }
    .productSupport{
        padding: 10px 15px;
    }
    .productThumbnail{
        margin-bottom: 35px;
    }
    .productContent{
        position: relative;
    }
    .productContent.active .tab-list{
        display: block;
    }
    .productContent .tab-list{
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        background: #fafafa;
        display: none;
        z-index: 1;
    }
    .productContent .tab-list li{
        margin-right: 0;
    }
    .productContent .tab-list li a{
        display: block;
        border:none;
        padding: 10px 15px;
        font-weight: normal;
    }
    .productTable table tr th{
        display: none;
    }
    .productTable table tr {
        display: block;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: solid 1px rgba(0,0,0,0.15);
    }
    .productTable table tr td{
        display: block;
        padding: 0;
        margin-bottom: 5px;
        min-height: 22px;
    }
    .productTable table tr td:first-child{
        margin-bottom: 15px;
    }
    .productTable table tr td:nth-child(4){
        display: none;
    }
    .productTable .quantity{
        position: absolute;
        top: 0;
        right: 0;
    }
    .productTable table tr td.be{
        padding-left: 100px;
        position: relative;
    }
    .productTable table tr td.be:before{
        content: attr(data-cont);
        position: absolute;
        color:#999999;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 22px;
        left:0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .productTable table tr td:nth-child(6){
        max-width: 300px;
    }
    .productType{
       position: initial;
    }
}

@media all and (max-width: 768px){
    .product .tend a{
        white-space: initial;
        height:52px;
        font-size: 16px;
        line-height: 24px;
        height:48px;
    }
    .productTools{
        display: block;
    }
    .productFilter{
        position: relative;
    }
    .productFilter .grid{
        margin: 0 -5px;
        position: relative;
    }
    .productFilter .grid .col{
        width: 50%;
        padding: 0 5px;
        margin-right: 0;
    }
    .filter{
        margin-bottom: 10px;
        position: initial;
    }
    .filter .icon{
        width: 100%;
    }
    .filter .popup, .productTools .productFilter:last-child .filter .popup {
        left: 5px;
        right: 5px;
        top: 100%;
    }
    .productVideo{
        margin-bottom: 30px;
        text-align: center;
    }
    .productTemplate .template{
        height:initial;
    }
    .productTemplate .template .img{
        position: initial;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .productTemplate .template .caption{
        width: 100%;
    }
    #slideOther .slick-list{
        margin: 0 -5px;
    }
    #slideOther .item{
        padding: 0 5px;
    }
    #slideOther{
        padding-bottom: 10px;
    }
    #slideOther .slick-arrow {
        top: initial;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #slideOther .slick-prev{
        margin-left: -25px;
    }
    #slideOther .slick-next{
        margin-left: 25px;
    }
    .productType{
        display: block;
    }
    .productType .txt{
        margin-right: 0;
        margin-bottom: 5px;
    }
}

@media all and (max-width: 640px){
    .product .price{
        display: block;
    }
    .product .hethang{
        position: initial;
        margin-top: 10px;
    }
    .productType ul{
        display: block;
        margin: 0 -10px;
    }
    .productType ul:after{
        content: "";
        display: block;
        clear: both;
    }
    .productType ul li{
        width: 50%;
        float: left;
        padding: 0 10px;
        margin: 0;
    }
    .myCheckbox.bg{
        padding: 0;
        padding-left: 20px;
        background: none !important;
    }
}

@media all and (max-width: 460px){

}

@media all and (max-width: 420px){

}

@media all and (max-width: 370px){
    .vnt-product .row .col-xs-6{
        width: 100%;
    }
    .productFilter .grid .col{
        width: 100%;
    }
    .filter{
        position: relative;
    }
    .filter .popup, .productTools .productFilter:last-child .filter .popup{
        left: 0;
        right: 0;
    }
    .productType ul li{
        width: 100%;
    }
}