
/********************* CSS BoxShopping ****************************/
#BoxShopping .mid-title {
	margin-bottom: 0px;
}
.navShopping {
	position: relative;
	padding: 20px 0px;
	margin-bottom: 20px;
	overflow: hidden;
	text-align: center;
	background: #fcf9ee;
	border-bottom: 1px solid #ccc9c0;
}
.navShopping ul {list-style: none ; display: inline-block ; margin: 0px auto}
.navShopping ul li {
	display: inline-block;
	margin: 0px 15px;
	position: relative;
	color: #666666 ;
}
.navShopping ul li::after{
	font-family: "FontAwesome";
	content : "\f101";
	position: absolute;
	right: -20px;
	bottom: 0;
	width: 10px;
}
.navShopping ul li:last-child::after {
	content: "";
}
.navShopping ul li .bg_num{
	text-align:center;
	margin-bottom:10px;
}

.navShopping ul li .bg_num a {
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	text-align: center;
	background: #a7cf46;
	color:  #ffffff;
	line-height: 38px;
	font-size: 25px;
	font-weight: bold;
	position:relative;

	-webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}
.navShopping ul li .bg_num a:hover{
	text-decoration:none;
}
.navShopping ul li .bg_num a span{}
.navShopping ul li.active .bg_num a {
	background: #ed1c24;
	color: #ffffff ;
}
.navShopping ul li.active a {color: #ff0000 ;}

#BoxShopping {
	padding:0px;
	line-height:18px;
}
#BoxShopping .button {
	background:url(../images/btn_order.gif)  center no-repeat;
	width:120px;
	border:none;
	line-height:34px;
	padding-bottom:10px;
	height:34px;
	font-weight:bold;
	color:#FFFFFF;
}

.fCart {
	font-size:16px;
	color:#FF0000;
	text-transform:uppercase;
	font-weight:bold;
}


/* BoxShopping */
#BoxShopping { }

.border_cart {
	background:#e5e5e5;
	border-collapse: inherit !important;
	border-spacing: 1px !important;
	font-size: 14px;
}

.row_title_cart {
	background:#666666;
	color:#fff;
	height:30px;
	font-weight:bold;
	text-transform:uppercase;
}
.row_total_cart {
	padding-right:5px;
	font-weight:bold;
	background:#f1f1f1;
	height: 30px;
}
.row_item_cart {
	background:#fff;
}
.row_item_cart td {
	padding:10px 5px;
}

.row_item_cart .cart-item { overflow: hidden; display: table ;  width: 100%}
.row_item_cart .img {  width: 80px; display: table-cell ;}
.row_item_cart .img img { width: 100%; height: auto;}
.row_item_cart .info { padding-left: 20px; display: table-cell ; vertical-align: middle  }
.row_item_cart .price {font-weight: bold; font-weight: bold ; font-size: 16px;}
.row_item_cart .price span { display: block ; font-weight: normal; color: #999999 ; text-decoration: line-through}
.row_item_cart .quantity { width: 60px; text-align: center}
.row_item_cart .price-sum {
	color: #ff001d;
	font-size: 20px;
	font-weight: bold;
}
.row_item_cart .icon_action {
	font-size: 18px;
}

.div-cart-total {
	background: #fcf9ee;
	padding: 10px ;
	overflow: hidden;
}


.div-cart-total .title {
	color: #ff3333;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 10px;

}
.div-cart-total .div-form  {
	margin-bottom: 10px;
}

.div-cart-total .box-code {
	border: 1px solid #cacaca;
	padding: 20px;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.13);
	-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.13);
	box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.13);


}

.div-cart-total .box-promotion {

}

.div-cart-total .div-form {
	overflow: hidden;
}
.div-cart-total .div-form .div-input {
	width: calc(100% - 110px);
}
.div-cart-total .div-form .div-button {
	width: 90px;
	text-align: right;
}
.div-cart-total .note {
	color: #666666;
}


.div-cart-total .cart-total {
	font-size: 17px;
	line-height: 30px;
	text-align: right;
}
.div-cart-total .cart-total .total_price {
	font-size: 25px;
	color: #ff001d;
	font-weight: bold;
}



.cart-note-payment  {
	background: #ffffff;
	padding: 15px;
	overflow: hidden;
}

.cart-note-payment .cart-note {
	float: left;
	width: 50%;
}
.cart-note-payment .cart-note ul {list-style: none}
.cart-note-payment .cart-note li {
	padding: 2px 0px;
	padding-left: 20px;
	position: relative;
	font-size: 12px;
	color: #555555;
}
.cart-note-payment .cart-note li a {
	color: #ff3333;
}
.cart-note-payment .cart-note li::before{
	font-family: "FontAwesome";
	content: "\f00c";
	position: absolute;
	left: 0;
	width: 10px;
	font-size: 16px;
}
.cart-note-payment .cart-note li.hotline::before {
	content: "\f095";
}
.cart-note-payment .cart-payment {
	float: right;
	width: 45%;
	text-transform: uppercase;
	background: url("../images/line_cart_note.png") left no-repeat;
	min-height: 50px;
	padding-left: 10px;
}


.cart-footer {
	border-top: 1px solid #e5e5e5;
	padding: 20px 0px 50px;
}
.cart-footer .btn {
	min-width: 230px;
}

.tbl_info_cart {
	background:#e5e5e5;
	border-collapse: inherit !important;
	border-spacing: 1px !important;
	font-size: 14px;
}
.row_info_title { text-transform:uppercase; font-weight:bold; padding:5px 7px ;  background:#f1f1f1;	}
.row_info_cart td {
	padding:5px 7px ;
	background:#ffffff;
}

.row_info_cart .cart-item { overflow: hidden; display: table ;  width: 100%}
.row_info_cart .img {  width: 70px; display: table-cell ;}
.row_info_cart .img img { width: 100%; height: auto;}
.row_info_cart .info { padding-left: 15px; display: table-cell ; vertical-align: middle  }
.row_info_cart .price { }
.row_info_cart .price span { display: block ; font-weight: normal; color: #999999 ; text-decoration: line-through}
.row_info_cart .price-sum {
	color: #ff001d;
	font-size: 18px;
	font-weight: bold;
}

.info_cart_total {	 padding:10px 7px;  font-size: 17px; background: #fcf9ee}
.info_cart_total .row-item {
	padding: 5px 0px;
	overflow: hidden;
}
.info_cart_total .row-item .div-text {
	float: left;
	width: calc(100% - 180px);
	text-align: right;
	padding-right: 15px;
}
.info_cart_total .row-item .div-price {
	float: right;
	width: 170px;
	text-align: right;
}
.info_cart_total .price {
	font-size: 18px;
	color: #666666;
}
.info_cart_total .total_price {
	font-size: 22px;
	color: #ff001d;
	font-weight: bold;
}

/*checkout_address*/
.block-checkout-address {
	padding: 20px 0px 50px;
}
.block-login {
	border-right: 1px solid #CCCCCC;
	padding-right: 30px;
}

.block-new-customer {}
.block-new-customer .note-new-customer {
	font-weight: bold;
	color: #666666;
	padding: 5px 0px 10px;
}
.block-new-customer .div-button { text-align: center ; padding: 20px }

/*checkout_method*/

.box_shopping {
	background: #f6f6f6;
	padding: 15px;
	border-right:1px solid #dddddd;
	border-bottom:2px solid #dddddd;
	margin-bottom: 20px;
}

.shopping_title{
	border-bottom:2px solid #e0e0e0;
	line-height:25px;
	font-size:20px;
	text-transform:uppercase;
	padding-bottom:5px;
	margin-bottom:15px;
	font-weight:bold;
}

.boxFrom {}
.boxFrom .input-wrapper { margin-bottom: 15px; overflow: hidden}
.boxFrom .input-wrapper .item-label{
	margin-bottom: 5px;
	display: none;
}
.boxFrom .input-wrapper .item-input {}


.block-cart .div-button {
	text-align: right;
}


.check_same{
	background:url(../images/icon_check_same.gif) right no-repeat;
	padding-right:30px;
	font-size: 16px;
	line-height: 25px;
}


.list-method {}
.list-method ul {list-style: none}
.list-method .item-method {
	padding: 5px 0px;
	padding-left: 20px;
	position: relative;
}
.list-method .item-method .method-input {
	position: absolute;
	left: 0;
	top: 3px;
	width: 20px;
}
.list-method .item-method .method-title {
	font-weight: bold;
	margin-bottom: 5px;
}
.list-method .item-method .method-desc {
	text-align: justify;
}

.block-checkout-method .div-button {
	text-align: center;
}
.block-checkout-method .div-button .btn {
	width: 230px;
}
/*checkout_confirmation*/
.box-checkout-address {
	margin-bottom: 30px;
	color: #666666;
}
.box-shipping-method { margin-bottom: 30px; color: #666666;}
.box-payment-method { color: #666666; }
.s-title {
	font-size: 15px;
	color: #333333;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.box-shipping-method .method-title , .box-payment-method  .method-title  {
	color: #333333;
	font-weight: bold;
}


/*checkout_finish*/
.checkout-finished {
	background: url("../images/order_success.jpg") left top no-repeat;
	padding: 20px 0px;
	padding-left: 500px;
	min-height: 450px;
	font-family: 'Open Sans', sans-serif;
}

.checkout-finished .mess-finished {}
.checkout-finished .mess1 {
	font-size: 70px;
	line-height: 70px;
	color: #bbbbbb;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
}
.checkout-finished .mess2 {
	font-size: 50px;
	line-height: 50px;
	color: #dc0000;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
}
.checkout-finished .mess {
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 10px;
}

.checkout-finished .mess-process {
	padding: 20px;
	background: #a7cf46;
	color: #ffffff;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 10px;
}
.checkout-finished .box-order-code {
	background: #df2a31;
	padding: 20px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;

}
.checkout-finished .order-code {
	padding-top :10px ;
	font-size: 50px;
	line-height: 50px;
	color: #fff;
}