* {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1600px;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.font-weight-medium {
  font-weight: 500;
}
.breadcrumb-item a span {
  font-weight: 300;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 1.2rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 1.2rem;
}
.bg-gray {
  background-color: #f7f8fa;
}
.bg-blue {
  background-color: #034c79;
}
.bg-black {
  background-color: #414042;
}
.container--full--100 {
  max-width: 100%;
}
.container--full--90 {
  max-width: 100%;
}
.container--1063 {
  max-width: 1063px;
}
.container--1020 {
  max-width: 100%;
  width: 80%;
}
.container--608 {
  max-width: 608px;
}
.container--924 {
  max-width: 924px;
}
.container--691 {
  max-width: 691px;
}
.container--790 {
  max-width: 790px;
}
.container--998 {
  max-width: 998px;
}
.container--768 {
  max-width: 768px;
}
.container--850 {
  max-width: 850px;
}
.container--860 {
  max-width: 860px;
}
.container--890 {
  max-width: 890px;
}
.container--830 {
  max-width: 830px;
}
img {
  max-width: 100%;
}
.fs-7 {
  font-size: 12px !important;
}
.fs-8 {
  font-size: 8px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 14px;
}
.fs-11 {
  font-size: 14px;
}
.fs-12 {
  font-size: 18px;
}
.fs-13 {
  font-size: 14px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-33 {
  font-size: 33px;
}
.fs-43 {
  font-size: 43px;
}
.text-black {
  color: #000;
}
.text-sky {
  color: #30bcee;
}
.text-blue {
  color: #08649c;
}
.w-75 {
  width: 75%;
}
.container--1020 .item-sp__image img {
  width: 100%;
  height: auto !important;
  object-fit: cover;
}
/* .container--1020 .item-sp h5{
    font-size: 1.4vw;
}
.container--1020 .item-sp a{
    font-size: 1vw;
} */
.slider__item .slider-img-bg {
  width: 100%;
  height: 80vh;
}
.slider__item p {
  margin: 0 !important;
}

@font-face {
  font-family: "Mobifone";
  font-style: normal;
  src: url("../fonts/UTMMobifoneKT.eot?#iefix") format("embedded-opentype"),
    url("../fonts/UTMMobifoneKT.woff") format("woff"),
    url("../fonts/UTMMobifoneKT.ttf") format("truetype"),
    url("../fonts/UTMMobifoneKT.svg#UTMMobifoneKT") format("svg");
}
.ff-mobifone {
  font-family: "Mobifone", sans-serif !important;
}
.breadcrumb {
  background: none;
  padding: 20px 0;
}
a:hover {
  color: #0056b3;
  text-decoration: none;
}
@media (min-width: 992px) {
  .fs-lg-21 {
    font-size: 21px;
  }
  .fs-lg-26 {
    font-size: 26px;
  }
  .fs-lg-28 {
    font-size: 28px;
  }
  .fs-lg-31 {
    font-size: 31px;
  }
  .fs-lg-33 {
    font-size: 33px;
  }
  .fs-lg-35 {
    font-size: 33px;
  }
  .fs-lg-41 {
    font-size: 41px;
  }
  .fs-lg-43 {
    font-size: 43px;
  }
  .fs-lg-47 {
    font-size: 47px;
  }
  .fs-lg-55 {
    font-size: 55px;
  }
}
.product_item_style_1 .item__wrap .item__image {
  display: flex;
  justify-content: center;
}
@media (min-width: 320px) {
  header {
    margin-bottom: 10px;
  }
  header .navbar {
    padding: 10px 0 0;
  }
  header .navbar .navbar-brand {
    max-height: 100%;
    max-width: 131px;
  }
  header .navbar .navbar-nav {
    display: flex;
  }
  header .navbar .navbar-nav .nav-item {
    padding: 0;
    margin: 0 auto;
  }
  header .navbar .navbar-nav .nav-item a {
    font-size: 12px;
    line-height: 14.4px;
    color: #000;
    padding: 12px 17px;
    display: inline-block;
    position: relative;
    border-bottom: 0;
  }
  header .navbar .navbar-nav .nav-item a:hover {
    text-decoration: none;
    border-bottom: 0;
  }
  header .navbar .navbar-nav .nav-item a::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background: #30bcee;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.3s;
  }
  header .navbar .navbar-nav .nav-item.active a::after,
  header .navbar .navbar-nav .nav-item:hover a::after {
    width: 100%;
  }
  header .navbar .search {
    width: 20px;
    padding: 0 0 20px 0;
    margin: 0 auto;
    display: block;
  }
  header .navbar .language {
    width: 20px;
    margin: 0 auto;
  }
  header .search-block {
    position: relative;
  }
  header .search-block #form-search {
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 40px;
    right: 0px;
    top: 40px;
    transition: ease 0.5s;
    display: flex;
  }
  header .search-block #form-search input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #a4a7ab;
    padding: 2px 15px;
  }
  header .search-block #form-search input:focus {
    outline: none;
  }
  header .search-block #form-search button {
    width: 20px;
    background: transparent;
    padding: 0;
    border: 0;
    position: relative;
    right: 30px;
  }
  header .language-block {
    margin-bottom: 70px;
  }
}
@media (min-width: 992px) {
  header {
    margin-bottom: 0px;
    border-bottom: 1px solid #808080;
  }
  header .navbar {
    padding: 10px 0 0;
  }
  header .navbar .navbar-brand {
    max-height: 100%;
    max-width: 150px;
  }
  header .navbar .navbar-nav {
    display: flex;
  }
  header .navbar .navbar-nav .nav-item {
    padding: 0;
  }
  header .navbar .navbar-nav .nav-item a {
    font-size: 16px;
    line-height: 14.4px;
    color: #000;
    padding: 52px 17px 33px;
  }
  header .navbar .search {
    width: 26px;
    padding: 46px 0 33px;
    margin: 0 20px 0 35px;
  }
  header .navbar .language {
    width: 30px;
    padding: 9px 0 0px;
    display: inline-block;
    margin-right: 10px;
  }
  header .search-block {
    position: relative;
  }
  header .search-block #form-search {
    width: 0;
    position: absolute;
    z-index: 10;
    height: 40px;
    right: 0px;
    top: 40px;
    transition: ease 0.5s;
    display: flex;
  }
  header .search-block #form-search input {
    width: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
  }
  header .search-block #form-search input:focus {
    outline: none;
  }
  header .search-block #form-search button {
    width: 0;
    background: transparent;
    padding: 0;
    border: 0;
    position: relative;
    right: 30px;
  }
  header .search-block #form-search.show-search {
    width: 600px;
    right: -5px;
  }
  header .search-block #form-search.show-search input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #a4a7ab;
    padding: 2px 15px;
  }
  header .search-block #form-search.show-search input:focus {
    outline: none;
  }
  header .search-block #form-search.show-search button {
    width: 20px;
  }
  header .language-block {
    margin-bottom: 0px;
  }
}
@media (min-width: 320px) {
  .subscribe {
    padding: 46px 0;
  }
  .subscribe .subscribe__form {
    display: flex;
    justify-content: space-between;
  }
  .subscribe .subscribe__form .subscribe__input {
    height: 44px;
    width: calc(100% - 96px);
    padding-left: 10px;
    border: none;
    background-color: #f2f2f2;
  }
  .subscribe .subscribe__form .subscribe__input::placeholder {
    color: #b3b3b3;
  }
  .subscribe .subscribe__form .subscribe__submit {
    padding: 6px 15px;
    line-height: 20px;
    background-color: #30bcee;
    border: none;
    font-size: 17px;
    font-weight: 600;
    width: 142px;
    margin-left: 30px;
  }
  .menu.bg-blue {
    padding-top: 25px;
    padding-bottom: 45px;
  }
  .item-footer {
    padding: 4px;
  }
  .menu__title {
    margin-bottom: 20px;
  }
  .social.text-center {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .copyright__info {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .language {
    width: 20px;
    height: 11px;
    padding: 9px 0 0px;
    display: inline-block;
    margin-right: 10px;
  }
  .social__icon {
    width: 26px;
    margin: 0 8px;
  }
  .sologan-footer {
    padding-top: 25px;
  }
  .language-footer {
    float: right;
  }
  .language-footer .search {
    padding: 0;
    margin: 10px;
    width: 20px;
  }
  #search-footer {
    width: 0;
    position: absolute;
    z-index: 10;
    height: 40px;
    right: 45px;
    top: 0px;
    transition: ease 0.5s;
    display: flex;
  }
  #search-footer input {
    width: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
  }
  #search-footer input:focus {
    outline: none;
  }
  #search-footer button {
    width: 0;
    background: transparent;
    padding: 0;
    border: 0;
    position: relative;
    right: 30px;
  }
  #search-footer.show-search-footer {
    width: 300px;
    position: absolute;
    z-index: 10;
    height: 40px;
    right: 45px;
    top: 0px;
    transition: ease 0.5s;
    display: flex;
  }
  #search-footer.show-search-footer input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #a4a7ab;
    padding: 2px 15px;
  }
  #search-footer.show-search-footer input:focus {
    outline: none;
  }
  #search-footer.show-search-footer button {
    width: 20px;
    background: transparent;
    padding: 0;
    border: 0;
    position: relative;
    right: 30px;
  }
}
@media (min-width: 992px) {
  .subscribe {
    padding: 106px 0;
  }
  .subscribe .subscribe__form {
    justify-content: center;
    display: flex;
    justify-items: center;
  }
  .subscribe .subscribe__form .subscribe__input {
    height: 44px;
    width: calc(100% - 170px);
    padding-left: 30px;
    font-size: 14px;
  }
  .subscribe p {
    font-size: 12px;
  }
  .menu.bg-blue {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .menu__title {
    margin-bottom: 25px;
    margin-top: 19px;
  }
  .social.text-center {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .social__icon {
    width: 36px;
    margin-right: 24px;
  }
  .copyright__info {
    padding-bottom: 50px;
  }
  .language {
    width: 20px;
    height: 11px;
    padding: 9px 0 0px;
    display: inline-block;
    margin-right: 10px;
  }
  .search {
    width: 20px;
    padding: 52px 0 33px;
    margin: 0 20px 0 35px;
  }
  .language-footer {
    float: right;
  }
  .sologan-footer {
    padding-top: 45px;
  }
}
@media (min-width: 320px) {
  .col--home-product {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .img-banner-product {
    margin-top: 30px;
  }
  .product-card {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .product-card:hover {
    text-decoration: none;
  }
  .product-card img {
    margin-bottom: 20px;
  }
  .btn--detail {
    padding: 2px 20px;
    border: 1px solid #30bcee;
    border-radius: 25px;
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .col--home-product {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .img-banner-product {
    margin-top: 70px;
  }
  .product-card {
    margin-top: 130px;
    margin-bottom: 120px;
  }
  .product-card img {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .col--home-product {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product .container .row {
    margin-left: -24px;
    margin-right: -24px;
  }
}
.product_item_style_1 {
  margin-bottom: 20px;
  padding-right: 8px;
  padding-left: 8px;
}
.product_item_style_1 .item__wrap {
  background: #f7f8fa;
  padding-bottom: 40px;
}
.product_item_style_1 .item__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 4px;
}
.product_item_style_1 .item__price {
  font-size: 24px;
  text-align: center;
  margin-bottom: 28px;
}
.product_item_style_1 .item__shortdescription {
  font-size: 14px;
  margin-bottom: 10px;
}
.product_item_style_1 .item__shortdescription ul {
  margin-bottom: 24px;
}
.product_item_style_1 .divider {
  border-top: 1px solid #ccc;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.product_item_style_1 .btn-detail {
  border: 1px solid #343a40;
  border-radius: 1rem;
  padding: 5px 15px;
  font-size: 12px;
  margin: 0 auto;
  display: block;
  width: 140px;
  text-align: center;
}
.select-box {
  position: relative;
  display: block;
  margin: 0 auto;
  color: #60666d;
  font-size: 12px;
}
.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  z-index: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 16px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
  font-size: 14px;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0 40px 0 10px;
  background-color: #fff;
}
@media (min-width: 992px) {
  .select-box__input-text {
    padding: 0 30px 0 10px;
  }
  .select-box__icon {
    right: 5px;
  }
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}
@-moz-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@-o-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
.product-viewed {
  border-top: 1px solid #797b7e;
  padding-top: 30px;
  margin-top: 20px;
}
.product-viewed .product-section-title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.product-viewed .product-viewed__item {
  background-color: #fff;
  padding: 30px;
}
.product-viewed .product-viewed__item .item-product__image {
  padding-bottom: 10px;
}
.product-viewed .product-viewed__item .item-product__detail {
  font-size: 10px;
  padding-top: 10px;
  text-align: center;
}
.product-viewed
  .product-viewed__item
  .item-product__detail
  .item-product__price,
.product-viewed .product-viewed__item .item-product__detail h3 {
  font-size: 10px;
}
@media (min-width: 992px) {
  .product-viewed {
    margin-bottom: 40px;
    border-top: 1px solid #797b7e;
    padding-top: 50px;
  }
  .product-viewed .product-viewed__item {
    padding: 50px;
  }
  .product-viewed .product-section-title {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.item-contact {
  margin-bottom: 16px;
  background: #f7f8fa;
  padding: 21px 10px;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
}
.name-item-contact {
  font-weight: 600;
  margin-bottom: 0px;
}
.map-contact {
  width: 100%;
}
.contact h1 {
  color: #414042;
}
.company-info span {
  color: #30bcee;
}
.company-info span img {
  max-width: 8px;
  max-height: 8px;
  margin-right: 4px;
}
.form-contact {
  margin-bottom: 70px;
}
.form-contact input {
  height: 46px;
}
.form-contact .form-group {
  padding-left: 30px;
  font-size: 16px;
  line-height: 46px;
}
::placeholder {
  font-size: 16px;
}
.form-contact .btn-contact {
  float: left;
  text-transform: uppercase;
  background-color: #30bcee;
  color: #fff;
  padding: 10px 40px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.contact h3 {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .title-contact {
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
  }
  .form-contact {
    padding-top: 30px;
  }
  .border-form-contact {
    border: 0;
    border-radius: 10px;
    background-color: #f7f8fa;
    height: 46px;
  }
  .border-textarea-contact {
    border-radius: 10px;
    border: 0;
    height: 170px !important;
    background-color: #f7f8fa;
  }
  .form-contact {
    max-width: 661px;
    margin: 0 auto;
    padding-top: 10px;
  }
  .company-info {
    margin-top: 20px;
  }
  .form-contact {
    margin-top: 30px;
  }
  .map-contact {
    width: 100%;
    height: 400px;
  }
  .form-contact {
    margin-bottom: 110px;
  }
  .form-contact .btn-contact {
    float: left;
    text-transform: uppercase;
    background-color: #30bcee;
    color: #fff;
    padding: 10px 40px;
    margin-top: 30px;
  }
  .form-contact .form_left {
    padding: 0px;
  }
}
.page-system-cool {
  font-size: 12px;
}
.page-system-cool h1 {
  font-size: 55px;
}
.page-system-cool table {
  font-size: 14px;
}
.page-system-cool table thead {
  font-size: 12px;
}
.page-system-cool table thead th {
  border: none;
  padding: 0px 0px 20px 0px;
}
.page-system-cool table td {
  padding: 20px 0;
}
.page-system-cool select.form-control {
  font-size: 12px;
  border: none;
  padding: 0px;
  height: auto;
}
.page-system-cool .shop-ecool {
  font-weight: 500;
}
.page-system-cool .see-more-system-ecool {
  margin-bottom: 50px;
  color: #30bcee;
}
.page-system-cool .shop-ecool {
  font-weight: 500;
}
.page-system-cool .map-contact {
  opacity: 0.5;
  width: 100%;
  height: 400px;
  background-color: #808080;
}
.news-detail .social-news-detail .social__icon {
  width: 23px;
  margin-right: 10px;
}
.news-detail .news-content img {
  margin-top: 20px;
}
.news-detail .news-date {
  margin-top: 30px;
}
.news-detail .news-related {
  padding-top: 40px;
  padding-bottom: 45px;
}
.news-detail .related-item {
  padding-left: 15px;
  padding-right: 15px;
}
.news-detail .related-items a:hover {
  text-decoration: none;
}
.news-detail .related-items .slick-prev {
  background-image: url("../images/arrow-left-slide.png");
  background-size: 100% 100%;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  top: 40%;
  left: -50px;
}
.news-detail .related-items .slick-prev:before {
  content: none;
}
.news-detail .related-items .slick-next {
  background-image: url("../images/arrow-right-slide.png");
  background-size: 100% 100%;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  top: 40%;
  right: -50px;
}
.news-detail .related-items .slick-next:before {
  content: none;
}
.news-detail + footer .subscribe {
  background-color: #fff;
}
@media (min-width: 992px) {
  .news-detail .news-related {
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .news-detail .related-item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .news-detail .related-item .related-tag {
    font-size: 10px;
    margin: 12px 0;
  }
  .news-detail .related-item h5 {
    font-weight: 700;
    font-size: 16px;
  }
}
.title-icon-ecool {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.items-ecool {
  margin-top: 30px;
  margin-bottom: 70px;
}
.title-about-ecool {
  margin-top: 30px;
  margin-bottom: 20px;
}
.line-down {
  margin-bottom: 20px;
}
.img-item {
  opacity: 0.4;
}
.image-items-post {
  margin-top: 40px;
  padding-bottom: 200px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.items-product {
  margin-top: 40px;
  margin-bottom: 40px;
}
.items-slide .arrow {
  right: 15px;
  left: unset;
}
.about-description {
  line-height: 32px;
  text-align: justify;
  font-size: 16px !important;
}
.item-img {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 0 auto;
  position: relative;
}
.item-img .img-item-ecool {
  max-width: 65%;
  max-height: 65%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title-light {
  font-size: 17px;
  line-height: 22px;
}
.title-medium {
  font-size: 20px;
  line-height: 30px;
}
.page-us-ecool .arrow {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: auto;
  right: 40px;
}
.slide__banner {
  margin: 14px;
  text-align: center;
}
.des__banner {
  text-align: center;
}
@media (min-width: 992px) {
  .title-about-ecool {
    /*margin-top: 80px;*/
    margin-bottom: 60px;
  }
  .line-down {
    margin-bottom: 60px;
  }
  .title-icon-ecool {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .items-ecool {
    margin-top: 80px;
    margin-bottom: 160px;
    padding: 0 90px;
  }
  .title-light {
    font-size: 26px;
    line-height: 32px;
  }
  .title-medium {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 50px;
  }
  .items-product {
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .image-items-post {
    padding-bottom: 800px;
  }
  .page-us-ecool .arrow {
    bottom: 50px;
    left: 220px;
  }
  .slide__banner {
    margin: 0;
    text-align: inherit;
  }
  .des__banner {
    text-align: inherit;
  }
}
.about-son-ha .title-son-ha {
  margin-top: 80px;
  margin-bottom: 40px;
}
.about-son-ha .description {
  margin-top: 40px;
}
.about-son-ha .img-item-son-ha {
  width: 50px;
  height: 50px;
}
.about-son-ha .items-son-ha {
  margin-top: 20px;
}
.about-son-ha .slide__content {
  bottom: 30px;
  left: 25px;
}
.about-son-ha .slide__content p {
  max-width: 370px;
}
.about-son-ha .sonha-slide {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 11px;
  padding-right: 11px;
}
.about-son-ha .sonha-slide .slide {
  padding: 4px;
}
@media (min-width: 992px) {
  .about-son-ha .sonha-slide {
    padding-top: 50px;
    padding-bottom: 140px;
    padding-left: 11px;
    padding-right: 11px;
  }
  #slides-sonha-item .slick-prev:before,
  #slides-sonha-item .slick-next:before {
    color: #333;
  }
}
.ecool-product .products__description {
  max-width: 950px;
  margin: 0 auto;
}
.ecool-product .products-title {
  margin-top: 40px;
  margin-bottom: 30px;
}
.ecool-product .products__list {
  margin-left: -5px;
  margin-right: -5px;
}
.ecool-product .products__list .col-6.col-lg-3 {
  padding-left: 5px;
  padding-right: 5px;
}
.ecool-product .products__list .item-product {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.ecool-product .products__list .item-product h5 {
  font-size: 18px !important;
}
.ecool-product .products__list .item-product .item-product__img {
  max-width: 52%;
  margin: 0 auto 35px;
}
.ecool-product .products__list .item-product .item-product__content {
  margin-bottom: 30px;
}
.ecool-product .products__list .item-product .item-product__content p {
  font-size: 14px;
}
.ecool-product .products__list .item-product .btn--product {
  padding: 6px 16px;
  border-radius: 16px;
  border: 1px solid #000;
  font-size: 13px;
  margin-bottom: 20px;
}
.ecool-product .products__list .item-product .btn--product:hover {
  border: 1px solid #30bcee;
  background: #30bcee;
  color: #fff;
}
.ecool-product .my-services {
  margin-bottom: 30px;
  margin-top: 30px;
}
.ecool-product .service-items {
  margin-bottom: 40px;
}
.ecool-product .service-items .service-item {
  font-size: 14px;
}
.ecool-product .service-items .img-service {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
.ecool-product .service-items p {
  line-height: 24px;
  margin-bottom: 24px;
}
.ecool-product .service-items a {
  color: #08649c;
  font-size: 16px;
}
.ecool-product .service-banner {
  margin-bottom: 50px;
}
.ecool-product .ecool-app {
  padding-top: 0;
  padding-bottom: 50px;
}
.ecool-product .ecool-app .ecool-app__content {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}
.ecool-product .ecool-app .ecool-app__content h2 {
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.ecool-product .ecool-app .ecool-app__content a {
  color: #08649c;
  margin-top: 25px;
  display: inline-block;
  margin-bottom: 30px;
}
.ecool-product .ecool-app .ecool-app__img {
  border-radius: 8px;
  width: calc(50% - 10px) !important;
  max-width: 300px;
  -webkit-box-shadow: 3px 7px 7px 0px rgba(0, 37, 68, 0.2);
  -moz-box-shadow: 3px 7px 7px 0px rgba(0, 37, 68, 0.2);
  box-shadow: 3px 7px 7px 0px rgba(0, 37, 68, 0.2);
}
.ecool-product .ecool-app .ecool-app__img--left {
  margin-right: 20px;
}
.ecool-product .using {
  padding-top: 40px;
  padding-bottom: 20px;
}
.ecool-product .using h2 {
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  .ecool-product .products-title {
    margin-top: 0;
    margin-bottom: 63px;
  }
  .ecool-product .my-services {
    margin-bottom: 50px;
    margin-top: 70px;
  }
  .ecool-product .service-items {
    margin-bottom: 80px;
    padding: 0 130px;
  }
  .ecool-product .service-items h5 {
    margin-top: 20px;
  }
  .ecool-product .service-banner {
    margin-bottom: 80px;
  }
  .ecool-product .using {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .ecool-product .using .title-using {
    margin-bottom: 0;
  }
  .ecool-product .using h2 {
    margin-bottom: 50px;
  }
  .ecool-product .products__list .item-product {
    background-color: #f7f8fa;
    margin-bottom: 40px;
    padding: 20px;
  }
  .ecool-product .products__list .item-product .item-product__img {
    max-width: 52%;
    margin: 0 auto 55px;
  }
  .ecool-product .products__list .item-product .item-product__content {
    margin-bottom: 30px;
  }
  .ecool-product .products__list .item-product .btn--product {
    padding: 5px 12px;
    border-radius: 26px;
    border: 1px solid;
  }
  .ecool-product .ecool-app {
    padding-top: 136px;
    padding-bottom: 136px;
  }
}
.item-service-products {
  margin-top: 20px;
  margin-bottom: 20px;
}
.name-service-products {
  font-weight: 600;
}
.menu__nav .item-footer {
  font-size: 15px;
  padding: 6px 0;
}
.menu__title {
  font-size: 18px;
}

@media (min-width: 992px) {
  .title-products {
    margin-bottom: 40px;
  }
  .description-products {
    font-weight: 600;
    margin-bottom: 40px;
  }
  .images-products {
    margin-bottom: 80px;
  }
  .img-item-product {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .item-des {
    margin-bottom: 60px;
  }
  .btn--product {
    font-size: 16px;
    border: 2px solid #808080;
    border-radius: 20px;
    margin-bottom: 40px;
  }
  .link-products-list {
    margin-bottom: 60px;
  }
  .title-service h2 {
    font-size: 26px;
  }
  .title-service h5 {
    font-size: 16px;
  }
  .img-service {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    text-align: center;
  }
  .service-item {
    margin-bottom: 80px;
  }
  .application {
    margin-bottom: 80px;
    background-color: #f7f8fa;
  }
  .title-using {
    margin-bottom: 80px;
  }
  .using {
    margin-bottom: 100px;
  }
}
.product-box .option-box {
  font-size: 14px;
  flex-direction: column;
}
.bd-highlight {
  font-weight: 500;
}
#btn-viewmorde {
  padding: 10px;
  border-radius: 20px;
  background-color: #f7f8fa;
}
.bd-highlight {
  font-weight: 600;
}
.select-box__input-text {
  font-weight: 500;
}
.select-box {
  z-index: 1;
}
.selector-ranger {
  width: 55px;
  margin-right: 40px;
}
.selector-ranger.active .price-slider {
  display: block;
}
.selector-ranger .price-slider {
  width: 250px;
  display: none;
  z-index: 10;
  position: absolute;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.15s ease-in;
  left: -30%;
  top: 40px;
}
.selector-ranger .price-slider:before {
  content: "";
  position: absolute;
  left: 50px;
  top: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  clear: both;
}
.selector-ranger .ui-slider-range {
  top: 0;
  height: 100%;
}
.selector-ranger .ui-slider-handle {
  border-radius: 50%;
  background-color: #08649c !important;
  border: none !important;
  top: -8px !important;
  width: 15px !important;
  height: 15px !important;
  outline: none;
}
.selector-ranger #slider-range {
  width: 90%;
  margin-bottom: 30px;
  border: none;
  background: #e2f7f2;
  height: 3px;
  margin-left: 8px;
  margin-right: 8px;
}
.selector-ranger .slider-price {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  width: 90px;
  margin: 0 5px;
  background-color: #e2f7f2;
  line-height: 28px;
  text-align: center;
}
@media (min-width: 320px) {
  .product-inverter .product-viewmore {
    margin-top: 30px;
  }
  .product-inverter .news {
    border-top: 1px solid #f0f0f0;
    margin-top: 50px;
    padding-top: 40px;
  }
  .product-inverter .products-seen .img-item-product {
    width: 50%;
  }
  .btn-search-system {
    position: absolute;
    left: 20px;
    background: transparent;
    width: 34px;
    top: 13px;
  }
  .input-search-system {
    padding-left: 80px;
    border-radius: 30px;
  }
  .input-search-system::placeholder {
    font-size: 14px;
    color: #ccc;
  }
  .form-search-system {
    position: relative;
  }
  .btn-search-system {
    border: 0;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .border-form-system {
    border: 0;
    border-radius: 30px;
    background-color: #f7f8fa;
    height: 46px;
  }
  .product-inverter .begin-products-list {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .product-inverter .begin-products-list .products-list-content {
    text-align: center;
  }
  #btn-viewmorde {
    padding: 5px;
    border-radius: 20px;
    background-color: #f7f8fa;
  }
}
@media (min-width: 992px) {
  .product-box .option-box {
    flex-direction: inherit;
    align-items: center;
  }
  .product-inverter .inverter {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #f7f8fa;
    padding: 50px;
  }
  .product-inverter .background-color {
    background-color: #f7f8fa;
    margin-bottom: 50px;
    border-bottom: 20px solid #f7f8fa;
  }
  .product-inverter .begin-products-list {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
  }
  .product-inverter .begin-products-list img {
    width: 100%;
  }
  .product-inverter .begin-products-list .products-list-content {
    text-align: left;
  }
  .product-inverter .products-list-info {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .product-inverter .info-product {
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;
  }
  .product-inverter .multiple-product {
    border: 2px solid #808080;
    border-radius: 20px;
    padding: 10px;
  }
  .product-inverter .see-more-product {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .product-inverter .news {
    padding-top: 40px;
  }
  .product-inverter .news h2 {
    line-height: 28px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .product-inverter .news .arrow {
    position: absolute;
    bottom: 34px;
    left: 50%;
    display: none;
  }
  .product-inverter .news .arrow img {
    width: 7px;
  }
  .product-inverter .news .arrow .arrow__left {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .product-inverter .news .arrow .arrow__right {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .product-inverter .news .news__viewall {
    margin-top: 50px;
  }
  .product-inverter .news .news__viewall a {
    color: #08649c;
  }
  .product-inverter .news .news__viewall a:hover {
    text-decoration: none;
  }
  .product-inverter .news .news__viewall a img {
    width: 16px;
    margin-left: 20px;
  }
  .product-inverter .product-highlight {
    border-top: 2px solid #808080;
  }
  .product-inverter .products-seen {
    border-top: 1px solid #808080;
    margin-top: 50px;
  }
  .product-inverter .products-seen .img-item-product {
    width: 50%;
  }
  .product-inverter .title-products-seen {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #btn-viewmorde {
    padding: 5px;
    border-radius: 20px;
    background-color: #f7f8fa;
  }
}
.img-icon-left {
  width: 50px;
  height: 42px;
}
.img-icon-right {
  width: 50px;
  height: 42px;
}
.support-title {
  margin-top: 10px;
  font-weight: 500;
  height: 44px;
  overflow: hidden;
}
.see-more-document {
  margin-top: 80px;
  margin-bottom: 80px;
  color: #00f;
  font-weight: bold;
}
.name-see-more-document {
  color: #30bcee;
}
@media (min-width: 992px) {
  .items-support {
    margin-top: 60px;
  }
  .img-support {
    width: 190px;
    height: 270px;
  }
  .img-icon-left {
    width: 50px;
    height: 42px;
  }
  .img-icon-right {
    width: 50px;
    height: 42px;
  }
  .item-support {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
#home-slider {
  margin-bottom: 40px;
}
#home-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: relative;
  bottom: 0px;
}
#home-slider .slick-dots li {
  margin: 0 0.25rem;
}
#home-slider .slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid #000;
  border-radius: 100%;
  text-indent: -9999px;
}
#home-slider .slick-dots li.slick-active button {
  border: none;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-radius: 0;
}
#home-slider .slider__item {
  height: 530px;
  position: relative;
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
#home-slider .slider__item .slider__description {
  padding-top: 15vh;
}
#home-slider .slider__detail {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
#home-slider .slider__detail p {
  margin-bottom: 0px;
}
#home-slider .btn-outline-light:hover {
  background: none;
}
#home-slider .see-more {
  border-radius: 20px;
  padding: 5px 20px;
}
@media (min-width: 992px) {
  #home-slider .slider__item {
    background-size: 100% 100%;
  }
}
.arrow {
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 50%;
}
.arrow img {
  width: 7px;
}
.arrow .arrow__left {
  width: 7px;
  padding: 5px 11px;
  border: 1px solid #000;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.arrow .arrow__right {
  width: 7px;
  padding: 5px 11px;
  border: 1px solid #000;
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
@media (min-width: 320px) {
  .news {
    padding-top: 30px;
  }
  .news h2 {
    line-height: 24px;
    margin-bottom: 20px;
  }
  .news .news__banner {
    position: relative;
    margin-bottom: 30px;
  }
  .news .news__banner .label {
    width: 122px;
    position: absolute;
    background-size: 100% 100%;
    padding-bottom: 25px;
    padding-left: 10px;
    left: 15px;
    top: 0;
    margin-bottom: 20px;
  }
  .news .news__text {
    margin-bottom: 30px;
  }
  .news .news__viewall {
    margin-top: 50px;
  }
  .news .news__viewall a {
    color: #08649c;
  }
  .news .news__viewall a:hover {
    text-decoration: none;
  }
  .news .news__viewall a img {
    width: 16px;
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .news {
    padding-top: 90px;
  }
  .news h2 {
    line-height: 24px;
    margin-bottom: 47px;
  }
  .news .news__banner {
    position: relative;
    margin-bottom: 0px;
  }
}
.video {
  padding-top: 60px;
  padding-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.video #home-video-slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2rem 0;
  list-style-type: none;
  position: relative;
  bottom: 0px;
}
.video #home-video-slider .slick-dots li {
  margin: 0 0.25rem;
}
.video #home-video-slider .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 100%;
  text-indent: -9999px;
}
.video #home-video-slider .slick-dots li.slick-active button {
  background-color: #fff;
}
.video #home-video-slider .video__item {
  padding: 0 15px;
}
.video #home-video-slider .video__item .video__img {
  width: 100%;
  position: relative;
}
.video #home-video-slider .video__item .video__img:after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  background: url("../images/iconplay.png") no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc((100% - 150px) / 2);
  right: 0;
  left: 0;
  margin: auto;
}
.video #home-video-slider .video__item .video__img img {
  width: 100%;
}
.video #home-video-slider .video__item .video__content {
  padding-top: 40px;
}
@media (min-width: 992px) {
  .video #home-video-slider .video__item {
    padding: 0 15px;
  }
}
.product-tab {
  margin-bottom: 100px;
}
.product-tab ul.nav {
  padding-bottom: 39px;
}
.product-tab .btn-product-tab {
  padding: 0px 10px 20px;
}
.product-tab .btn-product-tab a {
  position: relative;
  padding: 0 0 10px 0;
}
.product-tab .btn-product-tab a:hover:after {
  border-bottom: 2px solid #2dbdee;
  content: "";
  position: absolute;
  right: 15%;
  width: 70%;
  bottom: 0;
}
.product-tab .btn-product-tab .active:after {
  border-bottom: 2px solid #2dbdee;
  content: "";
  position: absolute;
  right: 15%;
  width: 70%;
  bottom: 0;
}
.product-tab .col--product-left {
  padding-bottom: 20px;
  height: 360px;
}
.product-tab .col--product-left a {
  padding: 20px 43px 15px;
}
.product-tab .col--product-left a:hover {
  text-decoration: none;
}
.product-tab .col--product-left a:hover p {
  color: #2fbcee;
}
.product-tab .col--product-left a img {
  width: 100%;
  object-fit: contain;
  max-width: 330px;
  margin: 0 auto;
}
.product-tab .product-right {
  margin-bottom: 20px;
  height: 180px;
}
.product-tab .product-right a {
  padding-top: 18px;
}
.product-tab .product-right a:hover {
  text-decoration: none;
}
.product-tab .product-right a:hover p {
  color: #2fbcee;
}
.product-tab .product-right a img {
  object-fit: contain;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .product-tab .col--product-left {
    height: 430px;
  }
}
@media (min-width: 992px) {
  .product-tab ul.nav {
    padding-bottom: 39px;
  }
  .product-tab .btn-product-tab {
    padding: 0px 30px;
  }
  .product-tab .btn-product-tab a {
    position: relative;
    padding: 0 0 20px 0;
  }
  .product-tab .btn-product-tab a:hover:after {
    border-bottom: 2px solid #2dbdee;
    content: "";
    position: absolute;
    right: 15%;
    width: 70%;
    bottom: 0;
  }
  .product-tab .btn-product-tab .active:after {
    border-bottom: 2px solid #2dbdee;
    content: "";
    position: absolute;
    right: 15%;
    width: 70%;
    bottom: 0;
  }
  .product-tab .col--product-left {
    padding-bottom: 20px;
    height: 460px;
  }
  .product-tab .col--product-left a {
    padding: 0 43px 0;
  }
  .product-tab .col--product-left a:hover {
    text-decoration: none;
  }
  .product-tab .col--product-left a:hover p {
    color: #2fbcee;
  }
  .product-tab .col--product-left a img {
    width: 100%;
    object-fit: contain;
  }
  .product-tab .product-right {
    margin-bottom: 20px;
    height: 210px;
  }
  .product-tab .product-right a {
    padding-top: 18px;
  }
  .product-tab .product-right a:hover {
    text-decoration: none;
  }
  .product-tab .product-right a:hover p {
    color: #2fbcee;
  }
  .product-tab .product-right a img {
    object-fit: contain;
    padding: 0 30px;
  }
}
.section__title {
  margin-bottom: 2rem;
  font-size: 28px;
}
.portfolio {
  margin-bottom: 30px;
}
.portfolio .portfolio__item {
  margin-bottom: 20px;
}
.portfolio .portfolio__item img {
  border-radius: 20px;
}
.portfolio .portfolio__item p {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .video .slick-list {
    padding: 0 350px !important;
  }
}
.img-news {
  width: 100%;
  height: 483px;
}
.menu-sub-news {
  text-align: center;
  background-color: #fff;
  position: relative;
  width: 100%;
  left: calc(50% + 15px);
  transform: translateX(-50%);
}
.menu-sub-news-title {
  white-space: nowrap;
  margin-bottom: 0;
  padding: 15px;
  font-size: 20px;
}
.menu-sub-news-title.active {
  border-bottom: 4px solid #30bcee;
}
.news-header {
  margin-top: 46px;
  margin-bottom: 46px;
}
.img-header {
  width: 100%;
  height: 100px;
}
.title-news {
  font-weight: bold;
  font-size: 11px;
}
.item-news-header {
  margin-bottom: 15px;
}
.news-event {
  background-color: #f7f8fa;
}
.title-news-event {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
}
.name-news-event {
  margin: 18px 0 9px 0;
  height: 34px;
  overflow: hidden;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
.short-description-news {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 18px;
}
.items-news-event {
  background-color: #fff;
  margin-bottom: 30px;
}
.see-all {
  color: #08649c;
}
.see-all img {
  width: 6px;
  margin-left: 10px;
}
.news__slides .news__content {
  width: 65%;
  height: 40%;
  left: 30px;
  bottom: 20px;
}
.ecool-news + footer .subscribe {
  background-color: #fff;
}
.news__link .arrow-icon {
  width: 12px;
  display: inline;
  margin-left: 10px;
}
.slide-header-news {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.slick-initialized .slick-slide {
  filter: grayscale(0.5);
}
.slick-initialized .slick-slide.slick-active {
  filter: grayscale(0);
}

@media (min-width: 992px) {
  .menu-sub-news {
    text-align: center;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1580px;
    left: calc(50% + 15px);
    transform: translateX(-50%);
  }
  .news-event .row-news-event {
    margin-left: -27px;
    margin-right: -27px;
  }
  .news-event .row-news-event .col-12 {
    padding-left: 27px;
    padding-right: 27px;
  }
}
.img-news {
  width: 100%;
  height: 483px;
}
.menu-sub-news-title {
  white-space: nowrap;
  margin-bottom: 0;
  padding: 15px;
  font-size: 20px;
}
.menu-sub-news-title.active {
  border-bottom: 4px solid #30bcee;
}
.news-header {
  margin-top: 46px;
  margin-bottom: 46px;
}
.img-header {
  width: 100%;
  height: 100px;
}
.title-news {
  font-weight: bold;
  font-size: 12px;
}
.type-news {
  font-size: 12px;
}
.item-news-header {
  margin-bottom: 15px;
}
.title-news-event {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
}
.name-news-event {
  margin: 18px 0 9px 0;
  height: 34px;
  overflow: hidden;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
}
.short-description-news {
  padding-left: 15px;
  padding-right: 15px;
  height: 44px;
  overflow: hidden;
}
.items-news-event {
  background-color: #fff;
  margin-bottom: 30px;
  padding-bottom: 6px;
}
.see-all {
  color: #08649c;
}
.see-all img {
  width: 6px;
  margin-left: 10px;
}
.news__slides .news__content {
  width: 65%;
  height: 40%;
  left: 30px;
  bottom: 20px;
}
.ecool-news + footer .subscribe {
  background-color: #fff;
}
.news__link .arrow-icon {
  width: 12px;
  display: inline;
  margin-left: 10px;
}
@media (min-width: 992px) {
  .items-advisory {
    background-color: #f7f8fa;
  }
}
.sale-header {
  margin-top: 65px;
  margin-bottom: 35px;
}
.img-sale {
  width: 467px;
  height: 288px;
}
.sale-header-title {
  font-weight: bold;
}
.img-sale-item {
  width: 237px;
  height: 146px;
  object-fit: cover;
}
.name-item-sale {
  font-weight: bold;
}
.sale-item {
  border: 1px solid #f7f8fa;
  margin-bottom: 30px;
}
.see-more-sale {
  border: 1px solid #f7f8fa;
  border-radius: 20px;
  padding: 10px;
  background: #f7f8fa;
  color: #034c79;
}
.see-more {
  margin-top: 20px;
  margin-bottom: 40px;
}
.sale-header-title {
  margin-top: 50px;
}
.des-sale-header {
  margin-top: 40px;
}
.see-more-sale-border {
  border: 1px solid #f7f8fa;
  padding: 5px;
  background-color: #f7f8fa;
}
.sale-item {
  margin-top: 20px;
}
.ecool-sale .see-all {
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 12px 25px;
}
.ecool-video .video-header {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}
.ecool-video .video-header-title {
  margin-top: 20px;
  font-weight: bold;
}
.ecool-video .arrow {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 15px;
  left: unset;
}
.ecool-video .video-items .item-video {
  margin-bottom: 30px;
}
.ecool-video .video-items .item-video h4 {
  margin-bottom: 20px;
  margin-top: 0;
  height: 34px;
  line-height: 17px;
  text-overflow: hidden;
}
.ecool-video .img-item-video {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .ecool-video .arrow {
    top: 335px;
    left: 68%;
  }
  .ecool-video .video-header {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .ecool-video .img-video {
    width: 545px;
    height: 308px;
  }
  .ecool-video .video-header-title {
    margin-top: 45px;
    font-weight: bold;
  }
  .ecool-video .arrow__left {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    opacity: 0.4;
  }
  .ecool-video .arrow__right {
    width: 7px;
    padding: 5px 11px;
    border: 1px solid #000;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    opacity: 0.4;
  }
  .ecool-video .video-items-title {
    font-weight: bold;
    margin-bottom: 50px;
  }
  .ecool-video .video-title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 50px;
  }
  .ecool-video .video-items {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .ecool-video .img-item-video {
    margin-bottom: 20px;
  }
  .ecool-video .item-video {
    border: 1px solid #ddd;
  }
}
#home-slider .slider__item {
  height: auto !important;
}
#home-slider .slider__item .slider__description .fs-17 {
  font-size: 17px;
}
#home-slider .slider__item .slider__description .fs-28 {
  font-size: 24px;
}
.epaper-box {
  max-width: 80%;
  margin: auto;
}
.item-support .item {
  display: block;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.item-support .item .btn-box {
  display: block;
  text-align: center;
}
.item-support .item img.banner_download {
  width: 100%;
}
@media (max-width: 1360px) {
  header .navbar .navbar-nav .nav-item a {
    font-size: 14px;
    line-height: 14.4px;
    color: #000;
    padding: 52px 17px 33px;
  }
  .fs-12 {
    font-size: 14px;
  }
}
.fs-33 {
  font-size: 26px;
}
.align-title {
  max-width: 350px;
  margin: auto;
  line-height: 35px;
}
.prd-title {
  font-size: 20px;
}

@media (max-width: 768px) and (min-width: 667px) {
  .prd-title {
    font-size: 17px;
  }
  .product-tab ul.nav {
    padding-bottom: 20px !important;
  }
}
@media(min-width: 1200px){
  .col-thumb-img .slick-slide img {
    height: 80px;
    width: 80px;
  }
  .product-image .col-thumb-img {
    width: 82px;
  }
}
@media(min-width: 992px){
  .col-thumb-img .slick-slide img {
    height: 60px;
    width: 60px;
  }
  .product-image .col-thumb-img {
    width: 62px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .prd-title {
    font-size: 17px;
  }
  .product-tab .col--product-right .col-6 {
    padding-left: 0px !important;
    padding-right: 20px !important;
  }
  .product-tab .col--product-right .col-6 {
    margin-bottom: 20px !important;
  }
  .product-tab .col--product-left {
    height: 640px !important;
  }
}
@media (min-width: 1025px) {
  .product-tab .col--product-right .col-6 {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 40px !important;
    height: 340px;
  }
}
@media (min-width: 1362px) {
  header .navbar .navbar-nav .nav-item a {
    font-size: 16px;
    line-height: 14.4px;
    color: #000;
    padding: 52px 17px 33px;
  }
  .fs-12 {
    font-size: 18px;
  }
  #home-slider .slider__item .slider__description .fs-17 {
    font-size: 22px;
  }
  #home-slider .slider__item .slider__description .fs-28 {
    font-size: 28px;
  }
}
@media (max-width: 1240px) {
  #home-slider .slider__item .slider__description {
    left: 5%;
  }
  #home-slider .slider__item .slider__description .fs-17 {
    font-size: 17px;
  }
  #home-slider .slider__item .slider__description .fs-28 {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  #home-slider .slider__item .slider__description {
    left: 5%;
  }
  #home-slider .slider__item .slider__description .fs-28 {
    font-size: 24px;
  }
  #home-slider .slider__detail {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }
}
@media (max-width: 620px) {
  #home-slider .slider__item .slider__description {
    left: 5%;
    top: 10% !important;
  }
}
@media (max-width: 560px) {
  #home-slider .slider__item .slider__description .fs-17 {
    font-size: 12px;
  }
  #home-slider .slider__item .slider__description .fs-28 {
    font-size: 17px;
  }
  #home-slider .slider__item .slider__description {
    left: 5%;
    top: 10% !important;
    width: 100% !important;
  }
  #home-slider .see-more {
    border-radius: 20px !important;
    padding: 5px 5px !important;
    margin-top: 0px;
  }
  .fs-17 {
    font-size: 12px;
  }
  .fs-19 {
    font-size: 15px !important;
  }
  .page-support .banner .banner__content .input-group {
    width: 100% !important;
  }
  .fs-12 {
    font-size: 12px;
  }
  .product-thumbnails .slick-slide img {
    width: 100%;
    height: 69px;
    object-fit: cover;
  }
  .fs-33 {
    font-size: 17px;
  }
}

.page-system-cool table.table-sm thead th {
  text-transform: capitalize;
}

.mb-menu,
.mb-banner-child,
.mb-search,
.mb-show,
.mb-search-bot,
.mb-menu-box {
  display: none;
}

.nav-desktop {
  text-align: right;
  margin-top: 30px;
  padding-right: 42px;
}
.nav-desktop .search-block {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.nav-desktop .search-block .search {
  filter: brightness(0) invert(1);
  width: 28px;
  padding: 0;
}
.nav-desktop .search-block #form-search {
  display: none;
  position: absolute;
  top: -6px;
  right: 0;
}
.nav-desktop .search-block.open #form-search {
  display: block;
}
.nav-desktop .search-block #form-search input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #a4a7ab;
  padding: 2px 15px;
}
.nav-desktop .search-block #form-search button {
  width: 40px;
  height: 40px;
  background: transparent;
  padding: 0;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.nav-desktop .search-block #form-search button img {
  width: 20px;
}
.nav-desktop .lang-switch {
  display: inline-block;
  vertical-align: middle;
}
.nav-desktop .lang-switch .language {
  width: 28px;
  height: auto;
  margin-left: 10px;
  margin-right: 0;
  padding: 0;
}
.nav-desktop .lang-switch .language img {
  width: 100%;
}
.slide-news__content {
  position: relative;
  z-index: -1;
}
.slide-news__content:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.hotro-box .row {
  margin-top: 80px;
  margin-bottom: 80px;
}
.hotro-box h5 {
  margin-top: 20px;
  height: 36px;
  overflow: hidden;
}
.noItem {
  padding-left: 13px;
}
.news-title {
  font-size: 28px;
  font-weight: 700;
}
.about-slider h2 {
  font-size: 38px;
}
.about-slider h4 {
  font-size: 42px;
  text-align: right;
  margin-bottom: 20px;
}
.about-slider p {
  text-align: justify;
}
.about-story .line-down {
  margin-bottom: 20px;
}
.function_1 {
  width: 90%;
  margin: 0 auto;
}
.function_1 .row {
  margin-right: -20px;
  margin-left: -20px;
}
.function_1 .row .col-md-4 {
  padding-right: 20px;
  padding-left: 20px;
}
.product-tab .row {
  margin-right: -20px;
  margin-left: -20px;
}
.product-tab .row .col-12 {
  padding-right: 20px;
  padding-left: 20px;
}
.product-tab .col--product-right .col-6 a {
  padding-top: 18px;
  padding-bottom: 80px;
  position: relative;
}
.product-tab .col--product-right .col-6 p {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 20px;
  padding: 0 20px;
  height: 48px;
  overflow: hidden;
}
@media(min-width: 1441px) {
  .product-tab .col--product-left {
    padding-bottom: 20px;
    height: 740px !important;
  }
}
.product-tab .col--product-left .detail {
  margin-top: -50px;
}
.product-tab .col--product-left p {
  font-size: 23px;
}
.product-tab .col--product-left .desc {
  font-size: 16px;
}
.product-tab .col--product-left a:hover .desc {
  color: #2dbdee;
}
.news .container {
  max-width: 1400px;
}
.news h2 {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.news .news__text h3 a {
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
}
.news .news__text {
  margin-bottom: 30px;
  font-size: 17px;
  text-align: justify;
  padding-left: 10px;
}
.btn--detail {
  border: 1px solid #000;
  border-radius: 25px;
  font-size: 15px;
}
.btn--detail:hover {
  border: 1px solid #30bcee;
  background: #30bcee;
  color: #fff;
}
.menu__logo img {
  height: 46px;
}
.cachsudung,
.about-ecool .container,
.about-story .container {
  max-width: 1110px !important;
}
.about-story .items-post{
  max-width: 1110px !important;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}
.news__banner {
  padding-left: 20px;
}
.cachsudung .using h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 30px 0 20px;
}
.cachsudung .using p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}
.product-cate-title {
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
}
.product-image {
  display: flex;
  align-items: center;
}
.product-image .col-big-img {
  width: calc(100% - 110px);
  order: 2;
  padding: 0 20px 0 40px;
}
.product-image .col-thumb-img {
  order: 1;
}
.shop-container {
  max-width: 75% !important;
}
.hidden {
  display: none !important;
}
.product-thumbnails .slick-initialized .slick-slide .img {
  margin-bottom: 10px;
}
.hotro-box,
.hotro-cont {
  max-width: 70% !important;
}
.page-support .support-portfolio {
  max-width: 400px !important;
}
.page-system-cool .container--790 {
  max-width: 70% !important;
}
.product-card p {
  height: 42px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1400px;
  }
  .menu-sub-news {
    max-width: 1380px;
  }
  .image-items-post {
    padding-bottom: 730px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) { 
  .product-tab .col--product-left {
    height: 660px !important;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 1280px;
  }
  .menu-sub-news {
    max-width: 1260px;
  }
  .product-tab .col--product-right .col-6 {
    height: 300px;
  }
  .news .container {
    max-width: 1200px;
  }
  .image-items-post {
    padding-bottom: 620px;
  }
  .ecool-product .service-items a,
  .ecool-product .service-items p {
    font-size: 15px;
  }
  .cachsudung,
  .about-ecool .container,
  .about-story .container {
    max-width: 90% !important;
  }
  .about-story .items-post{
    max-width: 90% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
  }
  .ecool-product .ecool-app .ecool-app__content {
    width: 430px;
  }
  .hotro-box,
  .hotro-cont {
    max-width: 85% !important;
  }
}
.news-slide {
  display: flex !important;
}
@media (max-width: 1280px) {
  .shop-container {
    max-width: 90% !important;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .menu-sub-news {
    max-width: 1120px;
  }
  .news .container {
    max-width: 1100px;
  }
  .video #home-video-slider .video__item .video__content h3 {
    font-size: 22px !important;
  }
  .image-items-post {
    padding-bottom: 460px;
  }
  .ecool-product .ecool-app .ecool-app__content {
    max-width: 400px;
    width: 100%;
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  html {
    overflow-x: hidden;
  }
  .subscribe,
  .img-banner-product,
  .navbar-light .navbar-toggler,
  .mb-hide,
  .menu.bg-blue {
    display: none;
  }
  header {
    margin-bottom: 0;
  }
  header .navbar {
    justify-content: center;
    padding: 20px 0;
    position: relative;
  }
  header .navbar:after {
    content: "";
    display: block;
    width: calc(100% + 30px);
    height: 1px;
    background: #ddd;
    position: absolute;
    bottom: 0;
    left: -15px;
    right: -15px;
  }
  .navbar-light .navbar-brand {
    margin-right: 0;
  }

  header .navbar .mb-search {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
  }
  header .navbar .mb-search .search {
    width: 28px;
    padding: 0;
  }
  header .search-block.mb-search #form-search {
    width: 300px;
    right: 0;
    top: -7px;
    display: none;
  }
  header .search-block.mb-search #form-search input {
    height: 40px;
  }
  header .search-block.mb-search #form-search button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
  }
  header .search-block.mb-search #form-search button img {
    width: 20px;
  }
  header .search-block.mb-search.open .search {
    display: none;
  }
  header .search-block.mb-search.open #form-search {
    display: block;
  }
  .justify-content-between{
    display: flex !important;
    justify-content: space-between !important;
  }
  .justify-content-between .select-box {
    margin: unset;
  }
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    transition: all 0.3s;
  }
  .breadcrumb, .product-inverter .container .header-content {
    display: none;
  }
  .menu-toggle .icon-bars,
  .menu-toggle .icon-bars:before,
  .menu-toggle .icon-bars:after {
    display: block;
    width: 36px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 8px;
    left: 2px;
    transition: all 0.3s;
  }
  .menu-toggle .icon-bars:before {
    content: "";
    top: 12px;
    left: 0;
  }
  .menu-toggle .icon-bars:after {
    content: "";
    top: 24px;
    left: 0;
  }
  .menu-toggle.open .icon-bars,
  .menu-toggle.open .icon-bars:before,
  .menu-toggle.open .icon-bars:after {
    background: #fff;
  }
  .menu-toggle.open {
    position: fixed;
    left: 10px;
  }
  .menu-toggle.open .icon-bars {
    transform: rotate(45deg) translateX(10px) translateY(8px);
  }
  .menu-toggle.open .icon-bars:before {
    opacity: 0;
  }
  .menu-toggle.open .icon-bars:after {
    transform: rotate(-90deg) translateX(24px) translateY(0px);
  }
  .mb-menu,
  .mb-show {
    display: block;
  }
  .col--home-product:nth-child(n + 4) {
    display: none;
  }
  .bg-black {
    padding: 50px 110px;
  }
  .social {
    text-align: center;
  }
  .social .text-white {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 30px;
  }
  .social .social__icon {
    width: 52px;
    margin: 0 16px;
  }
  .menu {
    /*display: none;*/
  }
  .mb-menu {
    padding: 15px;
    text-align: center;
  }
  .mb-menu .back-to-top {
    display: block;
    padding: 16px 20px;
    margin: 0 -15px 16px;
    background: #f7f8fa;
  }
  .mb-menu .back-to-top img {
    width: 16px;
    margin-left: 4px;
  }
  .mb-menu-accordion {
    text-align: left;
    padding: 0 15px;
  }
  .mb-menu-accordion .card {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }
  .mb-menu-accordion .card ~ .card {
    border-top: 1px solid #ccc;
  }
  .mb-menu-accordion .card .card-header {
    background: transparent;
    padding: 2rem 0;
    position: relative;
  }
  .mb-menu-accordion .card .card-header .btn-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0.375rem 3rem 0.375rem 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
  }
  .mb-menu-accordion .card .card-header .btn-link:after {
    content: "+";
    font-size: 30px;
    color: #999;
    position: absolute;
    top: 7px;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.3s;
    font-weight: 300;
  }
  .mb-menu-accordion .card .card-header .btn-link.collapsed:after {
    transform: rotate(0);
  }
  .mb-menu-accordion .card .card-body {
    padding: 0.375rem 0;
  }
  .mb-menu-accordion .card .card-body .mb-menu-sub {
    padding-left: 18px;
    margin-bottom: 0;
  }
  .mb-menu-accordion .card .card-body .mb-menu-sub li {
    margin: 16px 0;
  }
  .mb-menu-box {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }
  .mb-menu-box:before,
  .mb-menu-box:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: -320px;
    bottom: 0;
    width: 320px;
    background: #2dbdee;
    opacity: 0.5;
    transition: all 0.3s;
  }
  .mb-menu-box:after {
    width: 100%;
    right: -100%;
  }
  .mb-menu-box.open {
    z-index: 99;
  }
  .mb-menu-box.open:before,
  .mb-menu-box.open:after {
    right: 0;
  }
  .mb-menu-box .menu-list {
    display: block;
    position: absolute;
    top: 0;
    right: -280px;
    bottom: 0;
    width: 280px;
    background: #fff;
    z-index: 2;
    transition: all 0.3s;
  }
  .mb-menu-box.open .menu-list {
    right: 0;
  }
  .mb-menu-box .menu-list .navbar-nav {
    padding: 20px 0;
    margin-bottom: 0;
    display: block;
  }
  .mb-menu-box .menu-list .navbar-nav .nav-item {
    list-style: none;
  }
  .mb-menu-box .menu-list .navbar-nav .nav-item a {
    display: block;
    padding: 16px 20px;
    font-size: 18px;
    text-align: left;
  }

  .mb-menu-box .menu-list .lang-switch {
    padding: 0 20px;
  }
  .mb-menu-box .menu-list .lang-switch .language {
    margin-right: 8px;
    width: 36px;
  }
  .mb-menu-box .menu-list .lang-switch .language img {
    width: 100%;
  }
  .nav-bot {
    text-align: right;
    margin: 22px 15px 10px;
  }
  .nav-bot .mb-search-bot {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .nav-bot .mb-search-bot .search {
    width: 24px;
  }
  .nav-bot .lang-switch {
    display: inline-block;
    vertical-align: middle;
  }
  .nav-bot .lang-switch .language {
    width: 36px;
    height: auto;
    padding: 0;
    margin-left: 8px;
    margin-right: 0;
  }
  .nav-bot .lang-switch .language img {
    width: 100%;
  }
  .search-block.mb-search-bot .search {
    width: 28px;
    padding: 0;
  }
  .search-block.mb-search-bot #form-search {
    position: absolute;
    width: 300px;
    right: 0;
    top: -7px;
    display: none;
  }
  .search-block.mb-search-bot #form-search input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #a4a7ab;
    padding: 2px 15px;
    height: 40px;
  }
  .search-block.mb-search-bot #form-search button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .search-block.mb-search-bot #form-search button img {
    width: 20px;
  }
  .search-block.mb-search-bot.open #form-search {
    display: block;
  }
  .search-block.mb-search-bot.open .search {
    opacity: 0;
  }
  .portfolio .portfolio__item p {
    font-size: 20px !important;
  }
  .about-slider h2 {
    font-size: 32px;
  }
  .about-slider h4 {
    font-size: 36px;
    text-align: left;
  }
  .slider__item .slider-img-bg {
    height: 60vh;
  }
  .mb-banner-child .col-md-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* .product-tab .row {
    margin-right: -15px;
  } */
  /* .product-tab .col--product-left {
    height: 475px !important;
  } */
  /* .product-tab .col--product-right .col-6 {
    height: 210px;
  } */
  .video #home-video-slider .video__item .video__img {
    padding: 0 65px;
  }
  .col--home-product {
    padding: 0 20px;
  }
  .product .container {
    width: 90%;
  }
  .product .container .col--home-product {
    padding: 0 20px;
  }
  .news {
    margin-top: 30px;
  }
  .news .container {
    width: 90%;
  }
  .news h2 {
    font-size: 22px;
    margin-bottom: 30px !important;
  }
  .news .news__text h3 a {
    font-size: 19px;
  }
  .news .news__text {
    font-size: 15px;
  }
  .about-ecool .container {
    max-width: 90% !important;
  }
  .breadcrumb {
    padding-left: 20px !important;
  }
  .about-ecool .container,
  .about-story .container,
  .about-story .items-post {
    max-width: 90% !important;
  }
  .ecool-product .products__description {
    max-width: 90%;
    text-align: justify;
  }
  .ecool-product .products__list .col-6 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .ecool-product .service-items {
    margin-bottom: 80px;
  }
  .ecool-product .service-items .img-service {
    width: 100px;
    height: 100px;
  }
  .ecool-product .service-items {
    padding: 0 50px;
  }
  .ecool-product .ecool-app .ecool-app__content {
    max-width: 330px;
    width: 100%;
  }
  .ecool-product .ecool-app .ecool-app__content h3 {
    margin-top: 10px !important;
  }
  .ecool-product .ecool-app {
    padding-top: 50px;
  }
  .ecool-product .using {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cachsudung .using h5 {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cachsudung .using p {
    font-size: 13px;
  }
  .product-image {
    display: block;
  }
  .product-image .col-big-img {
    width: 100%;
    order: 1;
    padding: 0;
  }
  .product-image .col-thumb-img {
    width: 100%;
    order: 2;
  }
  .product-info {
    display: flex;
    margin-top: 40px;
  }
  .product-info .pd-top {
    width: 60%;
  }
  .product-info .pd-bot {
    width: 40%;
    padding-left: 20px;
  }
  .product-detail .product-info .product-btn {
    font-size: 16px !important;
  }
  .product-detail .product-info .product-btn.price {
    margin-top: 16px !important;
  }
  .product-main {
    margin-bottom: 30px;
  }
  .product-thumbnails.slick-initialized .slick-slide .img {
    margin: 0 5px;
  }
  .hotro-box,
  .hotro-cont {
    max-width: 100% !important;
  }
  .page-support .banner {
    padding: 50px 20px !important;
  }
  .page-system-cool .container--790 {
    max-width: 90% !important;
  }
  .product-detail .product-main .col-big-img .slick-slide img{
    border: none !important;
  }
}
@media (max-width: 767px) {
  .product .container,
  .product-tab .container {
    width: 100% !important;
  }
  .product .container .product-card p {
    font-size: 11px;
    height: 48px;
  }
  .product-tab .container p {
    font-size: 14px;
  }
  .product-tab .container .col--product-left p {
    font-size: 18px;
    font-weight: bold;
  }
  .btn--detail {
    font-size: 11px;
  }
  .product-tab .product-right {
    height: 250px !important;
  }
  .bg-black {
    padding: 50px 20px;
  }
  .product-tab .row .col-12 {
    padding-right: 15px !important;
  }
  .product-tab .row .col-12.col--product-left {
    padding-right: 15px !important;
    padding-bottom: 30px;
  }
  .product-tab .col--product-right .col-6 {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px !important;
  }
  .product-tab .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .product-tab .row .col-12 {
    padding-left: 15px;
  }
  .product-tab .col--product-left {
    height: 280px !important;
  }
  .product-tab .col--product-left a {
    padding: 20px 15px !important;
    flex-direction: inherit !important;
    align-items: center;
  }
  .product-tab .col--product-left a img {
    width: 50% !important;
    max-width: inherit !important;
    margin: 0 !important;
  }
  .product-tab .col--product-left a .detail {
    width: 50% !important;
    padding-left: 10px;
  }
  .mb-banner-child .slick-dots {
    position: relative;
  }
  .mb-banner-child .slick-dots:before {
    content: "";
    display: block;
    width: 110px;
    background: #999999;
    height: 28px;
    border-radius: 14px;
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .mb-banner-child .slick-dots li button:before {
    color: #b3b3b3;
    font-size: 12px;
    text-shadow: 0 0 2px #000;
  }
  .mb-banner-child .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
  }
  .portfolio .portfolio__item p {
    font-size: 18px !important;
  }
  .about-ecool .title-about-ecool {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .line-down {
    height: 10px;
  }
  .about-ecool .item-img {
    width: 100px;
    height: 100px;
  }
  .about-ecool .title-icon-ecool {
    font-size: 14px;
  }
  header .navbar .navbar-nav .nav-item a::after {
    display: none;
  }
  header .navbar .navbar-nav .nav-item.active a {
    background: #2dbdee;
    color: #fff;
  }
  .banner-child {
    display: none;
  }
  .mb-banner-child {
    display: block;
  }
  .product-tab .btn-product-tab {
    flex: 0 0 25%;
  }
  .product-tab .btn-product-tab a {
    font-size: 16px;
    text-align: center;
  }
  .video #home-video-slider .video__item .video__img:after {
    width: 50px;
    height: 50px;
    top: calc((100% - 50px) / 2);
  }
  .news .news__text {
    padding-left: 0;
  }
  .title-about-ecool {
    margin-top: 70px;
  }
  .about-description {
    line-height: 24px;
    font-size: 14px;
  }
  .title-medium {
    margin-bottom: 50px;
  }
  .news__banner {
    padding-left: 0;
  }
  .ecool-product .products__list .item-product {
    margin-bottom: 10px;
  }
  .ecool-product .service-items p {
    font-size: 12px;
    font-weight: 400 !important;
    line-height: 18px;
  }
  .ecool-product .ecool-app .ecool-app__content {
    width: 100%;
  }
  .ecool-product .ecool-app .ecool-app__content h2 {
    font-size: 32px !important;
    margin-top: 2px;
  }
  .ecool-product .ecool-app .ecool-app__content p {
    font-size: 12px !important;
    line-height: 18px;
    font-weight: 400 !important;
  }
  .cachsudung {
    max-width: 70% !important;
  }
  .cachsudung .using p {
    margin-bottom: 40px;
  }
  .cachsudung .using h5 {
    margin: 20px 0;
  }
  .product-image .col-thumb-img {
    display: none;
  }
  .product-gallery .slick-dots li button:before {
    display: none;
  }
  .product-gallery .slick-dots li button {
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 4px;
  }
  .product-gallery .slick-dots li.slick-active button {
    background: #000;
  }
  .news-slide {
    display: block !important;
  }
  #home-slider-mobile .slider__item {
    height: 475px !important;
  }
}
@media (max-width: 676px) {
  .mb-banner-child .col-md-4 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .slider__item .slider-img-bg {
    height: 70vh;
  }

  .page-system-cool .container--790 {
    max-width: 100% !important;
  }
}
@media (max-width: 533px) {
  .social .social__icon {
    margin: 0 8px;
  }
  .search-block.mb-search-bot #form-search {
    width: 250px;
  }
  #home-slider .slider__item .slider__description {
    max-width: 100% !important;
    padding: 80px 30px;
  }
  #home-slider .slider__detail {
    margin: 30px 0 !important;
  }
  #home-slider .see-more {
    padding: 6px 16px !important;
  }
  #home-slider .slider__item .slider__description .fs-28 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #home-slider .slider__item .slider__description .fs-17 {
    font-size: 16px;
  }
  .section__title {
    font-size: 22px;
  }
  .about-slider h2 {
    font-size: 22px;
  }
  .about-slider h4 {
    font-size: 24px;
  }
  .about-slider p {
    font-size: 14px;
  }
  .video #home-video-slider .video__item .video__img {
    padding: 0;
  }
  .product-tab .btn-product-tab a {
    font-size: 14px;
  }
  .image-items-post {
    background-position: bottom;
  }
  .cachsudung {
    max-width: 100% !important;
  }
  .product-info {
    display: block;
  }
  .product-info .pd-top {
    width: 100%;
  }
  .product-info .pd-bot {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
  }
  .slider__item .slider-img-bg,
  #home-slider-mobile .slider__item {
    height: 550px !important;
  }
}
@media (max-width: 414px) {
  .mb-banner-child .col-md-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .product-tab .container .col--product-left p {
    font-size: 15px;
    font-weight: 500;
  }
  .product-tab .col--product-left .desc {
    font-size: 11px;
  }
  .product-tab .col--product-left {
    height: 270px !important;
  }
  .product-tab .col--product-left .detail {
    margin-top: 0px;
  }
  .product-tab .row .col-12.col--product-left {
    padding-bottom: 15px;
  }
  .product-tab .col--product-right .col-6:nth-child(2n) {
    padding-left: 8px;
  }
  .product-tab .col--product-right .col-6:nth-child(2n + 1) {
    padding-right: 8px;
  }
  .product-tab .col--product-right .col-6 a {
    display: block;
    position: relative;
  }
  .product-tab .col--product-right .col-6 p {
    padding: 0 10px;
    font-size: 12px;
  }
  .product-tab .product-right {
    height: 210px !important;
  }
  .product-tab .col--product-right .col-6 {
    margin-bottom: 15px !important;
  }
  .video #home-video-slider .video__item .video__content h3 {
    font-size: 19px !important;
  }
  .product-tab ul.nav {
    padding-bottom: 20px !important;
  }
  .news .news__text h3 a {
    font-size: 16px;
  }
  .news .news__banner {
    margin-bottom: 20px;
  }
  .news .news__text {
    font-size: 14px;
  }
  .news .news__viewall {
    margin-top: -10px !important;
  }
  .product-card {
    margin-top: 100px !important;
  }
  .mb-menu-accordion .card .card-header .btn-link {
    font-size: 14px;
  }
  .mb-menu-accordion .card .card-header .btn-link:after {
    font-size: 28px;
    top: 8px;
  }
  .copyright__info h4,
  .social .text-white {
    font-size: 15px !important;
  }
  .copyright__info p {
    font-size: 12px !important;
  }
  .social .social__icon {
    width: 46px;
  }
  .product .container {
    width: 90% !important;
  }
  .product .container .col--home-product {
    padding: 0 7px;
  }
  .about-ecool .title-about-ecool {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .title-medium,
  .about-story .line-down,
  .about-ecool .line-down {
    margin-bottom: 30px;
  }
  .about-ecool .item-img {
    width: 65px;
    height: 65px;
  }
  .about-ecool .title-icon-ecool {
    font-size: 12px;
    line-height: 18px;
  }
  .about-description {
    font-size: 12px;
    line-height: 18px;
  }
  .image-items-post {
    margin-top: 0;
  }
  .ecool-product h1 {
    font-size: 24px !important;
  }
  .ecool-product .products__description {
    max-width: 100%;
    font-size: 12px !important;
    line-height: 18px;
  }
  .images-products {
    margin-top: -20px;
  }
  .ecool-product .products__list .item-product h5 {
    font-size: 16px !important;
  }
  .ecool-product .products__list .item-product .item-product__content p {
    font-size: 12px;
  }
  .ecool-product .using {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 375px) {
  header .search-block.mb-search #form-search {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .slick-list .slick-track .slick-slide .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.nav-item {
  position: relative;
}
.nav-item ul {
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  min-width: 250px;
  padding-left: 0;
  margin-bottom: 0;
  z-index: 2;
  background: #fff;
}
.nav-item:hover ul {
  display: block;
}
.nav-item ul li {
  list-style: none;
}
.nav-item ul li a {
  display: block !important;
  padding: 20px 20px !important;
}
.nav-item ul li a:hover {
  background: #30bcee;
  color: #fff !important;
}
.nav-item:hover ul li a:after {
  display: none !important;
}
.modal-popup-video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
}
.icon-close-popup {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  filter: brightness(0) invert(1);
}
.modal-popup-video .video-box {
  max-width: 800px;
  width: 100%;
}
.item-video-custom {
  position: relative;
}
.item-video-custom .view_video_icon {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}
.item-video-custom:hover .view_video_icon {
  display: flex;
}
.content-profile {
  display: none;
}
.content-profile.active {
  display: block;
}

@media (max-width: 990px) {
  .mb-menu-box .menu-list ul.navbar-nav li ul {
    position: relative;
  }
  .mb-menu-box .menu-list ul.navbar-nav li:hover ul {
    position: relative;
    display: block;
  }
}
