<!-- BEGIN: box_right -->
{data.box_gallery} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="210" valign="top">{data.box_member}</td>
    <td style="padding-left:10px;" valign="top">{data.box_support}</td>
  </tr>
</table>
 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="210" valign="top">{data.logo_right}</td>
    <td style="padding-left:10px;" valign="top">{data.box_tools}</td>
  </tr>
</table>

<!-- END: box_right -->