/* CSS Document */
html {
	SCROLLBAR-BASE-COLOR: #dedede;
	SCROLLBAR-ARROW-COLOR: #000;
}

body {
	background:#fff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	FONT-FAMILY: Arial;
	font-size: 12px;
	line-height:18px;
	height:100%;
	color:#444444;
}
td,th {
	font-size: 12px;
	line-height:18px;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,blockquote,pre,form,input,textarea {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:bold;
}

.clear {clear: both; font-size: 0px; line-height: 0px; height:0;}
p {margin:0px;padding:5px 0px;}
ol,ul {	list-style: none;}

a { text-decoration:none; color:#1f4c92}
a:hover {  color:#FF6A06; text-decoration: underline; }

img { border : 0px; }
.img_border { border:1px solid #dfdede ; padding:1px;}
input {
    color: #000000;
}
.input-warn {border:1px solid #FF0000;line-height:20px;	height:18px;}
.input-ok { border:1px solid #00CC66; line-height:20px;	height:18px;}
 
 
/*FORM BUTTON*/
input[type="text"], textarea {
	-moz-box-sizing:border-box;
	border:1px solid #DCDCDC;
	padding:2px;
}

.textfield{
	-moz-box-sizing:border-box;
	border:1px solid #DCDCDC;
	padding:2px;
}

textarea, input{
	-x-system-font:none;
	font-family:"Verdana";
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;

	margin:1px;

}

textarea{

	border: 1px solid #DCDCDC;
	scrollbar-base-color:#DCDCDC;
	scrollbar-arrow-color:#000000; 
	overflow:auto;
}
select {
	border:1px solid #DCDCDC;
	-x-system-font:none;
	font-family:"Verdana";
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:19px;
	margin:1px;
	padding:1px;
}
.button {
	font-family: "Verdana";
	text-decoration: none;
	font-size: 11px;
	font-weight:bold;
	line-height: 16px;
	padding: 2px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
}

.button2{
	background:transparent url(../images/button2.png) no-repeat scroll 0 0;
	float:left;
	margin-left:5px;
}
.button2 div {	float:left;}
.button2 .image {
	background:transparent url(../images/button2_image.png) no-repeat scroll 100% 0;
}

.button2 a, .button2 span{
	color:#333333;
	cursor:pointer;
	display:block;
	float:left;
	font-size:11px;
	height:22px;
	line-height:22px;
	padding:0 24px 0 6px;
}
 
.font_title{
		color:#B84120;
		font-weight:bold;
	
	} 

.font_f_title {
	color: #993333;
	font-weight: bold;
	font-size: 14px;
}

.font_err {
	color: #FF0000;
}

.popupContent {
	padding:10px;	
}

 .tableborder{
		border:2px solid #C9C9B5;
		padding:5px;
	}
/* ---- TABLE ------*/
	/** Table styles **/
	
	table.adminlist {
		width: 100%;
		border-spacing: 1px;
		background-color: #e7e7e7;
		color: #666;
	}
	
	table.adminlist td,
	table.adminlist th { padding: 2px; }
	
	table.adminlist thead th {
 		color: #666;
		border-bottom: 1px solid #999;
		border-left: 1px solid #fff;
		padding-left:10px;
	}
	
	table.adminlist thead a:hover { text-decoration: none; }
	
	table.adminlist thead th img { vertical-align: middle; }
	
	table.adminlist tbody th { font-weight: bold; }
	
	table.adminlist tbody tr.row_title 	{ background: #f0f0f0; }
	table.adminlist tbody tr.row_title td { background: #f0f0f0; }
	
	table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
	table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }
	
	
	table.adminlist tbody tr.row0:hover td,
	table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }
	
	table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; position:relative; }
	table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }
	
	table.adminlist tbody tr.row_select 	{ background: #F4EAD2; border-top: 1px solid #fff; }
	table.adminlist tbody tr.row_select td { background: #F4EAD2; border-top: 1px solid #FFF; }
	
	table.adminlist tfoot tr { text-align: center;  color: #333; }
	table.adminlist tfoot td,
	table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }
	
	table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
	table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }
	 
	table.adminlist td .icon_hidden { margin-left:5px;}
 	
	.jeip-saving {
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: left;
		background-color: #903;
		color: #fff;
		padding: 0 2px 0 20px;
	}
	
	.jeip-mouseover, .jeip-editfield {
		background-color: #ffff99;
		width:90%;
		padding:3px 5px;
	}
	
	table.admintable {
		width: 100%;
		border-spacing: 1px;
		background-color: #e7e7e7;
		color: #666;
	}
	
	table.admintable td,
	table.admintable th { padding: 3px; }
	
	table.admintable thead th {
		text-align: center;
		background: #f0f0f0;
		color: #666;
	}
	
	table.admintable tbody th { font-weight: bold; }
	
	table.admintable tbody tr.row_title 	{ background: #f0f0f0; }
	table.admintable tbody tr.row_title td { background: #f0f0f0; }
	
	table.admintable tbody tr			{  text-align: left; }
	table.admintable tbody tr.row0 	{ background: #fff; border-top: 1px solid #fff; }
	table.admintable tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }
	
	table.admintable tbody tr td.row0 	{ background: #fff; border-top: 1px solid #fff; }
	table.admintable tbody tr td.row1 	{ background: #f9f9f9; border-top: 1px solid #fff;font-weight:bold; }
	
	table.admintable tbody tr td 	   { height: 25px;  border: 1px solid #fff; }
	table.admintable tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF;  }
	
	.admintable input {
		border:1px solid #DCDCDC;
		padding:2px;
	}
	
	.admintable input.error {
		border:1px dotted #ff0000;
	} 
	 
	.admintable label.error { margin-left: 10px; padding: 5px; background: #B70002; color: #FFF; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
	
	/***************************** Phan trang  *****************************/
	.pagecur {
		background: #FFFFFF;
		border: 1px solid #C7C7B1;
		padding: 1px 5px 1px 5px;
		font-weight: bold;
		color: #FD5B2A;
	}
	.pagelink {
		background: #EFEFE9;
		border: 1px solid #C7C7B1;
		padding: 1px 5px 1px 5px;
	}
	
	.pagelink a:link,
	.pagelink a:visited,
	.pagelink a:active{
		color: #B84120 !important;
		text-decoration: none;
	}
	.pagelink a:hover{
		color: #FD5B2A !important;
		text-decoration: none;
	}
		