.box-nav-menu { margin-bottom:10px;}
.nav-control {  overflow:hidden; 	margin-bottom:5px  }
.nav-control ul {list-style:none; float:left ;   }
.nav-control li {float:left; padding:2px 10px;}
.nav-control li a{display:block;	line-height:20px; padding-left:20px;}
.nav-control li a.del {
	background:url(../images/icon_del.gif) left no-repeat;	
}
.nav-control li a.write {
	background:url(../images/icon_send.gif) left no-repeat; 
	padding-left:30px;
}
.nav-control li a.reply {
	background:url(../images/icon_reply.gif) left no-repeat; 
	 padding-left:30px;
}
.nav-control li a.back {
	background:url(../images/icon_back.gif) left no-repeat;  
	padding-left:15px;
}

.nav-action { text-align:right;}
.nav-action .write {}
.nav-action .write i { color:#de0000 ;font-size:16px; margin-right:2px;}
#boxMessage {
	border:1px solid #989A9C;	
}
#boxMessage .message_title {
	background:#E6E7E9;	
	padding:5px 10px;
}
#boxMessage .message_title h2 {
	font-weight:bold;
	padding:2px 0px;
}

#boxMessage .message_content {
	padding:5px 10px;	
}

#boxMessage .message_content a { color:#428bca}