.menuMember ul{
    text-align: center;
}
.menuMember ul li{
    display: inline-block;
    margin: 0 23px;
}
.menuMember ul li a{
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}
.menuMember ul li a span {
    padding: 6px 0px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}
.menuMember ul li a:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    border-bottom:solid 2px #39a31b;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menuMember ul li a:hover,
.menuMember ul li a.active{
    color:#39a31b;
}
.menuMember ul li:hover a:before,
.menuMember ul li.active a:before{
    right:0;
}
/*==================================================*/
.boxMember{
    background: #f2f2f2;
    padding:45px 20px;
}
.boxMember.pp{
    padding: 25px 20px;
}
.boxMember.mb{
    margin-bottom: 10px;
}
.formMember{
    max-width: 500px;
    padding-left: 150px;
    margin: 0 auto;
    position: relative;
}
.formMember.nop{
    padding-left: 0;
}
.formMember.bg1 {
    background-image: url(../images/member/bg1.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.formMember.bg2 {
    background-image: url(../images/member/bg2.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.formMember label{
    font-weight: normal;
}
.formMember label.error{
    color: #f00;
}
.formMember input[type="text"],
.formMember input[type="password"],
.formMember select,
.formMember textarea{
    width:100%;
    height:45px;
    border:solid 1px #d1d1d1;
    padding-left: 40px;
    background-color: #ffffff;
}
.formMember .fp{
    display: inline-block;
}
.formMember button {
    width: 170px;
    background: #0baf4d;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    padding: 8px 0px;
    position: relative;
}
.formMember button span{
    position: relative;
}
.formMember button:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    content: '';
    background: #414141;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.formMember button:hover:before {
    bottom: 0;
}
.formMember .formFa{
    position: relative;
}
.formMember .formFa:before{
    font-family: fontAwesome;
    position: absolute;
    left:15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#999999;
}
.changeAvatar{
    position: absolute;
    width:100px;
    left: 0;
    top: 0;
}
.changeAvatar .img{
    position: relative;
    width:100px;
    height:100px;
    border: solid 1px #e5e5e5;
    background:#ffffff;
    margin-bottom: 10px;
}
.changeAvatar .img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 80%;
    max-height: 80%;
    width: 100%;
}
.changeAvatar button{
    width: 100%;
    background: #666666
}
/*=====================ORDER MANAGER==============*/
.formSearch{
    margin-bottom: 25px;
}
.formSearch select{
    width:125px;
    height:45px;
    border:solid 1px #d6d6d6;
    color:#666666;
    margin-right: 10px;
    float:left;
}
.formSearch input.date{
    width:125px;
    height:45px;
    border:solid 1px #d6d6d6;
    color:#666666;
    background-image:url(../images/member/i7.png);
    background-repeat: no-repeat;
    background-position: center right 13px;
    margin-right: 10px;
    float:left;
    padding-left: 10px;
}
.formSearch input.idorder{
    width:230px;
    height:45px;
    border:solid 1px #d6d6d6;
    color:#666666;
    margin-right: 10px;
    float:left;
    padding-left: 10px;
}
.formSearch button{
    width: 90px;
    height:45px;
    background: #0baf4d;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    padding: 8px 0px;
    position: relative;
}
.formSearch button:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    content: '';
    background: #39a31b;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.formSearch button:hover:before{
    bottom:0;
}
.formSearch button span{
    position: relative;
}
.formSearch button:hover{
}
.tableManager{
    width:100%;
    margin-bottom: 15px;
}
.tableManager thead tr th {
    color: #ffffff;
    padding: 8px 20px;
    background: #0baf4d;
    text-transform: uppercase;
    font-weight: bold;
}
.tableManager tbody tr td{
    padding:10px 20px;
    border-bottom:solid 1px #e5e5e5;
}
.tableManager tbody tr:nth-child(even){
    background: #fafafa;
}
.tableManager tbody tr:nth-child(odd){
    background: #ffffff;
}
.tableManager .code{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.tableManager .red{
    color:#fa1b1b;
    float:left;
}
.tableManager .blue{
    color:#0084cb;
}
.tableManager .green{
    color:#009840;
}
.tableManager button {
    float: right;
    text-transform: uppercase;
    background: #df2025;
    color: #ffffff;
    border: none;
    width: 70px;
    height: 30px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tableManager button:hover{
    background: #fa1b1b;
}
.boxMember .pagination{
    float:none;
}
/*=======================POINT==================*/
.pointDashbroad{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listPoint ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.listPoint .a{
    width:180px;
}
.listPoint .s{
    font-size: 20px;
    line-height: 28px;
    color:#666666;
}
.listPoint .s.c{
    color:#188309;
}
.totalPoint{
    max-width: 250px;
}
.totalPoint .txt{
    text-align: center;
    margin-bottom: 10px;
}
.totalPoint .point {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: #ffffff;
    background: #2f92da;
    padding: 13px 0px;
}
.tablePoint{
    position: relative;
}
.nav-tabs{
    border-bottom: none;
    margin-bottom: 20px;
}
.nav-tabs>li {
    margin: 0;
    margin-right: 10px;
}
.nav-tabs>li>a {
    color: #666666;
    border: solid 1px #dddddd;
    border-radius: 0;
    text-transform: uppercase;
    padding: 9px 20px;
    margin: 0;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    background: #39a31b;
    border-color: #39a31b;
    color: #ffffff;
}
.mc-navtab {
    background: #39a31b;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 20px;
    position: relative;
    display: none;
    margin-bottom: 15px;
}
.mc-navtab:before{
    content: "\f0d7";
    font-family: Fontawesome;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*==================================================*/
.boxTetu{
    padding: 15px 20px 10px;
    background: #f5f5f5;
    text-align: center;
    margin-bottom: 35px;
}
.boxTetu .t1{
    font-size: 25px;
    line-height: 33px;
}
.boxTetu .t1 span{
    color:#0baf4d;
}
.boxTetu .t2{
    font-size: 15px;
    line-height: 23px;
    color:#555555;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 1400px) and (min-width: 991px){
.menuMember ul li {
    margin-bottom: 20px;
}
.tableManager .red{
    float:none;
    margin-bottom: 10px;
}
.tableManager button{
    float:none;
}
}
@media all and (max-width: 991px){

.menuMember ul li a{
    font-size: 0;
}
.menuMember ul li a span {
    width: 25px;
    display: block;
    background-position: center 3px;
}
.menuMember ul li a:hover span, 
.menuMember ul li a.active span {
    background-position: center bottom 6px;
}
.boxMember{
    padding: 25px 20px;
}
.formMember{
    padding:0px;
}
.formMember.bg1,
.formMember.bg2{
    background-image: initial;
}
.menuMember ul li {
    margin: 0 15px;
}
.changeAvatar {
    position: relative;
    width: initial;
}
.changeAvatar .btnAvatar {
    position: absolute;
    bottom: 0;
    left: 105px;
    width:100px;
}
.gridS{
    margin: 0 -5px;
}
.gridS:after{
    content: "";
    display: block;
    clear: both;
}
.gridS .col{
    width:50%;
    float:left;
    padding:0 5px;
}
.formSearch select, 
.formSearch input.idorder,
.formSearch input.date,
.formSearch button{
    width:100%;
    margin-bottom: 10px;
}
.tableManager thead{
    display: none;
}
.tableManager tbody tr{
    display: block;
    padding:10px;
    padding-left: 135px;
    border-bottom:solid 1px #dddddd;
    position: relative;
}
.tableManager tbody tr:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width:120px;
    background: #0baf4d;
}
.tableManager tbody tr td{
    display: block;
    padding:0;
    border-bottom: none;
    margin-bottom: 10px;
    position: relative;
}
.tableManager tbody tr td:before{
    content: attr(data-cont);
    position: absolute;
    left: -136px;
    top: 0;
    width:110px;
    font-size: 14px;
    line-height: 22px;
    color:#ffffff;
    text-align: right;
}
.tableManager .red,
.tableManager button{
    float:none;
    display: inline-block;
}
.tableManager .red{
    margin-right: 40px;
}
.mc-navtab{
    display: block;
}
.nav-tabs{
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: none;
}
.nav-tabs>li{
    float:none;
    margin: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: inherit;
    border:solid 1px #dddddd;
    color:#39a31b;
}
.pointDashbroad{
    display: block;
}
.totalPoint{
    max-width: initial;
}

}

@media all and (max-width: 460px){
.menuMember ul li {
    margin: 0 5px;
}
.tableManager .red,
.tableManager button{
    float:none;
    display: block;
    margin-bottom: 10px;
}
.listPoint ul li{
    display: block;
}
}