body {	 
	FONT-FAMILY:Arial, Helvetica, sans-serif ;
	font-size: 12px;
	line-height:18px; 
	color:#333333; 
}


.popupContent {  
	 padding:20px;
}
.divContent {
	height:480px; 
	padding-right:10px;
	overflow-y:auto;	
} 
.popupTitle {  
 
	background:#e2e2e2 ;
	padding:10px; 
	text-align:center;
}
.popupTitle .title {  
  font-family: 'Open Sans', sans-serif;	
	font-size:19px;
	font-weight:normal;
	text-transform:uppercase;
	color:#333333;
	line-height:20px;
} 

.mess span{color:#E55302;}
.popupClose { background:url(../images/close.png) no-repeat; width:41px; height:41px; position:absolute; right:0px; top:-10px; z-index:100 ; }
.popupClose a {display:block ; width:41px; height:41px;  text-decoration:none;}
.bannerPopupContent  {}
/* fix for bold in FF4 win 64bit */
b{font-weight:bold}
.classic-popup .error { border:1px solid red;}

#close-popup { width:41px; height:41px; text-indent:-9999px; right:-20px; top:-30px;}
 
.popupMember {	 background:#fff;  max-width:700px; margin:0px auto;  }
	.popupL { border-right:1px solid #e5e5e5; }
	.popupR {  }
.popupMember .title {
	font-weight:bold;
	font-size:14px; 
	margin-bottom:10px;
}
.box-form-wrapper { padding:10px 0px;  }
.box-social { padding:10px 0px;  }
.box-social ul {list-style:none}
.box-social li {
	overflow:hidden;
	margin-bottom:10px;	
}
.box-social li a { 
	display:block;
	height:42px;
	line-height:42px;
	font-size:14px;  
	font-family: 'Open Sans', sans-serif;	
	text-transform:uppercase;
	text-decoration:none;
	font-weight:normal;
	color:#fff;  
	
}
.box-social li a i {
	float:left;
	display:inline-block;
	background-color: rgba(255,255,255,0.3);
	color:#fff; 
	font-size:30px;
	line-height:42px;
	text-align:center;
	width:42px;
	height:42px;	
	margin-right:10px;
}
.box-social li a.facebook {
	background:#2a4481;	
}
.box-social li a.google {
	background:#cb200e;	
} 


/*Popup login*/ 
.aRegister  {
	margin-left:5px;
	display:inline-block;
	background:#afafaf; 
	padding:6px 12px;	
	height:36px;
	line-height:24px;
	color:#ffffff;
  font-size:16px;  
	font-family: 'Open Sans', sans-serif;	
	text-transform:uppercase;
	text-decoration:none;
	font-weight:normal;
	vertical-align: middle;
    white-space: nowrap;
		
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
} 

.popupDealer { padding:15px 10px;  background:#fff;  max-width:380px; margin:0px auto; }
	
/*divPopupRegsiter*/	 
	.boxRegister {
		 	
	}	 
	.boxRegister .form-group {margin-bottom:10px;} 	
	.boxRegister .form-group .control-label {text-align:left;}
	.note-term {margin-bottom:10px;}
	.mess-input { font-size:10px ; font-style:italic}	
	
	.mess_register_success { min-height:260px; padding:10px;}
 