html {
	SCROLLBAR-BASE-COLOR: #CCCCCCC;
	SCROLLBAR-ARROW-COLOR: #000000;
}

body {
	background: #FFFFFF;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 20px;
}

td,th {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

a:active {
	text-decoration: none;
	color: #FF0707
}

a:link {
	text-decoration: none;
	color: #FF0707
}

a:visited {
	text-decoration: none;
	color: #FF0707
}

a:hover {
	color: #1074EF;
	text-decoration: underline;
}

img {
	border: 0px;
}

input {
	color: #000000;
}

.button {
	background-color: #F3F7F6;
	color: #F40924;
	border: 1px solid #CCD3D6;
	padding: 2xp;
	cursor: pointer;
}

.textfiled {
	border: 1px solid #CCD3D6;
	line-height: 20px;
}

.textarea {
	border: 1px solid #CCD3D6;
	line-height: 20px;
	color: #000000;
	scrollbar-base-color: #AAA9A9;
	scrollbar-arrow-color: #000000;
	overflow: auto;
}

.select {
	scrollbar-base-color: #CCD3D6;
	scrollbar-arrow-color: #000000;
	color: #000000;
}

.font_f_title {
	color: #993333;
	font-weight: bold;
	font-size: 14px;
}

.font_err {
	color: #FF0000;
}

.textarea1 {
	border: 1px solid #CCD3D6;
	line-height: 20px;
	color: #000000;
	scrollbar-base-color: #AAA9A9;
	scrollbar-arrow-color: #000000;
	overflow: auto;
}

 

/********************* CSS for Print ****************************/
 
 
body, TD
{
	font-family: Verdana;
	font-size: 12px;

}

.MainTable
{
	border: none;
}
 

.Heading
{
	font-size: 18pt;
	font-weight: bold;
	font-family: Arial;
}

.Summary
{
	font-style: italic;
}

.Heading
{
	font-weight: bold;
	font-size: 13px;
}

.Heading2
{
	font-weight: normal;
}

.Heading3
{
	font-weight: bold;
	font-size: 11pt;
}

.InvoiceTitle {
	font-size: 15px;
	font-weight: bold;
	background-color: black;
	color: white;
}

.PageBreak {
	page-break-after: always;
}


 
 
.logo {}
 
.border_cart {
	background:#cccccc;
}

.row_title_cart {
	background:#e6e7e9;
	color:#FF753E;
	height:25px;
	font-weight:bold;
}
.row_total_cart {
	padding-right:5px;
	font-weight:bold;
	background:#F3f3f3;
	color:#000;
}
.row_item_cart {
	background:#fff;
	height:22px;
}
.row_item_both1 {
	background:#FFFFFF;	
	border-top:2px solid #a2f7a4;
	height:22px;
}

.row_item_both1s {
	background:#FFFFFF;	
	border-left:2px solid #a2f7a4;
	border-top:2px solid #a2f7a4;
	height:22px;
}
.row_item_both1.cfirst {
	border-left:2px solid #a2f7a4;	
}
.row_item_both1.clast {
	border-right:2px solid #a2f7a4;	
}

.row_item_both1e {
	background:#FFFFFF;	
	border-top:2px solid #a2f7a4;
	border-right:2px solid #a2f7a4;
	height:22px;
}

.row_item_both2 {
	background:#FFFFFF;	
	border-bottom:2px solid #a2f7a4;
	height:22px;
}

.row_item_both2s {
	background:#FFFFFF;	
	border-left:2px solid #a2f7a4;
	border-bottom:2px solid #a2f7a4;
	height:22px;
}

.row_item_both2e {
	background:#FFFFFF;	
	border-bottom:2px solid #a2f7a4;
	border-right:2px solid #a2f7a4;
	height:22px;
}

.row_item_both2.cfirst {
	border-left:2px solid #a2f7a4;	
}
.row_item_both2.clast {
	border-right:2px solid #a2f7a4;	
}

 
