.list-order {}
.list-order .status {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
#manage .order-code {
	font-weight: bold ; color: #ed1c24 ;font-size: 16px;
}
#manage .price { font-weight: bold ;  }
.btn-acttion {
	background: #f6f6f6;
	display: inline-block;
	color: #666666;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	margin: 0px 5px;
}
.btn-acttion:hover {
	text-decoration: none;
	background: #f6f6f6;
	color: #666666;
}

.btn-acttion.detail {
	border: 1px solid ##ed6363;
	background: #ed6363;
	color: #FFFFFF;
}
.btn-acttion.detail:hover {
	background: #20a994;
	color: #FFFFFF;
}


/*Detail*/
.boxOrder {
	padding: 0px;
	line-height: 22px;
	margin-bottom:20px;
	font-size: 14px;
	color: #666666;
}
.order-code-status {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	line-height: 40px;
	color: #585858;
	margin-bottom: 10px;
}

.orderTitle {
	color:#333333;
	font-size:14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}


.info-customer .row-info { margin-bottom:5px;}
.info-customer .row-info .attr-name { color:#aaaaaa; float:left; width:80px;}
.info-customer .row-info .attr-value { color:#666666; float:left; width: calc(100% - 90px)}
.info-customer .row-info a { color:#333333 ; text-decoration:underline;}
.info-customer .row-info a:hover { color:#db0303}


.method-title { color: #333333 ; }
#manage td { }
.border_cart {
	background:#ddd;
	border-collapse: inherit !important;
	border-spacing: 1px !important;
}

.row_title_cart {
	background:#666666;
	color:#fff;
	height:30px;
	font-weight:bold;
}
.row_total_cart {

}
.row_item_cart {
	background:#e5e5e5;
}

.row_item_cart td {  background:#fff; 	padding:5px; }

.row_item_cart .cart-item { overflow: hidden; display: table ;  width: 100%}
.row_item_cart .img {  width: 80px; display: table-cell ;}
.row_item_cart .img img { width: 100%; height: auto;}
.row_item_cart .info { padding-left: 10px; display: table-cell ; vertical-align: middle  }


.row_item_cart .price b {color: #df2926}
.row_item_cart .name {  }
.row_item_cart .form-control.quantity { padding-left: 2px ;padding-right: 2px; text-align: center ; width: 40px;}
.row_item_cart .div-quantity {position: relative;}
.row_item_cart .div-quantity span.quantity {display: inline-block; padding: 5px 10px;}
.row_item_cart .have-note {
	background: #ffe4e4 !important;
	border: 1px solid #dd0000 !important;
}
.row_item_cart .note-quantity {
	position: absolute;
	left: 46px;
	top: 1px;
	z-index: 10;
}
.row_item_cart .note-quantity .close {
	position: absolute;
	top: 0px;
	right: 2px;
}
/*.row_item_cart .note-quantity .arrow{
	position: absolute;
	left: -10px;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #cfcfcf transparent transparent;
}*/

.arrow_box {
	position: relative;
	background: #f2f2f2;
	border: 1px solid #cfcfcf;
	padding: 3px 10px;
	padding-right: 20px;
	white-space: nowrap;
	font-size: 12px;

}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(242, 242, 242, 0);
	border-right-color: #f2f2f2;
	border-width: 7px;
	margin-top: -7px;
}
.arrow_box:before {
	border-color: rgba(207, 207, 207, 0);
	border-right-color: #cfcfcf;
	border-width: 8px;
	margin-top: -8px;
}





.div-cart-total {padding-top: 10px}
.div-cart-total .row_cart_total {
	padding: 5px 0px;
	text-align: right;
	font-size: 14px;
}
.div-cart-total .row_cart_total .text {
	display: inline-block;
	text-align: right;
	color: #000000;
}
.div-cart-total .row_cart_total .price {
	display: inline-block;
	width: 170px;
	text-align: right;
	color: #e40707;
	font-size: 20px;
}

.div-order-button { text-align: center ; padding: 10px 0px}



.mess_comment {
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	margin-bottom: 10px;
}


/*block-add-order*/
.block-add-order {}
.block-add-order .box-search {
	margin-bottom: 20px;
}
.block-add-order .box-search .search-item {
	float: left;
	width: calc(100% - 80px);
}
.block-add-order .box-search .search-button {
	float: right;
	width: 80px;
	text-align: right;
}
.block-add-order .box-search .row { margin-left:-5px ; margin-right:-5px}
.block-add-order .box-search .row [class^=col-] {
	padding-left:5px;
	padding-right:5px;
}


/*typeahead-list*/
.typeahead-list > li > a, .typeahead-dropdown > li > a {
	padding: 5px 10px !important;
}

.typeahead-list .item {

}

.typeahead-list .item .pic {
	display: block;
	float: left;
	width: 50px;
}
.typeahead-list .item .pic img { max-width: 100%}
.typeahead-list .item .maso {
	display: block;
	margin-left: 60px;
	color: #666666;
	margin-bottom: 5px;
}
.typeahead-list .item .maso strong { font-weight: normal !important; color: #ff0000 }
.typeahead-list .item .price {
	display: block;
	margin-left: 60px;
	color: #333333;
	font-weight: bold;
}


.box-result-item {}
.box-result-item .item-info {
	float: left;
	width: 180px;
	text-align: center;
}
.box-result-item .box-form-order {
	float: right;
	width: calc(100% - 200px);
}

.box-result-item .item-info .img {
	margin-bottom: 10px;
	text-align: center;
}
.box-result-item .item-info .img img { max-width: 100%}
.box-result-item .item-info .name {
	color: #666666;
}
.box-result-item .item-info .maso {
	color: #666666;
}
.box-result-item .item-info .price {
	font-weight: bold;
}

.box-list-add { font-size: 14px;}
.box-list-add .row-list {
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 15px;
	margin-bottom: 15px;
	clear: both;
	overflow: hidden;
}

.box-list-add .input-wrapper { overflow: hidden}
.box-list-add .input-wrapper .item-label {
	float: left;
	width: 60px;
	line-height: 30px;
}
.box-list-add .input-wrapper .item-input {
	float: right;
	width: calc(100% - 70px);
	line-height: 30px;
}
.box-list-add .div-size .input-wrapper .item-label {
	width: 30px;
}
.box-list-add .div-size  .input-wrapper .item-input {
	width: calc(100% - 40px);
}


.box-list-add .div-color {
	float: left;
	width: 210px;
}
.box-list-add .div-size-quantity  {
	float: right;
	width: 440px;
}
.box-list-add .row-size-quantity  {
	margin-bottom: 10px;
}
.box-list-add .div-size {
	float: left;
	width: 150px;
	margin-right: 10px;
}
.box-list-add .div-quantity {
	float: left;
	width: 125px;
	margin-right: 10px;
}
.box-list-add .div-btn-del {
	float: left;
	width: 100px;
}

.box-chose-color { min-width: 500px;}
.box-chose-color .chose-title {
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #333333;
	text-align: center;
}
.box-chose-color .chose-title .maso {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.box-chose-color .table th {
	font-weight: bold;
	background: #5c5c5c ;
	color: #ffffff;
	text-transform: uppercase;
}
.box-chose-color .img {
	width: 50px;
}
.box-chose-color .img img { width: 50px;}
.box-chose-color td {
	vertical-align: middle !important;
}
.div-button-order {

}

.btn-add-del {
	display: inline-block;
	padding: 5px 10px;
	line-height: 20px;
	background: #e5e5e5;
	color: #666666;
	border-radius: 5px;

}
.btn-add-del:hover,.btn-add-del:focus ,.btn-add-del:active {
	text-decoration: none;
	background: #585858;
	color: #ffffff;
}
.btn-add-del span {
	display: block;
	position: relative;
	padding-left: 20px;
}
.btn-add-del .del::before {
	font-family: "FontAwesome";
	content: "\f00d";
	position: absolute;
	left: 0;
	width: 10px;
	font-size: 16px;
}
.btn-add-del .add::before {
	font-family: "FontAwesome";
	content: "\f067";
	position: absolute;
	left: 0;
	width: 10px;
	font-size: 16px;
}

#btnAddMore span , #btnAddCart span{
	position: relative;
	padding-left: 25px;
}
#btnAddMore span:before {
	font-family: "FontAwesome";
	content: "\f067";
	position: absolute;
	left: 0;
	top: -5px;
	width: 15px;
	font-size: 22px;
}
#btnAddCart span:before {
	font-family: "FontAwesome";
	content: "\f217";
	position: absolute;
	left: 0;
	top: -5px;
	width: 15px;
	font-size: 22px;
}




@media screen and ( max-width:480px ){
	.list-order #table_list tr th:last-child  , .list-order #table_list tr td:last-child {
		display: none;
	}
	#manage .order-code {
		display: block;
		word-break: break-all;
	}

	.border_cart .cart-item {
		display: block;
	}
	.border_cart .cart-item .img {
		display: block;
		margin-bottom: 5px;
	}
	.border_cart .cart-item .img img {max-width: 100px;}
}

