/***************** SHOPPING *****************************/
#BoxShopping {
	padding: 0px;
	line-height: 18px;
}

.fCart {
	font-size: 16px;
	color: #FF0000;
	text-transform: uppercase;
	font-weight: bold;
}

#BoxShopping .navShopping {
	padding: 3px;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
	text-align: center;
}

.border_cart {
	background: #cccccc;
}

.row_title_cart {
	background:url(../images/row_title.gif) #f7f7f7 bottom repeat-x;
	color:#505050;
	height:36px;
	line-height:36px;
	font-weight:bold;
}

.row_total_cart {
	padding-right: 5px;
	font-weight: bold;
	background: #F3f3f3;
	color: #000;
}

.row_item_cart {
	background: #fff;
	height: 25px;
}

.shopping_title {
	background: url(../images/bg_title_cart.gif) repeat-x;
	border: 1px solid #ccc;
}

.price_rev {
	color: #009933;
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}

.boxShipping p {
	padding: 5px 0px;
	line-height: 18px;
}

.boxShipping input {
	vertical-align: middle;
}

.member_navation {
	border: 1px solid #F7941D;
	text-align: center;
	padding: 5px;
}

.font_username {
	font-weight: bold;
	color: #FF0000;
}

.mess_comment {
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
}

.box_shopping {
	padding: 2px;
	border-left: 1px solid #373737;
	border-right: 1px solid #373737;
	border-bottom: 1px solid #373737;
}

.price_rev {
	color: #009933;
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}

.boxShipping p {
	padding: 5px 0px;
	line-height: 18px;
}

.boxShipping input {
	vertical-align: middle;
}

.member_navation {
	border: 1px solid #F7941D;
	text-align: center;
	padding: 5px;
}

.font_username {
	font-weight: bold;
	color: #FF0000;
}

.mess_comment {
	padding: 5px;
	border: 1px solid #313131;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
}

 
 
.code {
	color:#C20006;	
}
  
.order_code {
	color:#F00;
	font-size:20px;
	line-height:30px;
	font-weight:bold;
} 
 
a.btn_print{
 	display: block;
	float: left; 	
	padding:0px 10px;
	height:24px;
	border:1px solid #979797;
	background:#bcbcbc;
	background-image:-moz-linear-gradient(top,#bcbcbc,#a3a1a1);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#bcbcbc),to(#a3a1a1));
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#bcbcbc,endColorStr=#a3a1a1);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#bcbcbc, endColorStr=#a3a1a1)";
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	overflow:visible;
}

a:link.btn_print, a:visited.btn_print, a:active.btn_print{
	color: #ffffff; /*button text color*/
	text-decoration:none;
	font-weight:bold;
}

a.btn_print span{
	background:url(../images/icon_print.png) left no-repeat;
	display: block;
	line-height: 24px;
	text-align:center;
	padding-left:30px;
	padding-right:5px;
}

a.btn_print:hover{ /* Hover state CSS */
	color:#ffffff;
}
a.btn_print:hover span{ /* Hover state CSS */
	color: #ffffff;
}