
.vnt-title h2{
    font-size: 30px;
    line-height: 50px;
    color: #33373b;
}
.icon-home{
    background: none;
    padding:0;
    line-height: 50px;
}

.dashboard-box{
    width: 100%;
    padding-right: 0;
}
.postbox h3{
    background: #8bb949;
    text-shadow: none;
    font-size: 14px;
    line-height: 22px;
    font-family: 'RobotoBold';
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    padding:7px 9px 7px 35px;
    position: relative;
}
.postbox h3:after{
    position: absolute;
    font-family:"fontawesome";
    content:"\f0c9";
    top:7px;
    left: 10px;
}
.postbox .handlediv{
    float: right;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
}
.postbox .handlediv:after{
    position: absolute;
    content:'';
    top: 17px;
    left: 12px;
    border: 6px solid transparent;
    border-top-color: #D4D4D4;
    opacity: 0;
    -webkit-transition:opacity 0.5s ease;
    -moz-transition:opacity 0.5s ease;
    -o-transition:opacity 0.5s ease;
    transition:opacity 0.5s ease;
}
.postbox:hover .handlediv{
    background: none;
}
.postbox:hover .handlediv:after{
    opacity: 1;
}
.dashboard-box table.adminlist{
    border-spacing: 0;
}
.dashboard-box table.adminlist td, table.adminlist th{
    padding: 3px;
}
.dashboard-box table.adminlist tbody tr td{
    border: none;
    border-top: 1px solid #dddddd;
}
.dashboard-box table.adminlist tbody tr:first-child td{
    border-top: none;
}