@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto/RobotoBold.eot');
    src: url('fonts/Roboto/RobotoBold.eot') format('embedded-opentype'),
    url('fonts/Roboto/RobotoBold.woff2') format('woff2'),
    url('fonts/Roboto/RobotoBold.woff') format('woff'),
    url('fonts/Roboto/RobotoBold.ttf') format('truetype'),
    url('fonts/Roboto/RobotoBold.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/Roboto/RobotoRegular.eot');
    src: url('fonts/Roboto/RobotoRegular.eot') format('embedded-opentype'),
    url('fonts/Roboto/RobotoRegular.woff2') format('woff2'),
    url('fonts/Roboto/RobotoRegular.woff') format('woff'),
    url('fonts/Roboto/RobotoRegular.ttf') format('truetype'),
    url('fonts/Roboto/RobotoRegular.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'RobotoRegular';
    color: #777777;
    font-size: 13px;
    line-height: 20px;
    background: url(../images/bg-main-top.png) no-repeat fixed, url(../images/bg-main-bottom.png) no-repeat fixed;
    background-color: #ffffff;
    background-position: 0 0, 100% 100%;

    -webkit-transition:background-position 0.8s ease;
    -moz-transition:background-position 0.8s ease;
    -o-transition:background-position 0.8s ease;
    transition:background-position 0.8s ease;
    overflow-x: hidden;
}
a, a:active, a:link{
    color:#2D2F30;
}
a:hover{
    color: #F77225;
}
.font_err, .font_err a:link, .font_err a:visited, .font_err a:active{
    color: #F77225;
}
td{
    font-family: 'RobotoRegular';
    color: #777777;
    font-size: 13px;
    line-height: 20px;
}
strong{
    font-weight: normal;
    font-family: 'RobotoBold';
}
#vnt-header{
    height: 50px;
    margin-left: 225px;
    background: #33373b;
    color: #ffffff;
    -webkit-transition:margin-left 0.8s ease;
    -moz-transition:margin-left 0.8s ease;
    -o-transition:margin-left 0.8s ease;
    transition:margin-left 0.8s ease;
    min-width: 320px;
}
#vnt-header *{
    box-sizing: border-box;
}
#vnt-header .headerLeft{
    float: left;
}
#vnt-header .headerRight{
    float: right;
}
#vnt-menuTop li {
    height: 50px;
    width: 50px;
    float: left;
    border-right: 1px solid #515558;
    font-size: 14px;
    color: #ffffff;
}
#vnt-menuTop li:first-child{
    border-left: 1px solid #515558;
}
#vnt-menuTop li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #ffffff;
    -webkit-transition:background-color 0.5s ease;
    -moz-transition:background-color 0.5s ease;
    -o-transition:background-color 0.5s ease;
    transition:background-color 0.5s ease;
    position: relative;
}
#vnt-menuTop li a:hover{
    background-color: #484b4f;
    text-decoration: none;
}
#vnt-menuTop li a:focus{
    outline: 0;
}
#vnt-menuTop li a[data-title]{
    position:relative;
}
#vnt-menuTop li a[data-title]:after{
    content:"";
    position:absolute;
    margin-top: -4px;
    top:100%;
    left:15px;
    opacity:0;
    visibility: hidden;
    white-space:nowrap;
    -webkit-transition:0.25s linear opacity;
    -moz-transition:0.25s linear opacity;
    transition:0.25s linear opacity;
    border: 7px solid transparent;
    border-bottom-color: #ffffff;
}
#vnt-menuTop li a[data-title]:hover:after{
    opacity:1;
    visibility: visible;
}
#vnt-menuTop li a[data-title]:before{
    content:attr(data-title);
    background:#ffffff;
    padding:5px 15px;
    position:absolute;
    margin-top: 10px;
    border: 1px solid #ffffff;
    top:100%;
    left:5px;
    opacity:0;
    visibility: hidden;
    white-space:nowrap;
    -webkit-transition:0.25s linear opacity;
    -moz-transition:0.25s linear opacity;
    transition:0.25s linear opacity;
    font-size: 13px;
    line-height: 20px;
    color: #33373b;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}
#vnt-menuTop li a[data-title]:hover:before{
    opacity:1;
    visibility: visible;
}
#vnt-menuTop li i{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
#vnt-menuTop li.logoMenu {
    position: relative;
    cursor: pointer;
}
#vnt-menuTop li.logoMenu img {
    position: absolute;
    max-width: 40px;
    width: 100%;
    left: 50%;
    top: 50%;

    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
#vnt-menuTop li.logoMenu[data-title]:after{
    content:"";
    position:absolute;
    margin-top: -4px;
    top:100%;
    left:15px;
    opacity:0;
    visibility: hidden;
    white-space:nowrap;
    -webkit-transition:0.25s linear opacity;
    -moz-transition:0.25s linear opacity;
    transition:0.25s linear opacity;
    border: 7px solid transparent;
    border-bottom-color: #ffffff;
}
#vnt-menuTop li.logoMenu[data-title]:hover:after{
    opacity:1;
    visibility: visible;
}
#vnt-menuTop li.logoMenu[data-title]:before{
    content:attr(data-title);
    background:#ffffff;
    padding:5px 15px;
    position:absolute;
    margin-top: 10px;
    border: 1px solid #ffffff;
    top:100%;
    left:5px;
    opacity:0;
    visibility: hidden;
    white-space:nowrap;
    -webkit-transition:0.25s linear opacity;
    -moz-transition:0.25s linear opacity;
    transition:0.25s linear opacity;
    font-size: 13px;
    line-height: 20px;
    color: #33373b;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}
#vnt-menuTop li.logoMenu[data-title]:hover:before{
    opacity:1;
    visibility: visible;
}
#vnt-menuTop li.divmenu i{
    margin-top: -5px;
}
#vnt-menuTop li.divmenu .spantitle{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
}
#vnt-menuTop:after{
    content:"";
    display: block;
    clear: both;
}
.top_admin{
    float: left;
    margin: 0 15px;
    padding: 7px 0;
    display: table;
    position: relative;
    height: 50px;
}
.top_admin .admin_title{
    cursor: pointer;
}
.top_admin .admin_title .aImg {
    width: 36px;
    height: 36px;
    background: #c5c5c5;
    margin-right: 5px;
    float: left;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    line-height: 36px;
    text-align: center;
    overflow: hidden;
}
.top_admin .admin_title .aImg i {
    font-size: 36px;
    padding-top: 7px;
}
.top_admin .admin_title .aImg img{
    width: 100%;
}
.top_admin .admin_title .aTitle{
    float: left;
    line-height: 36px;
    padding-left: 5px;
}
.top_admin .admin_menu{
    position: absolute;
    top: 100%;
    right: 0px;
    margin-top: 10px;
    width: 250px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    min-height: 50px;
    background: #ffffff;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.top_admin.show .admin_menu{
    opacity: 1;
    visibility: visible;
}
.top_admin .admin_menu:after{
    position: absolute;
    content:"";
    top:-19px;
    right: 15px;
    border: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
}
.top_admin .admin_menu:before{
    width: 100%;
    height: 10px;
    content:"";
    position: absolute;
    top: -10px;
    left: 0;
}
.admin_menu .mContent {
    padding: 20px;
    text-align: right;
}
.admin_menu .mContent .mBttom{
    display: inline-block;
    margin:5px;
    font-size: 12px;
    line-height: 20px;
    padding: 10px 15px;
    border: 1px solid #c0c0c0;
    color: #666666;
    font-family: 'RobotoBold';
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.admin_menu .mContent .mBttom:hover{
    text-decoration: none;
    background-color: #33373b;
    border-color:#33373b;
    color: #ffffff;
}
.admin_menu .mContent i {
    display: block;
    font-size: 25px;
    text-align: center;
    margin-bottom: 4px;
}
.admin_menu .mContent a:first-child i {
    color: #8bb949;
}
.admin_menu .mContent a:nth-child(2) i {
    color: #f77225;
}
.admin_menu .mTitle{
    font-size: 15px;
    line-height: 25px;
    padding: 8px 20px;
    color: #777777;
    background-color:#f5f5f5;
    font-family: 'RobotoBold';
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    -ms-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
}
.top_langues{
    float: left;
    margin: 0 15px;
    padding: 7px 0;
    display: table;
    position: relative;
    height: 50px;
}
.top_langues .langues_title{
    cursor: pointer;
}
.top_langues .langues_title .aImg{
    width: 36px;
    height: 36px;
    overflow: hidden;
    margin-right: 5px;
    display: table-cell;
    overflow: hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
}
.top_langues .langues_title .aImg img{
    width: 100%;
}
.top_langues .langues_title .aTitle{
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
.top_langues .langues_menu{
    position: absolute;
    top: 100%;
    right: 0px;
    margin-top: 10px;
    width: 250px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    min-height: 50px;
    background: #ffffff;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.top_langues.show .langues_menu{
    opacity: 1;
    visibility: visible;
}
.top_langues .langues_menu:after{
    position: absolute;
    content:"";
    top:-19px;
    right: 15px;
    border: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
}
.top_langues .langues_menu:before{
    width: 100%;
    height: 10px;
    content:"";
    position: absolute;
    top: -10px;
    left: 0;
}
.langues_menu .mContent{
    padding: 20px;
}
.langues_menu .mContent .mBttom{
    display: inline-block;
    margin:5px;
    font-size: 12px;
    line-height: 20px;
    padding: 10px 15px;
    border: 1px solid #c0c0c0;
    color: #666666;
    font-family: 'RobotoBold';
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.langues_menu .mContent .mBttom:hover{
    text-decoration: none;
    background-color: #33373b;
    border-color:#33373b;
    color: #ffffff;
}
.langues_menu .mTitle{
    font-size: 15px;
    line-height: 25px;
    padding: 8px 20px;
    color: #777777;
    background-color:#f5f5f5;
    font-family: 'RobotoBold';
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    -ms-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
}
.langues_menu .lMenu li{
    display: block;
    margin-bottom: 8px;
}
.langues_menu .lMenu li a{
    display: table;
    width: 100%;
    color: #777777;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.langues_menu .lMenu li a:hover{
    color: #927865;
    text-decoration: none;
}
.langues_menu .lMenu li .mImg{
    width: 35px;
    height: 35px;
    display: table-cell;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
}
.langues_menu .lMenu li .mImg img{
    width: 100%;
}
.langues_menu .lMenu li .mText{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.list-icon{
    float: left;
}
.list-icon ul:after{
    display: block;
    content:"";
    clear: both;
}
.list-icon ul li{
    width: 50px;
    height: 50px;
    float: left;
    padding: 7px;
    position: relative;
    cursor: pointer;
}
.list-icon ul li .div_icon{
    width:36px;
    height: 36px;
    position: relative;
    border: 1px solid #7b7c7e;
    color: #7b7c7e;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    padding-top: 7px;
}
.list-icon ul li .div_icon .count_news{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    font-size:11px;
    line-height: 18px;
    top: -5px;
    right: -5px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    color: #ffffff;
    background: #f77225;
    overflow: hidden;
}
.list-icon ul li.show .div_icon,
.list-icon ul li:hover .div_icon{
    border-color: #8bb949;
    color: #8bb949;
}
.list-icon ul li .sub_info{
    position: absolute;
    top: 100%;
    right: 0px;
    margin-top: 10px;
    width: 390px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    min-height: 50px;
    background: #ffffff;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}
.list-icon ul li.show .sub_info{
    opacity: 1;
    visibility: visible;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.list-icon ul li .sub_info:after{
    position: absolute;
    content:"";
    top:-19px;
    right: 15px;
    border: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
}
.list-icon ul li .sub_info:before{
    width: 100%;
    height: 10px;
    content:"";
    position: absolute;
    top: -10px;
    left: 0;
}
.list-icon ul li .sub_info .mContent{
    padding: 20px;
}

.list-icon ul li .sub_info .mTitle{
    font-size: 15px;
    line-height: 25px;
    padding: 8px 20px;
    color: #777777;
    background-color:#f5f5f5;
    font-family: 'RobotoBold';
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    -ms-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
}
.listGadget .rowGadget{
    padding: 10px 0;
    border-top: 1px solid #f2f2f2;
}
.listGadget .rowGadget:first-child{
    border-top: none;
}
.listGadget .rowGadget:after{
    display: block;
    content:"";
    clear: both;
}
.listGadget .rowGadget .item{
    width: 33%;
    float: left;
    text-align: center;
}
.listGadget .rowGadget .item a{
    color: #f9a43e;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.listGadget .rowGadget .item a.text-green{
    color: #67BF74;
}
.listGadget .rowGadget .item a.text-purple{
    color: #8d82b5;
}
.listGadget .rowGadget .item a.text-red{
    color: #F16364;
}
.listGadget .rowGadget .item a.text-yellow{
    color: #F9A43E;
}
.listGadget .rowGadget .item a.text-primary{
    color: #428bca;
}
.listGadget .rowGadget .item a.text-info{
    color: #4DC5F9;
}
.listGadget .rowGadget .item a:focus,
.listGadget .rowGadget .item a:hover{
    color: #2A6496;
    text-decoration: none;
}
.listGadget .rowGadget .item .i-icon i{
    font-size: 24px;
}
.listGadget .rowGadget .item .i-title{
    color: #b2b2b2;
}
.info_ln{
    display: none;
}
.info_ln .lMenu li{
    display: block;
    margin-bottom: 8px;
    width: auto;
    height: 100%;
    padding: 7px 10px;
}
.info_ln .lMenu li a{
    display: table;
    width: 100%;
    color: #777777;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.info_ln .lMenu li a:hover{
    color: #927865;
    text-decoration: none;
}
.info_ln .lMenu li .mImg{
    width: 35px;
    height: 35px;
    display: table-cell;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border-radius:50%;
    overflow: hidden;
}
.info_ln .lMenu li .mImg img{
    width: 100%;
}
.info_ln .lMenu li .mText{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.info_support{
    display: none;
}
.info_support .lMenu li{
    display: block;
    margin-bottom: 8px;
    width: auto;
    height: 100%;
    padding: 7px 10px;
}
.info_support .lMenu li a{
    display: table;
    width: 100%;
    color: #777777;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
.info_support .lMenu li a:hover{
    color: #927865;
    text-decoration: none;
}
.info_support .lMenu li .mImg{
    width: 20px;
    height: 20px;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}
.info_support .lMenu li .mImg i{
    font-size: 20px;
}
.info_support .lMenu li .mText{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
#vnt-menu{
    position: fixed;
    width: 225px;
    top: 0px;
    left: 0px;
    bottom:0;
    background-color:#1d2328;
    margin:0;
    -webkit-transition:left 0.8s ease;
    -moz-transition:left 0.8s ease;
    -o-transition:left 0.8s ease;
    transition:left 0.8s ease;
    z-index: 100;
}
/*===BEGIN: SCROLL BAR===*/
#vnt-menu .slimScrollBar{
    background: rgba(255,255,255,0.8) !important;
    display: block !important;
    opacity: 0.4 !important;
}
/*===END: SCROLL BAR===*/
#vnt-menu *{
    box-sizing: border-box;
}
.logo-company{
    height: 50px;
    padding: 8px 20px;
    border-bottom:1px solid #2d2f30;
    background: url(../images/bg-logotop.jpg) no-repeat 0 0;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    text-align: center;
}
.logo-company img{
    max-width: 185px;
    max-height: 33px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
#admin-menu{
    padding-top:0;
}
#admin-menu li.menu-item{
    padding-bottom: 0;
}
#admin-menu .menu-title{
    min-height: 40px;
    background: none;
    width: 100%;
    border: none;
    border-bottom:1px solid #2d2f30;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    font-weight: normal;
    padding: 0;
    color: #cccccc;
    -webkit-transition:background-color 0.8s ease;
    -moz-transition:background-color 0.8s ease;
    -o-transition:background-color 0.8s ease;
    transition:background-color 0.8s ease;
    position: relative;
}
#admin-menu .menu-title:before{
    position: absolute;
    font-family:"FontAwesome";
    content:"\f067";
    top:10px;
    left: 20px;
    font-size: 14px;
    z-index: 1;
}
#admin-menu .menu-title.active:before{
    content:"\f068";
}
#admin-menu .menu-title h2{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #cccccc;
    padding:9px 10px 9px 40px;
    z-index: 1;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#admin-menu .menu-title.active,
#admin-menu .menu-title:hover{
    background-color:#8bb949;
    color: #ffffff;
}
#admin-menu .menu-title.active h2,
#admin-menu .menu-title:hover h2{
    color: #ffffff;
}
#admin-menu .menu-title h2:focus{
    background: none;
}
#admin-menu .sub-menu{
    border: none;
    margin-top: 0;
    background: #393f44;
}
#admin-menu .sub-menu ul{
    padding: 0;
}
#admin-menu .sub-menu li{
    padding: 0;
    background: none;
    font-size: 14px;
    line-height: 22px;
    color: #cccccc;
    font-family: 'RobotoRegular';
    border-bottom:1px solid #3f4245;
    -webkit-transition:background-color 0.8s ease, border-left 0.8s ease;
    -moz-transition:background-color 0.8s ease, border-left 0.8s ease;
    -o-transition:background-color 0.8s ease, border-left 0.8s ease;
    transition:background-color 0.8s ease, border-left 0.8s ease;
    position: relative;
}
#admin-menu .sub-menu li:before{
    position: absolute;
    font-family:"FontAwesome";
    content:"\f105";
    top:10px;
    left: 25px;
    font-size: 14px;
}
#admin-menu .sub-menu li a{
    font-size: 14px;
    line-height: 22px;
    color: #cccccc;
    padding:9px 10px 9px 35px;
    font-weight: normal;
    -webkit-transition:background-color 0.8s ease,border-color 0.8s ease;
    -moz-transition:background-color 0.8s ease,border-color 0.8s ease;
    -o-transition:background-color 0.8s ease,border-color 0.8s ease;
    transition:background-color 0.8s ease,border-color 0.8s ease;
    border-left: 5px solid transparent;
}
#admin-menu .sub-menu li.current{
    background: none;
}
#admin-menu .sub-menu li.current a,
#admin-menu .sub-menu li a:hover{
    background: #1d2328;
    color: #f77225;
    border-left: 5px solid #f77225;
}
#admin-menu .sub-menu li.current:before,
#admin-menu .sub-menu li:hover:before{
    color: #f77225;
    font-size: 18px;
    content:"";
}
.box-menu{
    border: none;
    background: url(../images/bg-logobottom.jpg) repeat-y 0 0;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.box-menu img{
    max-width: 182px;
    max-height: 66px;
}
.cms_version{
    padding: 20px 20px 10px 20px;
    position: relative;
    font-size: 13px;
    line-height: 20px;
    font-family: 'RobotoBold';
    text-align: center;
    color: #888888;
    background: url("../images/bg-logobottom_copy.png") no-repeat left top;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: 76px;
}
/*.cms_version:after{*/
/*position: absolute;*/
/*content:"";*/
/*bottom: 0;*/
/*right:0;*/
/*border:0px solid transparent;*/
/*border-left-width: 40px;*/
/*border-bottom: 40px solid #f5f5f5;*/
/*}*/
.cms_version span{
    color: #888888;
}
/*BEGIN: EFFECT*/
.waves-effect{
    position: relative;
    overflow: hidden;
}
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}
.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}
.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}
.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}
.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}
.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}
.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}
/*END: EFFECT*/
#vnt-content{
    box-sizing: border-box;
    min-width: 320px;
    -webkit-transition:margin-left 0.8s ease;
    -moz-transition:margin-left 0.8s ease;
    -o-transition:margin-left 0.8s ease;
    transition:margin-left 0.8s ease;
}
#vnt-footer{
    box-sizing: border-box;
    min-width: 320px;
    margin-left: 225px;
    background: none;
    color: #777777;
    padding-top: 10px;
    border-top: 5px solid rgba(0,0,0,0.1);

    -webkit-transition:margin-left 0.8s ease;
    -moz-transition:margin-left 0.8s ease;
    -o-transition:margin-left 0.8s ease;
    transition:margin-left 0.8s ease;
}
.chose-skin{
    display: none;
}
.copyright{
    margin-left: 0;
    text-align: left;
    white-space: nowrap;
}
.vnt-toolbar{
    border: none;
}
/*==BEGIN: ELEMENT==*/
.box_content{
    border: none;
    background: none;
    overflow-x: auto;
}
.vnt-title{
    border: none;
    background: none;
    font-size: 30px;
    line-height: 50px;
    font-family: 'RobotoBold';
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}
.vnt-title h2{
    font-size: 30px;
    line-height: 50px;
    color: #333333;
}
.vnt-title .vnt-lang{
    padding-top: 0;
}
.vnt-toolbar{
    background: transparent;
}
.bg_tbl,
.tableborder{
    border: 1px solid #dddddd;
    background: #fff;
}
.bg_tab{
    background: transparent;
}
table.adminlist{
    border-collapse: collapse;
    border-spacing: 5px;
}
table.adminlist tbody tr td{
    border: 1px solid #dddddd;
}
table.adminlist > tbody > tr > td:last-child {
    min-width: 150px !important;
}
table.adminlist > tbody > tr > td:first-child {
    padding-left: 10px;
}
table.adminlist table {
    border-collapse: collapse;
}
table.adminlist thead th{
    background:#ffffff ;
    border: 1px solid #dddddd;
    padding: 5px;
}
table.adminlist thead th:first-child { text-align: center}
th{
    font-family: 'RobotoBold';
    font-weight: normal;
}

table.adminlist tbody tr td:last-child img {
    min-width: 30px !important;
}
table.adminlist tbody tr td:not(:last-child) img {
    max-width: 100% !important;
}
table.adminlist tbody tr td:last-child a img {
    max-width: 30px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
table.adminlist tbody tr td:last-child a:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2);
}
.button{
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-weight: normal;
    font-family: 'RobotoBold';
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -ms-border-radius:0px;
    border-radius:0px;
    border: 0px solid #c0c0c0;
    padding: 5px 15px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    background: #8bb949;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.button:hover{
    color: #ffffff;
    background: #33373b;
}
.button:focus,
.button:active{
    outline: none;
}
input[type=text],
input[type=password],
select{
    min-height: 30px !important;
    box-sizing: border-box;
}

input[type=text],
input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    padding-left: 5px;
}
input[type=submit],
input[type=reset] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    padding: 5px;
}
input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus,
textarea:active,
textarea:focus,
select:active,
select:focus{
    outline: 0;
    border-color: #8bb949;
    -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    box-shadow:0px 0px 6px rgba(0,0,0,0.2);
}
.pagecur {
    display: inline-block;
    font-weight: normal;
    font-family: 'RobotoBold';
    padding: 10px 15px;
    color: #ffffff;
    background: #33373b;
    border-color: #33373b;
    margin-bottom: 4px;
}
a.pagelink {
    padding: 10px 15px;
    color: #ffffff;
    background: #f77225;
    border-color: #f77225;
    display: inline-block;
    margin-bottom: 4px;

    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
a.pagelink font {
    color: #ffffff !important;
}
a.pagelink:hover{
    background: #33373b;
    border-color: #33373b;
    color: #ffffff;
    text-decoration: none;
}
.spancheckbox{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 0;
    margin-bottom:0;
    margin-right: 8px;
}
.spancheckbox input[type=checkbox]{
    margin-left: 0;
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 1;
    opacity: 0;
}
.spancheckbox input:focus{
    outline: 0;
}
.spancheckbox:after{
    position: absolute;
    font-family: "Fontawesome";
    content:"";
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #b9b9b9;
    color: #8bb949;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    box-sizing: border-box;
}
.spancheckbox.checked:after{
    content:"\f00c";
}
.vnt-tool-menu { text-align: right;}
.font_nav{
    /*display: inline-block;
    background: #8bb949;*/
    color: #ffffff;
    font-weight: normal;

}
.font_nav a, .font_nav a:link, .font_nav a:visited, .font_nav a:active{
    background: #8bb949;
    color: #ffffff;
    padding-right: 10px;
    font-weight: normal;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    -webkit-transition:background 0.5s ease;
    -moz-transition:background 0.5s ease;
    -o-transition:background 0.5s ease;
    transition:background 0.5s ease;

}
.font_nav a:hover{
    background: #33373b;
    color: #ffffff;
}

.font_lang a:hover,
.font_lang_act, .font_lang_act a:link, .font_lang_act a:visited, .font_lang_act a:active{
    color: #F77225;
}
.selectAction{
    position: relative;
}
.selectAction *{
    box-sizing: border-box;
}
.selectAction .selectTitle{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    background-color: #8bb949;
    padding: 3px 20px;
    cursor: pointer;
}
.selectAction .selectContent{
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0%;
    z-index: 100;
    margin-top: 4px;
    background: #ffffff;
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,0.3);
    box-shadow:2px 2px 2px rgba(0,0,0,0.3);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.selectAction.show .selectContent{
    opacity: 1;
    visibility: visible;
}
.selectAction .selectContent button{
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    text-align: left;
    padding-left: 40px;
    background: #ffffff;
    color: #666666;
    position: relative;
    font-weight: normal;
}
.selectAction .selectContent button:before{
    position: absolute;
    font-family:fontawesome;
    top: 5px;
    left: 10px;
    font-size: 18px;
    color:#f9a43e;
}
.selectAction .selectContent button.icon-an:before{
    color: #f9a43e;
}
.selectAction .selectContent button.icon-hien:before{
    color:#33373B;
}
.selectAction .selectContent button.icon-capnhat:before{
    color:#1F3853;
}
.selectAction .selectContent button.icon-dup:before{
    color:#0AA699;
}
.selectAction .selectContent button.icon-del:before{
    color:#F35958;
}
.selectAction .selectContent button:hover:before{
    color: #2A6496;
}
.selectAction .selectContent button:hover{
    color: #2A6496;
}
.search-select .select {
    background: #000;
    border: 1px solid rgba(255,255,255,0.1);
    padding-left: 10px;
    width: 100%;
    height: 40px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(255, 255, 255)"></polygon></svg>');
    background-size: 9px 6px;
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selectLang.sod_select {
    width: 100%;
    /*border: 1px solid rgba(255,255,255,0.1);*/
    border: 1px solid rgba(255,255,255,0.5);
    background: #000;
    padding: 9px 0 9px 10px;
    height: 40px;
    line-height: 22px;
    font-weight: normal;
    color: #ccc;
}
.selectLang.sod_select:hover,
.selectLang.sod_select.open,
.selectLang.sod_select.focus {
    border: 1px solid #8BB949;
}
.selectLang.sod_select::before {
    content: none;
}
.selectLang.sod_select::after {
    bottom: 9px;
}
.selectLang.sod_select .sod_list_wrapper {
    width: 100%;
    border: 1px solid rgba(255,255,255,0.1);
    left: 3px;
}

input:-webkit-autofill {
    color: #fff !important;
}


/*------- 13/01/2016-------*/
.ui-widget-header {
    border-bottom-color: #ccc !important;
}
.ui-tabs .ui-tabs-nav li {
    margin-bottom: 0px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    background: #fff !important;
    border-width: 3px 1px 1px 1px !important;
    border-color: #fff #fff #cccccc #fff !important;
}
.ui-tabs .ui-tabs-nav li a {
    color: #777777 !important;
    font-family: 'RobotoBold';
    font-size: 13px;
    font-weight: normal !important;
    padding: 11px 1.2em !important;
    line-height: 17px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0px;
    margin-bottom: -1px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active {
    background: #fff !important;
    background-image: none !important;
    border-width: 3px 1px 1px 1px !important;
    border-color: #f77225 #cccccc #fff #cccccc !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-state-default.ui-corner-top.ui-state-hover a{
    color: #f77225 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    line-height: 18px;
}

.button[name='btnSearch'] {
    padding-left: 36px;
    background: url("../images/f_search.png") no-repeat 12px 8px #8BB949;
}

.c_skin {
    padding: 0 20px;
}
.c_skin div.c_title {
    background: url("../images/arr_c_skin.png") no-repeat left center;
    line-height: 22px;
    padding: 8px 0 8px 20px;
    border-bottom: 2px solid rgba(15,42,52,0.5);
    color: #777777;
    font-size: 14px;
    font-family: 'RobotoBold';
    text-transform: uppercase;
}
.skin_row {
    padding: 30px 0;
    border-bottom: 1px solid #cfd4d7;
}
.skin_row:last-child {
    border-bottom: none;
}
.skin_row label {
    line-height: 40px;
}
.skin_row input {
    float: left;
    height: 14px;
    width: 14px;
    margin-top: 13px;
}
.skin_row img {
    float: left;
    margin: 0 20px 0 15px;
}
.c_skin_footer {
    background: #f2f2f2;
    padding: 25px;
    margin: -1px;
    text-align: right;
}
/*------- // 13/01/2016 -------*/

/*------- 14/01/2016 -------*/
.container-tabs .ui-tabs-nav li {
    position: relative;
    float: left;
    /*border-bottom-width: 0px !important;*/
    margin: 0px 0.2em -1px 0px;
    padding: 0px;
    background: #fff;
    border-style: solid;
    border-width: 3px 1px 1px 1px;
    border-color: #fff #fff #cccccc #fff;
}
.container-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: #fff;
    background-image: none;
    border-width: 3px 1px 1px 1px;
    border-color: #f77225 #cccccc #fff #cccccc;
}
.container-tabs .ui-tabs-nav li a {
    color: #777777;
    font-family: 'RobotoBold';
    font-size: 13px;
    font-weight: normal;
    padding: 11px 1.2em;
    line-height: 17px;
    background: none;
}
.container-tabs .ui-tabs-nav li a span {
    background: none;
    padding: 0;
}
.container-tabs .ui-tabs-nav li.ui-tabs-selected a {
    line-height: 19px;
}
.container-tabs .ui-tabs-panel {
    border-top: 1px solid #cccccc;
    background: #fff;
}
.warning-alert.bootstrap-dialog.type-primary .modal-header {
    background: #D9534F;
}
.warning-alert .modal-dialog {
    max-width: 520px;
    width: 100%;
}
/*------- // 14/01/2016 -------*/



/*==END: ELEMENT==*/
@media screen and (max-width:768px){
    body{
        -webkit-background-size: 50% , 50%;
        -moz-background-size: 50% , 50%;
        -o-background-size: 50% , 50%;
        background-size: 50% , 50%;
    }
    table.adminlist > tbody > tr > td:last-child {
        min-width: 82px !important;
    }
    table.adminlist > tbody > tr > td:last-child a {
        display: inline-block;
        margin: 3px;
        word-spacing: 0;
        letter-spacing: 0;
    }
    table.adminlist > tbody > tr > td:last-child a:nth-child(2) {
        margin-left: 6px;
    }
    .top_langues{
        display: none;
    }
    #vnt-footer,
    #vnt-content,
    #vnt-header{
        width: 100%;
    }
    #vnt-menuTop li{
        /*display: none;*/
    }
    #vnt-menuTop li.divmenu{
        display: block;
    }
    .top_admin .admin_title .aTitle{
        display: none;
    }
    .info_support,
    .info_ln{
        display: block;
    }
}
@media screen and (max-width:480px){
    .list-icon ul li .sub_info{
        width: 320px;
    }
}
@media screen and (max-width:360px){
    .list-icon ul li .sub_info{
        width: 100%;

    }
    .list-icon ul li{
        position: static;
    }
    #vnt-header{
        position: relative;
    }
    .list-icon ul li .sub_info:after{
        display: none;
    }
    .list-icon ul li .div_icon{
        position: relative;
    }
    .list-icon ul li .div_icon:after{
        position: absolute;
        content:"";
        top:100%;
        right: 6px;
        border: 10px solid transparent;
        border-bottom: 10px solid #f5f5f5;
        opacity: 0;
        visibility: hidden;
    }
    .list-icon ul li.show .div_icon:after{
        opacity: 1;
        visibility: visible;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .top_admin .admin_title{
        position: relative;
    }
    .top_admin .admin_title:after{
        position: absolute;
        content:"";
        top:100%;
        right: 6px;
        border: 10px solid transparent;
        border-bottom: 10px solid #f5f5f5;
        opacity: 0;
        visibility: hidden;
    }
    .top_admin.show .admin_title:after{
        opacity: 1;
        visibility: visible;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
    .top_admin{
        position: static;
    }
    .top_admin .admin_menu{
        width: 100%;
    }
    .top_admin .admin_menu:after{
        display: none;
    }
}




/*2017*/

.box-manage {
    background: #fff ;
    border: 1px solid #dddddd;
}
/*Table*/
#table_list.table { font-size: 12px; margin-bottom: 0}
#table_list.table > thead > tr {
    color:#707070;font-weight:400;background:repeat-x #F2F2F2;background-image:-webkit-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image:-o-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image:linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0)
}



#table_list.table > thead > tr > th {
    border:1px solid #dedede ;
    color:#333333;
    font-weight:bold;
    vertical-align: middle !important;
}
#table_list.table td, #table_list.table th {
    vertical-align: middle;
}
#table_list.table > thead > tr > th:first-child { text-align: center}
#table_list.table > tbody > tr > td:last-child {
    min-width: 150px !important;
}

#table_list.table tbody tr.row_select 	{ background: #F4EAD2;  }
#table_list.table tbody tr.row_select td { background: #F4EAD2;  }

.nav-action {
    padding: 5px;
    position: relative;
    padding-left: 40px;
}
.nav-action.nav-top::before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f064";
    left:13px;
    top: 15px;
    font-size: 16px;
}
.nav-action.nav-bottom::before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f064";
    left:13px;
    top: 5px;
    font-size: 16px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.action-buttons {
    position: relative;
    min-height: 30px;
    text-align: center;
}
.action-buttons a{ background: #666; height: 30px; width: 30px; text-align: center;  margin:2px 1.5px;display:inline-block; -webkit-transition:all .1s;-o-transition:all .1s;transition:all .1s}
.action-buttons a:hover{text-decoration:none; -moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
.action-buttons a i { font-size: 20px; line-height: 30px; color: #ffffff !important}
.action-buttons a.i-duplicate {   background: #0275d8;}
.action-buttons a.i-edit { background: #5cb85c;}
.action-buttons a.i-del { background: #d9534f;}
.action-buttons a.i-display { background: #292b2c;}



#table_list.table tbody tr td:last-child img {
    min-width: 30px !important;
}
#table_list.table tbody tr td:not(:last-child) img {
    max-width: 100% !important;
}
#table_list.table tbody tr td:last-child a img {
    max-width: 30px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#table_list.table tbody tr td:last-child a:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2);
}


table.admintable {
    border-collapse:separate !important;
}

table.tableborder {
    border-collapse:separate !important;
}

.vnt-title .vnt-lang img {max-height: 16px !important;}

#system-message.fade {
    opacity:1 ;
}


.form-control {
    display: inline-block !important;
    width: auto;
    vertical-align : middle;
    font-size: 12px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    height: 30px;
    box-shadow:none ;

}
.form-control:active,
.form-control:focus,
.form-control:active,
.form-control:focus{
    outline: 0;
    border-color: #8bb949;
    -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    box-shadow:0px 0px 6px rgba(0,0,0,0.2);
}

.w200 { width: 200px; }
.w350 { width: 235px; }